/* -----------------------------------------
   Icons
   ----------------------------------------- */

.icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.icon-27-23 {
    height: 23px;
    width: 27px;
}

.icon-15-16 {
    height: 16px;
    width: 15px;
}

.icon-15-15 {
    height: 15px;
    width: 15px;
}

.icon-20-20 {
    height: 20px;
    width: 20px;
}

.icon-29-27 {
    height: 27px;
    width: 29px;
}

.icon-31-34 {
    height: 34px;
    width: 31px;
}

.icon-32-34 {
    height: 34px;
    width: 32px;
}

.icon-33-34 {
    height: 34px;
    width: 33px;
}

.icon-57-63 {
    height: 63px;
    width: 57px;
}

.icon-59-61 {
    height: 61px;
    width: 59px;
}

.icon-56-61 {
    height: 61px;
    width: 56px;
}

.icon-64-63 {
    height: 63px;
    width: 64px;
}

.icon-star {
    line-height: 0;
    padding-left: 15px;
}

.icon-6-12 {
    height: 12px;
    width: 6px;
}

.icon-27-24 {
    height: 24px;
    width: 27px;
}

.icon-25-25 {
    height: 25px;
    width: 25px;
}

.icon-31-22 {
    height: 22px;
    width: 31px;
}

.icon-22-21 {
    height: 21px;
    width: 22px;
}

.icon-48-36 {
    height: 36px;
    width: 48px;
}

.icon-15-14 {
    height: 14px;
    width: 15px;
}

.icon-10-13 {
    height: 13px;
    width: 10px;
}

.icon-11-12 {
    height: 12px;
    width: 11px;
}

.icon-46-40 {
    height: 40px;
    width: 46px;
}

.icon--21-17 {
    height: 17px;
    width: 21px
}

.icon--9-9 {
    height: 9px;
    width: 9px;
}

.icon--11-11 {
    height: 11px;
    width: 11px;
}