/* -----------------------------------------
   Header
   ----------------------------------------- */

.header {
    background-color: #fff;
    box-shadow: inset 0px -2px 0 #f6f6f6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1015;
}

.header-inner {
    align-items: center;
    display: flex;
    height: 55px;
    max-width: 1138px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 25px;
    position: relative; 

    @include breakpoint(min-phone) {
        height: 70px;
    }
}

//header left elements
.header-left {
    align-items: center;
    display: flex;
}

.header-logo {
    flex-shrink: 0;
}

.header-locations {
    font-size: 12px;
    font-weight: 500;
    display: none;

    @include breakpoint(min-tablet-small) {
        display: inherit;
    }
}

.header-search-field {
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.161);
    margin-left: 40px;
    margin-right: 20px;
    padding: 8px 13px;
    display: none;
    
    @include breakpoint(tablet-small) {

        .search-is-active & {
            display: block;
            position: absolute;
            top: calc(100% + 5px);
            background-color: #fff;
            left: 25px;
            right: 25px;
        }
    }
    
    @include breakpoint(min-tablet-small) {
        display: flex;
    }

    .header-search-input {
        font-size: 12px;
        max-width: 100%;
        width: 180px;
    }
}

.header-search-icon {
    margin-right: 10px;
}

//header right elements
.header-right {
    align-items: center;
    display: flex;
}

.header-right-search {

    @include breakpoint(min-tablet-small) {
        display: none;
    }
}

.header-phone-text {
    font-size: 12px;
    display: none;

    @media screen and (min-width: 1050px) {
        display: block;
    }

    &:after {
        content: '';
        background-color: rgba(145, 141, 141, .4);
        height: 34px;
        display: inline-block;
        margin: 0 13px;
        vertical-align: middle;
        width: 1px;
    }
}

.header-phone {
    color: $base-title-color;
    display: none;
    font-size: 16px;
    font-weight: 600;

    @include breakpoint(min-tablet) {
        display: block;
    }
}

.header-quote-button {
    background-color: $color-primary;
    border-radius: 14px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    padding: 3px 10px;

    @include breakpoint(min-tablet) {
        padding: 5px 24px;
        margin-left: 20px;
    }
}

//Burger menu button
.header-menu-button {
    display: block;
    position: relative;
    height: 20px;
    margin-left: 15px;
    width: 25px;

    @include breakpoint(min-tablet) {
        margin-left: 40px;
    }
}

.header-menu-button-line {
    background-color: $color-secondary;
    display: inline-block;
    height: 2px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s ease;
    width: 25px;

    .menu-is-active & {
        background-color: transparent;
    }
    
    &:before, 
    &:after {
        content:'';
        background-color: $color-secondary;
        display: block;
        width: 25px;
        height: 2px;
        position: absolute;
        transition: all .25s ease;

        .menu_active & {
            top: 0;
        }
    }

    &:before {
        top: -7px;

        .menu-is-active & {
            top: 2px;
            transform: rotate(45deg);
        }
    }

    &:after {
        top: 7px;

        .menu-is-active & {
            top: 2px;
            transform: rotate(-45deg);
        }
    }
}


//header nav
.header-nav {
    display: none;
    left: 25px;
    position: absolute;
    padding: 25px 0;
    right: 25px;
    top: 100%;

    @include breakpoint(phone) {
        background-color: #fff;
        left: 0;
        max-height: 100vh;
        overflow-y: auto;
        padding: 25px;
        right: 0;
    }

    .menu-is-active & {
        display: grid;
    }

    &:before {
        content: '';
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.161);
        left: -1000px;
        right: -1000px;
        bottom: 0;
        top: 0;
        position: absolute;
        z-index: -1;        
    }
}

//Primary nav wrap
.header-nav-primary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 10px;

    @include breakpoint(min-phone) {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    &.is-hidden {
        display: none;
    }
}

//secondary nav wrap
.header-nav-secondary {
    display: none;

    @include breakpoint(phone) {
        display: block;
    }

    &.is-active {
        display: block;
    }
}

.header-nav-secondary-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 40px;
}

.header-nav-item {
    list-style: none;
}

.header-nav-item-title {
    color: $base-title-color;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}

.header-nav-item-link {
    color: #1D1D1C;
    display: flex;
    font-size: 14px;
    margin-bottom: 5px;

    + .header-nav-item-label {
        margin-top: -5px;
    }
}

.header-nav-item-link-last {
    font-size: 14px;
    color: #918D8D;
}

.header-nav-item-label {
    display: block;
    font-size: 11px;
    padding-bottom: 10px;
}

.header-nav-item-text {
    font-size: 14px;
    line-height: normal;
    padding-bottom: 15px;
}

.header-nav-item-social-text {
    margin-left: 10px;
}