/* -----------------------------------------
    Related offices
----------------------------------------- */

.related-offices {
    padding-bottom: 20px;

    @include breakpoint(tablet) {

        .container {
            padding: 0 0 0 36px;
        }
    }

    @include breakpoint(min-tablet) {
        padding-bottom: 127px;
    }
}

.related-offices-title {
    text-align: center;
    padding-bottom: 35px;
}

.related-office-item-inner {
    position: relative;
}

.related-office-item-img {
    width: 100%;
}

.related-office-item-price {
    background-color: rgba(29, 29, 27, 0.827);
    border-radius: 3px;
    bottom: 16px;
    color: #fff;
    font-size: 15px;
    left: 16px;
    padding: 7px 10px;
    position: absolute;
}

.related-office-item-address {
    color: $base-title-color;
    font-size: 15px;
    font-weight: normal;
    padding-top: 15px;
}