/* -----------------------------------------
    Filters
----------------------------------------- */

.filter-active {
    overflow: hidden;

    &:before {
        background-color: rgba(#000, .2);
        bottom: 0;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 40;
    }
}

.filter-nav {
    margin-bottom: 25px;
    
    @include breakpoint(min-phone) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.filter-nav-count {

    @include breakpoint(phone) {
        display: none;
    }
}

.filter-link {
    border: 1px solid rgba(29, 29, 27, 0.502);
    border-radius: 15px;
    color: #1D1D1B;
    display: flex;
    font-size: 12px;
    padding: 5px 20px;
    margin-left: 5px; 
}

.filter-link-sort {

    @include breakpoint(phone) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        
        &:after {
            content: '';
            border: solid #4c4c4c;
            border-width: 0 1px 1px 0;
            height: 9px;
            width: 9px;
            transform: rotate(45deg);
        }
    }
}

.filters {
    display: flex;
}

.filter {
    position: relative;

    @include breakpoint(phone) {

        &:nth-child(1) {
            flex-grow: 1;
        }

        &:nth-child(2) {
            display: none;
        }
    }

    &.is-active {
        
        .filter-fields {
            display: block;
        }
    }
}

.filter-facilities {

    .modal-close {
        
        @include breakpoint(tablet) {
            display: none;
        }

        @include breakpoint(tablet) {
            background: none;
            color: gray;
            display: flex;
            top: 10px;
            right: 10px;
            z-index: 10;
        }
    }
    
    &.is-active {

        .filter-fields {
            bottom: 0;
            left: auto;
            max-width: 100%;
            top: 0;
            right: 0;
            transform: none;
            position: fixed;
            width: 85%;
            
            @include breakpoint(tablet) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 0;
            }

            @include breakpoint(min-tablet) {
                top: 50%;
                left: 50%;
                width: 958px;
                max-width: 90%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .filter-fields-title {
        font-size: 15px;
        padding: 30px 50px 10px;
        
        @include breakpoint(min-phone) {
            font-size: 18px;
            padding: 30px 50px;
        }
    }

    .checkbox-form-group {
        padding-bottom: 0;
    }

    .filter-fields-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 10px;
        padding: 0 50px 35px;

        @include breakpoint(phone) {
            max-height: calc(100vh - 180px);
            overflow-y: auto;
        }
    }

    .filter-facilities-count {
        color: #918D8D;
    }

    .filter-submit {
        padding: 20px 50px;
    }
}

.filter-fields {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(82, 80, 80, 0.161);
    border-radius: 8px;
    display: none;
    left: 0;
    min-width: 273px;
    position: absolute;
    top: calc(100% + 15px);
    z-index: 1050;

    @include breakpoint(min-phone) {
        left: 50%;
        transform: translateX(-50%);
    }
}

.filter-fields-group {
    padding: 15px 25px;
}

.filter-submit {
    align-items: center;
    border-top: 1px solid #E0DFDF;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.filter-clear {
    color: #918D8D;
    font-size: 14px;
}

//Distance filter
.filter-distance {
    padding: 15px 30px 30px;
    
    .ui-widget-header {
        background-color: #3C3D3B !important;
    }

    .ui-slider-horizontal {
        border: none;
        height: 6px;
    }

    .ui-slider-horizontal .ui-slider-handle {
        align-items: center;
        border: none !important;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 2px 15px gainsboro;
        display: flex;
        justify-content: center;
        margin-left: -16px;
        top: -13px;
        text-align: center;
        line-height: 28px;
        width: 30px;

        &:before,
        &:after {
            content: '';
            border: solid #4c4c4c;
            border-width: 0 1px 1px 0;
            height: 7px;
            width: 7px;
        }
        
        &:before {
            transform: rotate(134deg);
        }

        &:after {
            left: 10px;
            transform: rotate(316deg);
        }

        &:focus {
            outline: none;
            background-color: #fff;
        }
    }

    .filter-distance-slider {
        background-color: #DADADA;
    }
    
    .filter-distance-data {
        border: none;
        text-align: center;
        display: block;
        margin: 0 auto 15px;
        font-size: 12px;
        font-weight: 500;

        @include breakpoint(min-phone) {
            font-size: 15px;
            margin: 0 auto 25px;
        }
    }
}

.filter-distance-mobile {
    display: none;
    position: relative;
    margin-bottom: 20px;

    @include breakpoint(phone) {
        display: block;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -30px;
        left: 50px;
        right: 50px;
        height: 1px;
        background-color: #DADADA;
    }


    .filter-distance {
        padding: 0 60px;

        .ui-widget-header {
            background-color: $color-primary !important;
        }
    }
}