/* -----------------------------------------
    Facilities
----------------------------------------- */

.facilities {
    padding: 0 15px 50px;

    @include breakpoint(min-phone) {
        padding: 0 36px 100px;
    }


    .tabs-nav {
        border: 1px solid $color-primary;
        border-radius: 6px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        margin: 10px 0 40px;
        text-align: center;
        
        @include breakpoint(min-phone) {
            margin: 60px 0;
        }
    }
    
    .tab-link {
        color: $color-primary;
        cursor: pointer;
        font-size: 11px;
        font-weight: 600;
        padding: 10px 0;
        position: relative;
        text-transform: uppercase;
        
        @include breakpoint(min-phone) {
            font-size: 15px;
        }
    
        &:after {
            content: '';
            border-style: solid;
            border-width: 14px 11.5px 0 11.5px;
            border-color: transparent transparent transparent transparent;
            height: 0;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            top: 100%;
            width: 0;
        }
    
        &.current {
            background-color: $color-primary;
            color: #fff;
    
            &:after {
                border-color: $color-primary transparent transparent transparent;
            }
        }
    
        + .tab-link {
            border-left: 1px solid $color-primary;
        }
    }
}

.facilities-content {
    max-width: 800px;
    margin: 0 auto;
}

.facilities-intro-title,
.facilities-intro-text {
    text-align: center;
}

.facilities-intro-title {
    padding-bottom: 20px;
    
    @include breakpoint(phone) {
        font-size: 22px;
    }
}

//Facilites list (in tabs)
.facilities-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    grid-column-gap: 30px;
    grid-row-gap: 42px;
    list-style: none;
}

.facilities-list-item {
    text-align: center;
}

.facilities-list-item-name {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: 0.33px;
    padding-top: 20px;
}
