/* -----------------------------------------
   Customers reviews
   ----------------------------------------- */

.customer-reviews {
    padding: 0 0 70px;

    @include breakpoint(min-tablet) {
        padding: 0 0 153px;
    }

    .tns-outer {
        box-shadow: 0px 0px 30px rgba(172, 169, 169, 0.161);
        background-image: url('../images/reviews-io.png');
        background-repeat: no-repeat;
        background-position: bottom 25px right 25px;
        padding: 45px 120px !important;
        position: relative;


        @include breakpoint(phone) {
            padding: 60px 30px !important;
        }
    }

    [data-controls="prev"],
    [data-controls="next"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        outline: none;
    }

    [data-controls="prev"] {
        left: 30px;
    }

    [data-controls="next"] {
        right: 30px;
    }
}

.customer-reviews-title {
    padding-bottom: 44px;
    text-align: center;
}

.customer-reviews-slider-item-name {
    align-items: center;
    display: flex;
    padding-bottom: 13px;  
}

.customer-reviews-slider-item-text {
    color: #1D1D1B;
    font-size: 14px;
    line-height: 1.4;
}

.customer-reviews-slider-item-location {
    color: #A8A5A5;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}