/* -----------------------------------------
   Workspace control
   ----------------------------------------- */

.workspace-control {
    padding-bottom: 15%;

    @include breakpoint(min-tablet) {
        padding-bottom: 8.5%;
    }
}

.workspace-control-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    
    @include breakpoint(min-phone) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(min-tablet) {
        grid-gap: 80px;
    }
}

.workspace-control-title {
    max-width: 300px;
    padding-bottom: 48px;
}

.workspace-control-info-item-title {
    margin: 30px 0 20px;
}