/* -----------------------------------------
   Get quote form
   ----------------------------------------- */

.get-quote {
    background-color: #F6F6F6;
    
    @include breakpoint(phone) {
        padding: 30px 36px;
    }
    
    @include breakpoint(min-phone) {
        max-width: 344px;
        padding: 20px 20px 30px;
    }
}

.get-quote-title {
    font-size: 22px;
    padding-bottom: 20px;
}

.get-quote-text {
    color: $base-title-color;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 20px;
}

.get-quote-tel {
    color: $color-primary;
    font-weight: normal;
    font-size: 22px;
}

.get-quote-address {
    display: block;
}

.get-quote-fields,
.get-quote-fields-half {
    display: grid;
    grid-gap: 12px;
}

.get-quote-fields-half {
    grid-template-columns: repeat(auto-fill, minmax(130px, auto));
}

.get-quote-submit {
    margin-top: 10px;
}