
/* -----------------------------------------
   Slider - locations
   ----------------------------------------- */

$calcPaddingLeft: calc((100vw - 1089px)/2);


.offices-slider-wrap {
    position: relative;

    &:before,
    &:after {
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        width: 10%;
        z-index: 5;
    }
    
    &:before {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.302) 0%, rgba(84, 84, 84, 0) 100%);
        left: 0;
    }

    &::after {
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.302) 0%, rgba(84, 84, 84, 0) 100%);
        right: 0;
    }

    .tns-controls {
        z-index: 10;
    }

    [data-controls="prev"],
    [data-controls="next"] {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        height: 30px;
        display: flex;
        justify-content: center;
        position: absolute;
        outline: none;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 30px;
    }

    [data-controls="prev"] {
        left: 28px;
    }

    [data-controls="next"] {
        right: 28px;
    }

    .offices-slider-price-info {
        align-items: center;
        background-color: $color-primary;
        border-radius: 50%;
        bottom: -25px;
        color: #fff;
        display: flex;
        font-size: 9px;
        justify-content: center;
        line-height: 1.2;
        height: 80px;
        position: absolute;
        right: 25px;
        text-align: center;
        width: 80px;
        z-index: 15;

        @include breakpoint(min-phone) {
            bottom: auto;
            font-size: 12px;
            height: 92px;
            left: 5%;
            top: 17px;
            right: auto;
            width: 92px;
        }

        @include breakpoint(min-tablet) {
            height: 102px;
            left: 20%;
            top: 40px;
            width: 102px;
        }
    }

    .offices-slider-price {
        display: block;
        font-weight: 600;
        font-size: 19px;
        
        @include breakpoint(min-phone) {
            font-size: 22px;
        }

        @include breakpoint(min-tablet) {
            font-size: 25px;
        }
    }
}

.offices-slider-img {
    width: 100%;
}