
/* -----------------------------------------
   Slider - locations
   ----------------------------------------- */

$calcPaddingLeft: calc((100vw - 1089px)/2);


.locations {
    padding: 11% 0;

    @include breakpoint(min-tablet) {
        padding: 8.5% 0 8.5% $calcPaddingLeft;
    }

    .tns-outer {
        position: relative;
        
        @include breakpoint(min-tablet) {
            padding-left: 90px !important;
        }
    }

    .tns-controls {
        position: absolute;
        left: 0;

        @include breakpoint(tablet) {
            display: none;
        }
    }

    [data-controls="prev"],
    [data-controls="next"] {
        background-color: #000;
        border: none;
        display: block;
        outline: none;
        height: 42px;
        width: 42px;
    }
    
    [data-controls="prev"] {
        margin-bottom: 3px;
    }
}

.location-slider-item-img {
    transition: transform .2s ease-in;
    width: 100%;
}

.location-slider-item-link {
    border-radius: 5px;
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 10;

    &:before {
        background-image: linear-gradient(rgba(0, 0, 0, 0%) 0%, #0f0f0f 100%);
        bottom: 0;
        content: '';
        left: 0;
        right: 0;
        position: absolute;
        top: 60%;
        z-index: 10;
    }

    &:hover {
        opacity: 1;

        .location-slider-item-img {
            transform: scale(1.05);
        }
    }

}

.location-slider-item-data {
    bottom: 0;
    left: 0;
    position: absolute;
    padding-bottom: 25px;
    right: 0;
    text-align: center;
    z-index: 20;
}

.location-slider-item-data-name,
.location-slider-item-data-description {
    color: #fff;
}

.location-slider-item-data-name {
    padding-bottom: 10px;

    @include breakpoint(phone) {
        font-size: 17px;
        padding-bottom: 5px;
    }
}

.location-slider-item-data-description {
    
    @include breakpoint(phone) {
        font-size: 12px;
    }
}