/* -----------------------------------------
   Tabs
   ----------------------------------------- */

.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

.tab-link {
    cursor: pointer;
}