/* -----------------------------------------
    Modal
----------------------------------------- */    

.modal {
    align-items: center;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, .6);
    
    &.is-active {
        display: flex;
    }
}

.modal-container {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.102);
    position: relative;
    max-width: 87%;
}

.modal-container-half {
    
    @include breakpoint(min-tablet-small) {
        max-width: 50%;
    }
}

.modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-close {
    align-items: center;
    background-color: $base-title-color;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 30px;
    font-weight: 300;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    text-decoration: none;
    width: 40px;
    height: 40px;
}