/* -----------------------------------------
    Cta
----------------------------------------- */

.cta {
    margin-bottom: 50px;

    @include breakpoint(min-tablet) {
        margin-bottom: 100px;
    }
}

.cta-content {
    background-size: cover;
    background-position: center;
    padding: 52px 75px;

    @include breakpoint(min-tablet) {
        padding: 52px 136px;
    }
}

.cta-content-title {
    font-size: 28px;
    line-height: 0.8;
}

.cta-content-subtitle {
    color: $color-primary;
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 28px;
}

.cta-list {
    list-style: none;
    padding: 5px 0;

    li {
        &:before {
            content: "\2022";  
            color: $color-primary;
            display: inline-block; 
            width: 1em;
        }
    }
}

.cta-block {
    display: grid;
    grid-template-columns: 71px 240px;
    grid-gap: 17px;
    padding: 36px 0;
}

.cta-block-text {
    color: $base-title-color;
    font-weight: 600;
}

.cta-disclaimer {
    font-size: 10px;
    font-weight: 300;
    max-width: 480px;
    padding-top: 35px;

    @include breakpoint(min-tablet) {
        max-width: 645px;
    }
}