/* -----------------------------------------
   Workspace
   ----------------------------------------- */

.workspace-intro-wrap {
    padding: 10% 45px;
    
    @include breakpoint(min-tablet) {
        background-image: linear-gradient(to right,#fff 0%,#fff 50%,#F6F6F6 50%, #F6F6F6 100%);
        margin-bottom: 67px;
        padding: 5.3% 0;
    }

    @include breakpoint(min-tablet-landscape) {
        margin-bottom: 0;
    }
}

.workspace-intro {
    color: #918D8D;
    font-weight: 300;
    line-height: 1.38;
    max-width: 525px;
    margin: 0 auto;
    
    @include breakpoint(min-tablet) {
        font-size: 26px;
        max-width: 708px;
    }
}

.workspace-intro-title {
    padding-bottom: 15px;
}

.workspace-feature {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;

    &:before {
        background-color: #F6F6F6;
        content: '';
        position: absolute;
        right: 0;
        z-index: -1;
    }

    @include breakpoint(tablet) {
        padding-bottom: 87px;
        position: relative;

        &:before {
            bottom: -70px;
            top: 0;
            width: calc(50% + 60px);
        }
    }

    @include breakpoint(phone) {
        justify-items: end;
        padding-bottom: 50px;

        &:before {
            top: 130px;
            width: 100%;
        }
    }

    @include breakpoint(min-phone) {
        grid-template-columns: repeat(2, 1fr);
    }

   

    &.workspace-feature-reversed {
        padding-bottom: 0;

        @include breakpoint(phone) {
            justify-items: start;
        }

        &:before {
            display: none;
        }
    }

    h2 {
        padding-bottom: 15px;

        @include breakpoint(min-tablet) {
            padding-bottom: 30px;
        }
    }
}

.workspace-feature-info {
    padding: 60px 40px 0;

    p {
        @include breakpoint(tablet) {
            font-size: 15px;
        }
    }
    
    @include breakpoint(min-tablet) {
        max-width: 485px;
        padding: 0 0 0 92px;
    }

    .workspace-feature-reversed & {

        @include breakpoint(phone) {
            order: 1;
        }
        
        @include breakpoint(min-tablet-landscape) {
            padding-left: 136px;
        }
    }

    .btn-primary {
        margin-top: 25px;

        @include breakpoint(min-tablet) {
            margin-top: 38px;
        }
    }
}

.workspace-feature-image {
    width: 70%;
    
    @include breakpoint(min-phone) {
        width: 100%;
    }

    .workspace-feature-reversed & {

        @include breakpoint(phone) {
            width: 90%;
        }
    }

    .workspace-feature-reversed-full & {
        width: 100%;
    }
}

.workspace-feature-info-subtitle {
    padding-bottom: 12px;
}

.workspace-flexibility {
    text-align: center;
    padding: 65px 0;
    
    @include breakpoint(min-tablet) {
        padding: 8% 0 10%;
    }
}

.workspace-flexibility-desc {
    padding: 10px 40px;
}

.workspace-flexibility-list {
    padding: 40px 40px 0;

    @include breakpoint(min-phone) {
        display: flex;
        margin-left: -30px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    @include breakpoint(min-tablet-landscape) {
        padding: 60px 0 0 0;
    }
}

.workspace-flexibility-list-item {
    padding-bottom: 25px;
    
    @include breakpoint(min-phone) {
        flex: 0 0 270px;
        padding-left: 30px;
        padding-bottom: 0px;
    }

    @include breakpoint(min-tablet) {
        flex: 0 0 20%;
    }
}

.workspace-flexibility-list-item-title {
    font-size: 22px;
    padding: 30px 0 20px;
}

.workspace-flexibility-lit-item-text {
    font-size: 15px;
    line-height: 1.6;
    padding-bottom: 15px;
}

.workspace-flexibility-lit-item-link {
    font-weight: 500;
    display: inline-block;

    &:hover {
        opacity: 1;

        &:after {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &:after {
        content: '';
        background-color: $color-primary;
        display: block;
        height: 2px;
        transform: translateY(-3px);
        opacity: 0;
        transition: all .14s ease;
    }
}