/* -----------------------------------------
    Our promise
----------------------------------------- */

.promises-content {
    padding: 0 0 50px;
    text-align: center;

    @include breakpoint(min-tablet) {
        padding: 0 0 106px;
    }
}

.promises-title {
    padding-bottom: 50px;
}

.promises-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;

    @include breakpoint(min-phone) {
        grid-template-columns: repeat(2, minmax(320px, 340px));
        justify-content: center;
    }

    @include breakpoint(min-tablet) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.promises-list-item-title {
    padding: 30px 0 10px;
}

.promises-list-item-text {
    font-size: 15px;
}