/* -----------------------------------------
Map
----------------------------------------- */

.property-map {
    position: relative;
    margin-bottom: 50px;

    @include breakpoint(min-tablet) {
        margin-bottom: 100px;
    }
}

.map {
    padding-bottom: 125%;

    @include breakpoint(min-phone) {
        padding-bottom: 56.57%;
    }

    @include breakpoint(min-tablet) {
        padding-bottom: 22.28%;
    }

    .map-infobox-image {
        max-width: 137px;
    }

    .gm-style .gm-style-iw {
        border-radius: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161);
        padding: 13px 10px 20px !important;
    }

    .gm-style .gm-style-iw-d {
        overflow: auto !important;
    }

    .gm-ui-hover-effect {
        display: none !important;
    }

    .map-infobox {
        text-align: center;
    }

    .map-infobox-title {
        margin: 8px 0px;
        font-weight: 500;
        font-size: 13px;
    }

    .map-infobox-link {
        display: inline-block;
        color: #3C3C3B;
        font-size: 11px;
        font-weight: 600;

        &:after {
            background-color: $color-primary;
            content: '';
            display: block;
            height: 3px;
            margin-top: 3px;
        }
    }
}

.map-info {
    align-items: flex-end;
    background-color: #1D1D1B;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    left: 40px;
    max-width: 150px;
    min-height: 150px;
    position: absolute;
    padding: 10px 24px 40px;
    top: -30px;
    z-index: 10;

    @include breakpoint(min-phone) {
        font-size: 23px;
        max-width: 206px;
        min-height: 206px;
    }
    
    @include breakpoint(min-tablet) {
        left: 0;
        margin-left: $calcPaddingLeft;
    }
}

//Single office info
.map-office-info {
    background-color: #fff;
    bottom: 0;
    color: $base-title-color;
    left: 40px;
    // max-width: 150px;
    // min-height: 150px;
    position: absolute;
    padding: 35px 25px;
    z-index: 10;

    @include breakpoint(min-phone) {
        font-size: 22px;
        max-width: 257px;
        min-height: 181px;
    }
    
    @include breakpoint(min-tablet) {
        left: 0;
        margin-left: $calcPaddingLeft;
    }
}

.map-office-directions {
    color: $color-primary;
    font-weight: normal;
    font-size: 13px;
}

.map-office-address {
    padding-bottom: 20px;
}

