/* -----------------------------------------
   Footer
   ----------------------------------------- */

.footer {
    background: white;
    z-index: 1000;
    position: relative;
}

.footer-nav {
    border-top: 1px solid rgba(168, 165, 165, .75);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 74px 0;

    @include breakpoint(phone) {
        display: block;
    }

    @include breakpoint(min-tablet) {
        grid-template-columns: repeat(4, 1fr)
    }
}


.footer-nav-item-coworking {
    
    @include breakpoint(tablet) {
        display: none;    
    }
}

.footer-nav-item {
    
    @include breakpoint(phone) {
        &:not(:first-child) {
            display: none;
        }
    }
}


.footer-nav-item-list,
.footer-nav-item-text {
    font-size: 12px;
}

.footer-nav-item-text {
    font-size: 1.6;

    p {
        padding-bottom: 10px;
    }
}

.footer-nav-item-list-quick {
    font-size: 14px;
}

.footer-nav-item-list {
    list-style: none;

    li {
        padding-bottom: 8px;
    }
}

.footer-nav-item-list-link {
    color: $base-text-color;

    &:hover {
        color: $color-primary;
    }
}

.footer-nav-item-title {
    font-size: 14px;
    padding-bottom: 20px;
}

.footer-newsletter {
    background-color: #1D1D1B;
    padding: 27px 0;

    @include breakpoint(phone) {
        padding: 40px 0;
    }
}

.footer-newsletter-text {
    font-size: 15px;
    text-align: center;
    padding-bottom: 25px;

    @include breakpoint(min-tablet) {
        padding-bottom: 0;
        text-align: left;
    }

    > * {
        color: #ffffff;
    }
}

.newsletter-form {

    @include breakpoint(min-phone) {
        display: flex;
    }

    .newsletter-form-btn {
        padding: 0 67px;

        @include breakpoint(phone) {
            margin-top: 14px;
            width: 100%;
        }
    }
}

.newsletter-form-input {
    margin-right: 16px;
}

.footer-newsletter-inner {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 480px;
    margin: 0 auto;

    @include breakpoint(phone) {
        padding: 0 40px;
    }

    @include breakpoint(min-tablet) {
        grid-template-columns: .8fr 1fr;
        max-width: 890px;
    }
}

.footer-nav-bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 22px 0;

    @include breakpoint(phone) {
        flex-direction: column-reverse;
    }
}

.footer-nav-bottom-left {
    display: flex;
    font-size: 12px;

    @include breakpoint(phone) {
        margin-top: 15px;
    }
}   

.footer-nav-bottom-links {
    display: flex;
    padding-right: 10px;
}

.footer-nav-bottom-links-item {
    color: #1D1D1B;

    + .footer-nav-bottom-links-item {

        &:before {
            content: '|';
            padding: 0 5px;
        }
    }
}

.footer-nav-bottom-copy {
    color: #969292;

    @include breakpoint(phone) {
        display: none;
    }
}

.footer-nav-bottom-right-link {
    padding: 0 5px;
}
