/* -----------------------------------------
   Buttons
   ----------------------------------------- */


$btn-primary-height:                        45px;
$btn-primary-bg:                            $color-primary;

.btn {
    background: none;
    border: none;
    display: inline-block;
    line-height: normal;
    margin: 0;                   /* remove margin for some browsers */
    padding: 0;                  /* remove padding in Firefox */
    transition: all .2s ease;
    text-align: center;
    white-space: nowrap;
    user-select: none;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}


/**
 * Primary button.
 */
.btn-primary,
.btn-secondary {
    -webkit-font-smoothing: inherit;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    height: 42px;
    line-height: 43px;
    padding: 0 37px;

    &:hover {
        opacity: 1;
        background-color: darken($color-primary, 5%);
    }

    /**
     * @disabled
     */
    &:disabled {
        opacity: 0.5;
        cursor: default !important;
    }

}

.btn-primary {
    background-color: $color-primary;
    color: #fff;

    &:hover {

        img {
            transform: translateX(5px);
        }
    }

    img {
        margin-left: 5px;
        transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
    }
}

.btn-secondary {
    color: $base-title-color;
    border: 1px solid $color-primary;
    line-height: 40px;

    &:hover {
        background-color: $color-primary;
        color: #fff;
    }
}

.btn-small {
    height: 30px;
    line-height: 30px;
    padding: 0 28px;
    font-size: 15px;
}

.btn-black {
    background-color: #000;
    padding: 0 50px;
}

.btn-full {
    width: 100%;
}
