/* -----------------------------------------
   Office search
   ----------------------------------------- */

.office-search {
	background-size: cover;
    background-position: center;
    
    @include breakpoint(phone) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: calc(100vh - 55px);
    }

    @include breakpoint(min-phone) {
        padding: 17.2% 0;
        height: auto;
    }

    @include breakpoint(min-tablet) {
        padding: 7.4% 0 8.3%;
    }
}

.office-search-form-wrap {
    max-width: 1138px;
    padding-left: 25px;
    padding-right: 25px;

    @include breakpoint(phone) {
        padding-bottom: 45px;
    }
    
    @include breakpoint(min-phone) {
        margin: 0 auto;
    }
}

.office-search-form {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(118, 116, 116, 0.161);
    border-radius: 3px;
    max-width: 364px;
    padding: 30px;
}

.office-search-title {
    padding-bottom: 25px;
}

.office-search-fields {
    align-items: center;
    display: flex;
}

.office-search-field {
    align-items: center;
    border: 1px solid #D8D6D6;
    display: flex;
    flex: 1;
    padding: 12px 13px;
    
    @include breakpoint(min-phone) {
        margin-right: 12px;
    }
}

.office-search-input {
    font-size: 13px;
    padding-left: 10px;
}

.office-search-locate {
    display: none;

    @include breakpoint(min-phone) {
        display: inherit;
    }

    &:hover {
        opacity: .5;
    }
}

.office-search-submit {
    margin-top: 14px;
    margin-bottom: 26px;
    width: 100%;
}

.office-search-suggestions {
    display: flex;
    font-size: 11px;
    
    @include breakpoint(min-phone) {
        font-size: 12px;
    }
}

.office-search-suggestion {
    color: $base-text-color;

    + .office-search-suggestion {
        
        &:before {
            content: '|';
            color: $color-primary;
            margin: 0 5px;

            @include breakpoint(min-phone) {
                margin: 0 11px;
            }
        }
    }
}
