/* -----------------------------------------
   Shortlist
   ----------------------------------------- */
/* changed */
/* multiple classes changed */
.shortlist-number-of-items-link-wrap {
    position: relative;

    @include breakpoint(tablet) {
        border-top: 1px solid #D3D1D1;
        border-bottom: 1px solid #d3d1d1;
        margin-top: 10px;
        text-align: right;
        padding: 8px 20px;
    }
}

.shortlist-number-of-items-link {
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
    white-space: nowrap;

    &.is-not-empty {

        .shortlist-number-of-items {
            background-color: $color-primary;
        }

        .icon-shortlist {
            display: none;
        }

        .icon-shortlisted {
            display: inline-block;
        }
    }

    .icon-shortlisted {
        display: none;
    }

}

.shortlist-number-of-items-text {
    color: $base-title-color;
}

.shortlist-number-of-items {
    background-color: #b4b1b1;
    border-radius: 8px;
    color: #fff;
    padding: 1px 11px;
}

//Shortlist info - visible only if list is empty
.shorlist-items {

    @include breakpoint(min-tablet) {
        max-height: 300px;
        overflow-y: auto;
    }
}

.shortlist-info {
    display: none;
    
    @include breakpoint(min-tablet) {
        text-align: center;
    }
}

.shortlist-secondary {

    .map-is-active & {
        display: none;
    }

    &.is-empty {

        .shortlist-info {
            display: block;
        }

        .shortlist-secondary-list,
        .shortlist-overlay-cta {
            display: none;
        }
    }
}

.shortlist-info-item {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    align-items: center;

    @include breakpoint(min-tablet) {
        display: block;
    }
}

.shortlist-info-item-title {
    margin-top: 15px;
}

.shortlist-info-item-text {
    font-size: 14px;
}

.add-or-remove-from-shortlist {
    bottom: 85%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 10;

    &:hover {
        opacity: 1;

        .add-or-remove-from-shortlist-tooltip {
            opacity: 1;
            visibility: visible;
        }
    }
}

.add-or-remove-from-shortlist-tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    bottom: calc(100% + 0px);
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    min-width: 161px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    visibility: hidden;
    
    @include breakpoint(min-tablet) {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
    }

    &:after {
        border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        content: '';
        height: 0;
        right: 0;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        width: 0;

        @include breakpoint(min-tablet) {
            left: 50%;
            right: auto;
        }
    }
}

//shortlist overlay
.shortlist-overlay {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.102);
    display: none;
    position: absolute;
    top: calc( 100% + 10px);
    right: 0;
    transition: transform .23s ease-out-quad();
    z-index: 100;
    width: 85%;
    
    @include breakpoint(min-tablet) {
        min-width: 300px;
        width: auto;
    }

    &.is-active {
        // transform: translateY(0);
        display: block;
    }

    &.is-empty {

        .shortlist-overlay-empty-text {
            display: block;
        }
    }
}

.shortlist-overlay-list {
    padding: 50px 0 30px;
    
    @include breakpoint(min-tablet) {
        padding: 50px 0 0;
    }
}

.shortlist-overlay-item {
    align-items: end;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
}

.shortlist-overlay-item-link {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 15px;
    text-align: left;
}

.shortlist-overlay-close {
    color: gray;
    padding: 15px 20px;
    position: absolute;
    right: 0;
}

.shortlist-overlay-item-info-place,
.shortlist-overlay-item-info-price {
    font-size: 14px;
}

.shortlist-overlay-item-info-price {
    color: $base-text-color;
    font-weight: 500;
}

.shortlist-overlay-item-info-view {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.shortlist-overlay-item-remove {
    justify-self: end;
    color: #60605F;
}

.shortlist-overlay-empty-text {
    color: $base-text-color;
    display: none;
    font-size: 17px;
    padding: 0 0 30px;
    text-align: center;
}

.shortlist-overlay-cta {
    border-top: 1px solid rgba(180, 177, 177, 0.431);
    padding: 0 15px 30px;
    margin: 0 10px;
    text-align: center;
}

.shortlist-overlay-cta-title {
    font-size: 14px;
    padding: 15px 0;
}

.shortlist-secondary-list {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.161);
    border-radius: 10px;
    padding-top: 30px;
}

.shortlist-secondary-list-title {
    padding: 0 20px 25px;
}

.add-or-remove-shortlist-single {
    font-size: 12px;

    @include breakpoint(tablet) {
        margin-bottom: 25px;
    }
}

.add-or-remove-shortlist-single-link {
    display: flex;
    align-items: center;
}