/* -----------------------------------------
   Forms
   ----------------------------------------- */
/* changed */
//change on multiple classes
.forms {

    .title {
        padding: 30px 0;
    }
}

.form-type {
    width: 966px;
    max-width: 100%;

    .form-title,
    .form-title-dark {
        font-size: 22px;
    }

    .form-title {
        color: $color-primary;
        padding-bottom: 15px;
    }

    .form-desc {
        color: $base-title-color;
        font-size: 15px;
        max-width: 400px;
        padding-bottom: 25px;
    }

    .form-fields {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 13px;
    }

    //Form image
    .form-image {
        
        @include breakpoint(tablet-small) {
            display: none;
        }
    }

    .form-field-full-width {
        @include breakpoint(min-tablet) {
            grid-column-start: span 2;
        }
    }
}

.form-type-1 {
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;

    @include breakpoint(min-tablet-small) {
        grid-template-columns: 2fr 1fr;
    }

    .form {
        padding: 25px;

        @include breakpoint(min-tablet-small) {
            padding: 45px;
        }
    }
    
    .want-talk {
        border-radius: 14px;
        background-color: #F7F7F7;
        position: relative;
        padding: 20px 25px;
        margin: 45px 40px 40px 0;

        @include breakpoint(tablet-small) {
            display: none;
        }

        @include breakpoint(phone) {
            display: block;
            margin: 25px 25px 60px;
        }

        &:after {
            content: '';
            border-style: solid;
            border-width: 30px 30px 0 0;
            border-color: #F7F7F7 transparent transparent transparent;
            height: 0;
            position: absolute;
            top: 100%;
            left: 25px;
            width: 0;
        }
    }

    .want-talk-head {
        align-items: center;
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-column-gap: 19px;
        padding-bottom: 20px;
    }

    .want-talk-head-title {
        font-size: 21px;
    }

    .want-talk-text {
        font-size: 14px;
        color: $base-title-color;
    }

    .want-talk-phone {
        font-size: 20px;
        font-weight: 600;
        color: $color-primary;
    }

    .form-customer-reviews {
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        padding: 15px 20px;
    }

    .form-customer-reviews-name {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .form-customer-reviews-text {
        color: $base-title-color;
        font-size: 12px;
    }

    .form-customer-reviews-source {
        display: block;
        margin-left: auto;
        margin-top: 15px;
        max-width: 80px;
    }

    .form-shortlisted-items {
        background-color: rgba(222, 220, 220, 0.302);
        padding: 44px 30px;
    }

    .form-shortlisted-items-title {
        font-size: 22px;
        padding-bottom: 23px;
    }

    .shortlist-overlay-item {
        padding: 0;
    }
}

.number-of-people-slider {
        
    &.ui-slider {
        border: none;
        height: 3px;
        background-color: #918D8D;
        margin-top: 3px;
    }
    
    .ui-slider-handle {
        background-color: #F05558;
        border: none;
        border-radius: 50%;
        top: -4px;
    }
}

//number of people range slider
.number-of-people-info {
    display: flex;
    justify-content: space-between;
    color: #1D1D1B;
    margin-top: 3px;
    font-weight: bold;
}

.number-of-people-value {
    color: #F05558;
}

.number-of-people-value {
    color: #F05558;
    border: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    
    &:before {
        content: attr(data-value);
        display: inline-block;
        margin-right: 4px;
    }
}

//Form type 2
.form-type-2 {
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(min-tablet-small) {
        grid-template-columns: .3fr .7fr;
    }

    .form {
        padding: 25px;

        @include breakpoint(min-tablet-small) {
            padding: 60px;
        }
    }

    .input-textarea-large {
        
        @include breakpoint(min-phone) {
            grid-column-start: span 2;
        }
    }
}

.form-type-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    justify-items: stretch;
    position: relative;

    @include breakpoint(min-tablet-small) {
        grid-template-columns: .4fr .6fr;
    }

    .form-fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 13px;
    }

    .form {
        padding: 25px;

        @include breakpoint(min-tablet-small) {
            padding: 50px 50px 50px 0;
        }
    }

    .heading-info {
        padding-bottom: 15px;
        
        @include breakpoint(min-tablet-small) {
            left: 30px;
            position: absolute;
            top: 30px;
        }
    }

    .heading-info-text {
        background-color: #fff;
    }
}

.form-type-4 {
    padding: 35px;

    @include breakpoint(min-tablet-small) {
        padding: 35px 55px 40px;
    }
    
    .tab-header {
        margin-bottom: 30px;

        @include breakpoint(min-tablet) {
            align-items: flex-end;
            display: flex;
            justify-content: space-between;
        }
    }

    .heading-info {
        margin-bottom: 20px;

        @include breakpoint(min-tablet) {
            margin-bottom: 0;
        }
    }

    .tabs-nav {
        border-bottom: 1px solid #D3D2D2;
        display: flex;
        list-style: none;
        padding-right: 15px;
        
        @include breakpoint(phone) {
            overflow-x: auto;
        }
    }

    .tab-link {
        font-size: 15px;
        padding-bottom: 10px;
        position: relative;

        &:after {
            content: '';
            background-color: $color-primary;
            bottom: -1px;
            height: 0;
            left: 0;
            position: absolute;
            right: 0;
            transition: all .1s ease-in-quad();
        }

        &:hover {

            &:after {
                height: 3px;
            }
        }

        &:not(:last-child) {
            margin-right: 15px;
        }

        &.current {
            font-weight: 600;

            &:after {
                height: 3px;
            }
        }
    }

    .tab-content-title {
        font-size: 22px;
        padding-bottom: 20px;

        @include breakpoint(min-tablet-small) {
            font-size: 32px;
            padding-bottom: 50px;
        }
    }

    .tab-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-column-gap: 70px;
        grid-row-gap: 40px;
    }
    
    .tab-grid-right {
        display: flex;
    }

    .tab-grid-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tab-grid-text {
        font-size: 16px;

        p {
            padding-bottom: 15px;
        }
    }

    .tab-content-info {
        font-size: 13px;
        padding-top: 15px;
    }

    //slider style
    .tns-outer {
        position: relative;
    }

    .tns-ovh {
        width: 75%;
        margin: 0 auto;
    }
    
    [data-controls='prev'],
    [data-controls='next'] {
        background-color: transparent;
        border: 1px solid #60605F;
        border-radius: 50%;
        height: 36px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        z-index: 10;

        &:focus {
            outline: none;
        }
    }

    [data-controls='prev'] {
        left: 0;
    }

    [data-controls='next'] {
        right: 0;
    }
}