/* -----------------------------------------
   Breadcrumbs
   ----------------------------------------- */

.breadcrumbs {
    background-color: #F6F6F6;
    padding: 10px 0;

    .menu-is-active & {
        display: none;
    }
    
    @include breakpoint(min-phone) {
        background-color: #fff;
        border-top: 1px solid rgba(145, 141, 141, 0.4);
        border-bottom: 1px solid rgba(145, 141, 141, 0.4);
        margin-bottom: 20px;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 1015;
    }
}

/* changed */
.breadcrumbs-nav {
    display: flex;
    font-size: 9px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1138px;
    flex-direction: column;
    flex-wrap: wrap;
    
    @include breakpoint(min-tablet) {
        align-items: center;
        flex-direction: row;
        padding: 0 25px;
    }
}

.breadcrumbs-nav-inner {
    
    @include breakpoint(tablet) {
        padding: 0 25px;
    }
}

.breadcrumbs-nav-link {
    color: $base-title-color;

    &:hover {
        color: $color-primary;
    }

    &.is-active {
        pointer-events: none;
    }
}