/* -----------------------------------------
   Customers
   ----------------------------------------- */
.customers {
    padding-bottom: 50px;

    @include breakpoint(min-tablet) {
        padding-bottom: 100px;
    }
}

.customers-inner {
    display: grid;
    
    @include breakpoint(phone) {
        grid-template-columns: 200px 210px;
        padding-left: 36px;
    }

    @include breakpoint(min-phone) {
        grid-template-columns: repeat(auto-fill, minmax(350px, 370px));
    }
    
    @include breakpoint(min-tablet) {
        grid-gap: 42px;
        justify-content: center;
        margin: 0 auto;
        max-width: 800px;
    }
}

.customers-info {

    @include breakpoint(phone) {
        order: -1;
    }
}

.customer-info-list {
    list-style: none;
    padding: 30px 0;
}

.customer-info-list-item {

    &:not(:last-child) {
        padding-bottom: 5px;
    }

    &:before {
        content: "\2022";  
        color: $color-primary;
        display: inline-block; 
        width: 1em;
    }
}

.customer-info-text {
    font-weight: 600;
    color: #1D1D1B;
    line-height: 1.5;
    padding-bottom: 10px;

    @include breakpoint(min-phone) {
        max-width: 70%;
    }
}

.customer-info-phone {
    color: $color-primary;
    font-size: 26px;
}