/* -----------------------------------------
   Page head
   ----------------------------------------- */

.page-head {
    display: none;
    
   
    @include breakpoint(min-tablet) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .heading-info {
        display: none;

        @include breakpoint(min-tablet) {
            display: block;
        }
    }
}

.page-head-subtitle {
    font-size: 17px;
    font-weight: normal;
    color: $base-text-color;
    line-height: 1.53;
}

.page-head-title {
    padding-bottom: 30px;

    @include breakpoint(phone) {
        font-size: 22px;
        padding-top: 15px;
    }

    + .page-head-desc {
        margin-top: -20px;
        padding-bottom: 30px;
    }
}