/* -----------------------------------------
   Tempoffice page
   ----------------------------------------- */

.temp-office {
    padding-bottom: 50px;
}

.temp-office-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 150px;
    grid-row-gap: 40px;
    padding: 40px 0 0;

    @include breakpoint(min-phone) {
        padding: 90px 10% 170px;
    }
}

.temp-office-info-top {

    @include breakpoint(min-tablet-small) {
        background-image: linear-gradient(to right, #fff 0%, #fff 50%, #F6F6F6 50%, #F6F6F6 100%);
    }
}

.temp-office-info-bottom {

    @include breakpoint(min-phone) {
        margin-top: -150px;
    }
}

.temp-office-info-item-title {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 20px;
    max-width: 310px;
}

.temp-office-info-item-btn {
    margin-top: 30px;
}