/* -----------------------------------------
   Register page
   ----------------------------------------- */

.register {

    .page-intro-title {
        padding-bottom: 0;
    }
}

.register-about {
    padding-bottom: 50px;
    
    @include breakpoint(min-tablet-small) {
        align-items: start;
        display: grid;
        grid-template-columns: .65fr .35fr;
        padding-bottom: 100px;
    }
}

.register-about-left {
    position: relative;
    padding: 50px 30px;
    
    @media screen and (min-width: 1155px) {
        padding: 100px 90px 100px $calcPaddingLeft;
    }

    &:before {
        background-color: #F6F6F6;
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        @include breakpoint(min-tablet-small) {
            right: -5%;
        }
    }
}

.register-about-text {
    color: #bdbcbc;
    font-size: 25px;
    padding-bottom: 50px;

    @include breakpoint(min-tablet-small) {
        font-size: 33px;
        padding-bottom: 80px;
    }
}

.register-about-images {
    display: grid;
    grid-gap: 30px;
    justify-items: end;
    margin-top: 30px;

    @include breakpoint(min-tablet-small) {
        margin-top: -100px;
    }
}

.register-about-image {
    
    &:last-child {
        max-width: 80%;
    }
}

.register-cta {
    padding-bottom: 75px;

    @include breakpoint(min-tablet-small) {
        padding-bottom: 150px;
    }
}

.register-cta-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-bottom: 50px;
    
    @include breakpoint(min-tablet-small) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 80px;
        padding-bottom: 100px;
    }
}

.register-cta-heading {
    font-size: 25px;
    padding-bottom: 30px;

    @include breakpoint(min-tablet-small) {
        font-size: 32px;
        padding-bottom: 100px;
    }
}

.register-cta-grid-item-title {
    font-size: 22px;
    line-height: 1.3;
    padding-bottom: 20px;
    padding-top: 20px;

    @include breakpoint(min-tablet-small) {
        padding-top: 40px;
    }
}

.register-info {
    background-color: #F6F6F6;
    padding: 0 0 50px;
    margin-bottom: 50px;

    @include breakpoint(min-tablet-small) {
        background-image: linear-gradient(to right, #F6F6F6 0%, #F6F6F6 60%, #fff 60%, #fff 100%);
        padding: 0 0 100px;
        margin-bottom: 100px;
    }
}

.register-info-content {
    
    @include breakpoint(min-tablet-small) {
        align-items: end;
        display: grid;
        grid-template-columns: .35fr .65fr;
        grid-column-gap: 100px;
    }
}

.register-info-content-text {
    padding-top: 50px;

    @include breakpoint(min-tablet-small) {
        padding-top: 70px;
    }

    p {
        font-weight: 300;
        padding-bottom: 20px;
    }
}

.register-info-content-text-title {
    font-size: 25px;
    padding-bottom: 30px;

    @include breakpoint(min-tablet-small) {
        font-size: 32px;
    }
}

.register-info-content-img {

    @include breakpoint(min-tablet-small) {
        margin-top: -70px;
    }
}

//register workforce form
.register-workspace {
    bottom: 0;
    background-color: #f8f8f8;
    left: 0;
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    padding-bottom: 20px;
    right: 0;
    top: 0;
    z-index: 1100;
    transform: translateY(-120%);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &.is-active {
        transform: translateY(0);
    }
}

.register-workspace-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.registration-workspace-intro {
    text-align: center;
    padding: 50px 0 15px;

    @include breakpoint(min-phone) {
        padding: 50px 0;
    }
}

.register-workspace-title {
    padding-bottom: 25px;
}

.register-workspace-text {
    font-size: 18px;

    @include breakpoint(min-phone) {
        font-size: 2em;
    }
}

.register-workspace-fields {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 20px;
    padding: 0 15px;
}

.registration-fees {
    padding: 45px;
}

.registration-fees-title {
    padding-bottom: 20px;
}