/* -----------------------------------------
   Satellite office page
   ----------------------------------------- */

.satellite-office {
    padding-bottom: 90px;

    @include breakpoint(min-phone) {
        padding-bottom: 130px;
    }
}

.satellite-office-info {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 90px;
    padding: 30px 0 0 0;
    
    @include breakpoint(min-phone) {
        background-image: linear-gradient(to bottom, #F6F6F6 0%, #F6F6F6 50%, #fff 50%, #fff 100%);
        padding: 70px 0 0 10%;
    }

    @include breakpoint(min-tablet-small) {
        grid-template-columns: 1fr 1.3fr;
        grid-row-gap: 40px;
    }

    .satellite-office-info-item {
        padding-bottom: 30px;

        @include breakpoint(min-phone) {
            padding-bottom: 50px;
        }
    }
}

.sattelite-office-info-left {
    padding-bottom: 50px;
}

.satellite-office-info-item-title {
    font-size: 22px;
    padding-bottom: 10px;
    max-width: 290px;
    line-height: 26px;
}

.satellite-office-info-item-btn {
    margin-top: 30px;
}