/* -----------------------------------------
   Listing page
   ----------------------------------------- */

   
.listing {
    padding-top: 55px;

    @include breakpoint(min-phone) {
        padding-top: 105px;
    }

    .header {
        @include breakpoint(min-phone) {
            box-shadow: none;
        }
    }
}

/* changed */
.search-content {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;

    @include breakpoint(min-laptop) {
        display: grid;
        grid-template-columns: minmax(600px, 950px) minmax(300px, 300px);
        grid-column-gap: 90px;
        padding-right: 40px;
        padding-left: $calcPaddingLeft;
    }
}

//offices by city
.offices-by-city {
    display: none;

    @include breakpoint(min-phone) {
        box-shadow: 0px 0px 20px rgba(145, 145, 145, 0.161);
        display: block;
        margin-bottom: 40px;
    }
}

.offices-by-city-intro {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    padding: 25px 30px;
}

.offices-by-city-intro-text {
    color: #fff;
    font-size: 18px;
    max-width: 280px;
}

.offices-by-city-list {
    list-style-type: none;
    padding: 25px 20px 25px 30px;

    @include breakpoint(min-phone) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }

    @include breakpoint(min-tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.offices-by-city-list-item {
    break-inside: avoid;
    display: flex;
    font-size: 13px;

    &:not(:last-child) {
        padding-bottom: 5px;

        &:before {
            content: "\2022";  
            color: $color-primary;
            display: inline-block; 
            width: 1em;
        }
    }

}   

//Offices list
.offices-list {
    padding-bottom: 90px;
}

.offices-list-item {
    border: 1px solid #C8C7C6;
    margin-bottom: 32px;

    @include breakpoint(min-tablet-small) {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    @include breakpoint(min-tablet) {
        grid-template-columns: 1.8fr 1fr;
    }
}

.offices-list-item-images {
    align-items: stretch;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    position: relative;
}

.offices-list-item-image {
    object-fit: cover;
    width: 100%;

    &:nth-of-type(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    &:nth-of-type(2) {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    &:last-of-type {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
}

.office-list-item-images-count {
    position: absolute;
    top: 0;
    left: 0;
}

.office-list-item-price {
    bottom: 13px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    left: 17px;
    position: absolute;
    padding: 6px 10px;

    @include breakpoint(min-phone) {
        bottom: 21px;
        font-size: 16px;
    }
}

.offices-list-item-data {
    display: flex;
    position: relative;
}

.offices-list-item-data-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    @include breakpoint(min-tablet-small) {
        padding: 20px 30px;
    }
}

.offices-list-item-data-title {
    font-size: 22px;
    padding-bottom: 10px;
}

.offices-list-item-data-text {
    color: $base-text-color;
    font-size: 12px;
    padding-bottom: 20px;
}

.offices-list-item-data-location {
    list-style: none;
    font-size: 12px;

    li {
        align-items: center;
        color: $base-title-color;
        display: grid;
        grid-template-columns: 20px 1fr;
        font-weight: 500;
        padding-bottom: 8px;
    }
}

.offices-list-item-data-bottom {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.offices-list-item-data-cta {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.office-list-item-images-count {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
}

.office-list-item-images-count-num {
    margin-left: 5px;
}

.offices-list-see-more {
    text-align: center;
    padding-top: 35px;
}

//why choose office
.why-choose-office {
    padding-bottom: 75px;
}

.why-choose-office-title {
    padding-bottom: 20px;
}

.why-choose-office-text {
    display: grid;
    grid-gap: 20px;
    font-size: 13px;

    @include breakpoint(min-phone) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }

    p {
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }
}

//Aside content

/* changed */
.search-content-aside {
    order: -1;
   
    @include breakpoint(min-laptop) {
        order: 0;
    }
    
    .get-quote-wrap {
        
        @include breakpoint(min-laptop) {
            max-width: 100%;
            position: fixed;
            width: 300px;
            z-index: 1;
        }
    }

    .get-quote {

        .map-is-active & {
            display: none;
        }
        
    }

    .map {
        display: none;
        position: fixed !important;
        top: 90px;
        bottom: 0;
        right: 0;
        width: 24%;
        min-width: 400px;
        padding-bottom: 0;

        .map-is-active & {
            display: block;
        }
    }
}

//Toggle map trigger
/* changed */
.toggle-map {
    align-items: center;
    color: $base-title-color;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 38px;
    font-size: 13px;

    @include breakpoint(tablet) {
        display: none;
    }

    &:hover {
        opacity: 1;
    }
}

.toggle-map-switch {
    align-items: center;
    background-color: $base-title-color;
    display: flex;
    justify-content: flex-end;
    border-radius: 13px;
    height: 24px;
    width: 35px;
    margin-left: 5px;

    .is-active & {
        background-color: $color-primary;
        justify-content: flex-start;
    }
}

.toogle-map-switch-circle {
    background-color: #fff;
    border-radius: 50%;
    margin: 0 1px;
    height: 22px;
    position: relative;
    width: 22px;

    &:before,
    &:after {
        content: '';
        background-color: $base-title-color;
        position: absolute;
        height: 1px;
        width: 10px;
        top: 50%;
        left: 7px;
    }

    &:before {
        transform: rotate(47deg);
    }

    &:after {
        transform: rotate(-47deg);
    }

    .is-active & {

        &:before {
            display: none;
        }

        &:after {
            top: 8px;
            left: 6px;
            width: 10px;
            height: 5px;
            border-width: 1px;
            border-style: solid;
            border-top: none;
            border-right: none;
            background: transparent;
            transform: rotate(-45deg);
        }
    }
}

//Get quote
.get-quote-cta {
    background-color: #F6F6F6;
    display: grid;
    justify-items: center;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;

    @include breakpoint(min-phone) {
        align-items: center;
        grid-template-columns: auto 1fr auto;
        justify-items: start;
        text-align: left;
    }
}

.get-quote-cta-img {
    margin-bottom: 20px;

    @include breakpoint(min-phone) {
        margin-bottom: 0;
        margin-right: 35px;
    }
}

.get-quote-cta-info-title {
    font-size: 18px;
    padding-bottom: 15px;
}

.get-quote-cta-info-subtitle {
    font-size: 14px;
    font-weight: 300;
}

.get-quote-cta-info-phone {
    font-size: 18px;
    font-weight: 600;
}

.get-quote-cta-button {
    align-self: end;
}