/* -----------------------------------------
   Tempoffice page
   ----------------------------------------- */

.startup-office {
    padding-bottom: 90px;

    @include breakpoint(min-phone) {
        padding-bottom: 130px;
    }
}

.startup-office-info-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 150px;
    grid-row-gap: 40px;
    padding: 40px 0 0;

    @include breakpoint(min-phone) {
        padding: 90px 10% 150px;
    }

    @include breakpoint(min-tablet-small) {
        background-image: linear-gradient(to right, #fff 0%, #fff 40%, #F6F6F6 40%, #F6F6F6 100%);
    }
}


.startup-office-info-bottom {
    padding-top: 30px;

    @include breakpoint(min-phone) {
        margin-top: -50px;
        padding-top: 0;
    }

    @include breakpoint(min-tablet-small) {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    }
}

.startup-office-info-bottom-text {
    padding: 30px 0 0;

    @media screen and (min-width: 1024px) {
        padding: 0 15%;
    }
}

.startup-office-info-item-title {
    font-size: 22px;
    padding-bottom: 20px;
    max-width: 310px;
    line-height: 26px;
}

.startup-office-info-item-btn {
    margin-top: 30px;
}