/* -----------------------------------------
   Home page
   ----------------------------------------- */

.home {
    padding-top: 55px;

    @include breakpoint(min-phone) {
        padding-top: 70px;
    }
}