/* -----------------------------------------
   Legal pages
   ----------------------------------------- */

.legal {

    a {
        word-break: break-word;
    }

    .legal-intro {
        background-color: #000;
        font-size: 18px;
        
        @include breakpoint(min-laptop-large) {
            font-size: 26px;
        }
    }

    .legal-nav {
        display: grid;
        grid-gap: 15px 10px;

        @include breakpoint(min-phone) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .legal-nav,
    .legal-intro-text {
        margin-top: -65px;
        padding: 100px 0 30px;

        @include breakpoint(min-phone) {
            margin-top: -165px;
            padding: 240px 0 50px;
        }
    }

    .legal-nav-link {
        color: #fff;
        font-weight: 600;
    }

    .legal-intro-text {
        color: #fff;
        font-weight: 600;

        p {
            padding-bottom: 30px;
        }
    }

    .legal-intro-text-right {

        @include breakpoint(min-tablet-small) {
            max-width: 60%;
            margin-left: auto;
            margin-right: 0;
        }
    }

    .legal-main-title {
        padding: 50px 0 0;
    }

    .legal-content {
        padding: 50px 0;

        @include breakpoint(min-tablet-small) {
            padding: 100px 0;
        }
    }

    .legal-content-item {
        
        @include breakpoint(min-tablet-small) {
            display: grid;
            grid-template-columns: 350px auto;
            grid-column-gap: 50px;
        }
        
        &:not(:last-child) {
            padding-bottom: 35px;

            @include breakpoint(min-tablet-small) {
                padding-bottom: 80px;
            }
        }
    }

    .top-link {
        color: $base-title-color;
        font-weight: 600;
        text-decoration: underline;
    }

    .legal-content-desc {
        line-height: 1.8em;

        p {
            &:not(:last-of-type) {
                padding-bottom: 20px;
            }

            + ol {
                margin-top: 20px;
            }
        }
    }

    ol {

        li {
            padding-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding-left: 20px;
            padding-top: 10px;

            li {
                padding-bottom: 15px;
            }
        }
    }

    .legal-privacy-browsers {
        display: flex;
        align-items: center;
        line-height: 1.45;

        img {
            margin-right: 10px;
        }
    }

    .legal-content-desc-subtitle {
        padding-bottom: 30px;
    }

    .legal-img-grid {
        
        @include breakpoint(min-phone) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
        
        @include breakpoint(min-tablet-small) {
            grid-template-columns: 440px auto;
            max-width: 70%;
            max-width: 70%;
            margin-right: 0;
            margin-left: auto;
        }

        img {
            margin-bottom: 30px;
        }
    }

    .legal-content-with-bg {
        background-image: linear-gradient(to right, #fff 0%, #fff 50%, #F6F6F6 50%, #F6F6F6 100%);
        margin: 0 0 50px;
        
        @include breakpoint(min-phone) {
            margin: -60px 0 100px;
            padding: 150px 0;
        }

        .legal-content-desc {

            @include breakpoint(min-phone) {
                max-width: 70%;
            }
        }

    }
}


.serviced-office-info {
    padding-bottom: 70px;

    @include breakpoint(min-tablet-small) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding-bottom: 170px;
    }
}

.serviced-office-info-heading {
    padding-bottom: 20px;
}

.serviced-office-info-right-text {
    padding-bottom: 30px;
}

.serviced-office-info-right-title {
    font-size: 17px;
    padding-bottom: 10px;
}

.serviced-office-img-grid {
    display: grid;

    @include breakpoint(min-phone) {
        grid-template-columns: 1.3fr 1fr;
        grid-gap: 120px;
    }

    img {
        margin-bottom: 20px;
    }
}

.serviced-office-img-grid-last {
    
    @include breakpoint(min-phone) {
        margin-left: -160px;
        position: relative;
        z-index: -1;
    }
}

.serviced-office-bottom {
    padding: 50px 0;

    @include breakpoint(min-tablet-small) {
        padding: 100px 0;
    }
}

.serviced-office-bottom-heading {
    text-align: right;
    padding-bottom: 50px;
}

.serviced-office-bottom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    grid-row-gap: 40px;
    grid-column-gap: 20px;

    @include breakpoint(min-tablet-small) {
        max-width: 50%;
    }
}

.serviced-office-bottom-title {
    font-size: 22px;
    padding-bottom: 15px;
}