/* -----------------------------------------
   Day office page
   ----------------------------------------- */

.day-office {
    padding-bottom: 90px;

    @include breakpoint(min-phone) {
        padding-bottom: 130px;
    }
}

.day-office-info {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.day-office-info-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    padding: 40px 0 0;

    @include breakpoint(min-phone) {
        background-color: #F6F6F6;
        padding: 90px 10% 170px;
    }

    @include breakpoint(min-tablet-small) {
        background-image: linear-gradient(to right, #F6F6F6 0%, #F6F6F6 50%, #fff 50%, #fff 100%);
    }

    @include breakpoint(min-tablet) {
        grid-column-gap: 180px;
    }
}

.day-office-info-item-title {
    font-size: 22px;
    padding-bottom: 10px;
    max-width: 290px;
    line-height: 26px;
}

.day-office-info-item-btn {
    margin-top: 30px;
}

.day-office-image {
    margin-top: 30px;
    width: 100%;
    
    @include breakpoint(min-phone) {
        margin-top: -150px;
        width: 60%;
    }
}