/* -----------------------------------------
   Shared office page
   ----------------------------------------- */

.shared-office {
    padding-bottom: 90px;

    @include breakpoint(min-phone) {
        padding-bottom: 130px;
    }
}

.shared-office-info-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 130px;
    padding: 30px 0 0 0;

    @include breakpoint(min-phone) {
        margin-bottom: 60px;
    }
    
    @include breakpoint(min-tablet) {
        grid-row-gap: 40px;
        padding: 70px 0 0 10%;
    }

    .shared-office-info-item {
        padding-bottom: 50px;
    }
}

.shared-office-info-bottom {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    padding: 40px 0 0;

    @include breakpoint(min-phone) {
        padding: 60px 0;
    }

    @include breakpoint(min-tablet-small) {
        background-image: linear-gradient(to right, #fff 0%, #fff 40%, #F6F6F6 40%, #F6F6F6 100%);
    }
}

.shared-office-info-item-title {
    font-size: 22px;
    padding-bottom: 10px;
    max-width: 290px;
    line-height: 26px;
}

.shared-office-info-item-btn {
    margin-top: 30px;
}