/* -----------------------------------------
   Faq page
   ----------------------------------------- */
$container-spacing: 36px;

.faq {
    padding-top: 55px;

    @include breakpoint(min-phone) {
        padding-top: 70px;
    }

    .hero-image {
        padding-bottom: 20px;

        @include breakpoint(min-phone) {
            padding-bottom: 60px;
        }
    }

    //Faq links
    .faq-links {
        padding-bottom: 8%;
    }

    .faq-links-list {
        padding-bottom: 65px;
    }

    .faq-links-list-item {
        align-items: center;
        border-bottom: 1px solid #d4d2d2;
        color: $base-title-color;
        display: flex;
        font-size: 17px;
        font-weight: 600;
        justify-content: space-between;
        padding: 20px 0;

        &:after {
            content: '';
            border: solid $color-primary;
            border-width: 0 2px 2px 0;
            flex-shrink: 0;
            height: 12px;
            margin-left: 20px;
            width: 12px;
            transform: rotate(316deg);
        }
    }

    //Faq content 
    .faq-content {
        background-color: #f6f6f6;
        padding: 50px 0;
    }
    
    .faq-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 20px;
        max-width: 1160px;
        margin: 0 auto;
        padding: 0 10px 40px;

        @include breakpoint(min-phone) {
            grid-template-columns: .6fr 1fr;
            padding: 0 36px 40px;
        }

    }

    .faq-question {
        display: flex;
        position: relative;

        @include breakpoint(phone) {
            font-size: 18px;
        }

        &:before,
        &:after {
            content: '';
        }

        &:before {
            border-radius: 50%;
            background-color: $color-primary;
            flex-shrink: 0;
            height: 30px;
            width: 30px;
            right: calc(100% + 20px);
            margin-right: 10px;
            top: 0;

            @include breakpoint(min-phone) {
                margin-right: 20px;
            }
        }

        &:after {
            border: solid #fff;
            border-width: 0 2px 2px 0;
            height: 12px;
            position: absolute;
            left: 9px;
            transform: rotate(225deg);
            width: 12px;
            top: 11px;
        }
    }

    .faq-answer {
        color: $base-title-color;
        font-size: 14px;
        padding: 0 38px;
        
        @include breakpoint(min-phone) {
            font-size: 15px;
            padding: 0;
        }
    }
}