/* -----------------------------------------
   Covid page
   ----------------------------------------- */

.covid-office {
    padding-bottom: 100px;

    @include breakpoint(min-tablet) {
        padding-bottom: 230px;
    }
}

.covid-office-info {

    @include breakpoint(min-phone) {
        display: grid;
        grid-template-columns: .6fr .4fr;
        grid-column-gap: 80px;
    }

    @include breakpoint(min-tablet) {
        grid-column-gap: 180px;
    }
}

.covid-image {
    width: 100%;
    margin-bottom: 28px;
}

.covid-office-info-item-left,
.covid-office-info-item-right {
    padding-top: 60px;

    @include breakpoint(min-tablet) {
        padding-top: 130px;
    }
}

.covid-office-info-item-left {
    padding-left: 35px;
    padding-right: 35px;

    @include breakpoint(min-tablet) {
        padding-left: $calcPaddingLeft;
        padding-right: 0;
    }

    p {
        margin-bottom: 40px;
    }
}

.covid-office-info-item-right {
    background-color: #F6F6F6;
    padding-left: 35px;
    padding-right: 35px;

    @include breakpoint(min-phone) {
        padding-left: 10%;
        padding-right: 0;
    }
    
    @include breakpoint(min-tablet) {
        height: 100%;
        margin-bottom: -150px;
    }

}