/* -----------------------------------------
   Thank you page
   ----------------------------------------- */

.thank-you {
    padding-top: 70px;

    .page-intro {
        background-color: #F6F6F6;
        padding: 50px 0 100px 0;

        @include breakpoint(min-tablet-small) {
            padding: 50px 0 100px 90px;
        }
    }

    .page-intro-text {
        font-size: 28px;
        font-weight: 300;

        @include breakpoint(min-tablet-small) {
            font-size: 32px;
            max-width: 50%;
        }
    }
}

.thank-you-content {
    align-items: start;
    background-image: linear-gradient(to right, #fff 0%, #fff 30%, #F6F6F6 30%, #F6F6F6 100%);
    padding-left: $calcPaddingLeft;
    padding-bottom: 220px;

    @include breakpoint(min-tablet-small) {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
    }
}

.thank-you-text {
    background-color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 50px 20% 50px 50px;

    @include breakpoint(min-tablet-small) {
        margin-left: -90px;
    }
}

.thank-you-text-title {
    font-size: 30px;
    padding-bottom: 15px;
}

.thank-you-text-img {
    margin-top: -64px;
    width: 100%;
}

.latest-posts-grid {
    margin-top: -150px;
    padding-bottom: 100px;
}

.latest-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 16px;
}

.latest-posts-item-data-name {
    font-size: 22px;
    line-height: 1.2;
    padding: 15px 0;
}

.latest-posts-item-data-description {
    color: #60605F;
    font-size: 15px;
    padding-bottom: 15px;
}

.latest-posts-item-data-read-more {
    font-size: 15px;
    font-weight: 500;
}

.latest-posts-title {
    font-size: 30px;
    padding-bottom: 30px;
}

.latest-posts-item-img {
    width: 100%;
}

.thank-you-text-list {
    li {

        &::marker {
            color: $color-primary;
        }
    }
}