/* -----------------------------------------
    Design your office
----------------------------------------- */

.design-your-office {
    margin-top: 40px;

    .red {
        color: rgba(249,86,88,1);
        margin-bottom: 30px;
    }

    .black {
        color: #1D1D1B;
        display: inline-block;
    }

    .btn {
        max-width: inherit;
        width: 100%;

        @include breakpoint(min-phone) {
            max-width: 185px;
        }
    }
}

.design-your-office-inner-text-large {
    color: $base-text-color;
    font-size: 22px;
}

.design-your-office-logo {
    margin-bottom: 10px;
}

.design-your-office-subtitle {
    color: #918D8D;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.38;
    margin-bottom: 70px;
    max-width: 848px;

    @include breakpoint(min-phone) {
        font-size: 26px;
    }
}

.design-your-office-img-wrapper {
    align-items: flex-end;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;

    .design-your-office-main-img,
    .design-your-office-title {
        grid-area: 1 / 1;
    }

    .design-your-office-title {
        padding: 0 0 3% 10%;

        @include breakpoint(min-tablet-small) {
            padding-bottom: 50px;
        }
    }

    .design-your-office-main-img {

        @include breakpoint(phone) {
            padding-bottom: 30px;
        }
    }
}

//Section 1

.design-section-1-wrapper {
    margin-bottom: 100px;

    @include breakpoint(min-phone) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;
        margin-bottom: 150px;
        padding-left: 8%;
    }

    .design-your-office-inner-text-large {
        margin-bottom: 30px;

        @include breakpoint(min-phone) {
            grid-area: 1 / 1 / 5 / 2;
            margin: 0;
            padding-right: 19%;
        }
    }

    .design-your-office-inner-text-small {
        margin-bottom: 18px;
    }

    .btn {
        margin-top: 35px;
    }
}

//Section 2

.design-section-2 {

    .design-your-office-title {
        margin-bottom: 30px;

        @include breakpoint(min-tablet) {
            margin-bottom: 60px;
        }
    }

    .design-your-office-inner-text-small {
        grid-area: 2 / 2;
    }

    .design-your-office-inner-text-large {
        margin-bottom: 50px;
    }
}

.design-section-2-wrapper-box {

    .design-section-2-wrapper-list {

        @include breakpoint(min-tablet) {
            margin: 0;
        }
    }
}

.design-section-2-wrapper {
    border-top: 2px #e8e8e8 solid;
    max-width: 1000px;
    margin-left: auto;
    padding: 30px 0;

    @include breakpoint(min-phone) {
        display: grid;
        grid-column-gap: 9%;
    }
}

.design-section-2-wrapper-title,
.design-your-office-get-in-touch-title {
    color: #1D1D1B;;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.design-section-2-wrapper-list {
    grid-area: 1 / 2;
    list-style: none;
    margin-bottom: 60px;
}

.design-section-2-wrapper-list-item {
    margin-bottom: 6px;
    padding-left: 20px;
    position: relative;

    &:before {
        content: '+';
        color: #F95658;;
        font-size: 22px;
        left: 0;
        line-height: 26px;
        position: absolute;
    }
}

.design-section-2-wrapper-img {
    margin: 0 auto;

    @include breakpoint(min-tablet) {
        grid-area: 1 / 2;
        max-width: inherit;
    }
}

.design-section-2-wrapper-img-text {
    font-size: 12px;
    text-align: right;

    @include breakpoint(min-tablet) {
        grid-area: 2 / 2;
    }
}

.design-your-office-get-in-touch {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    max-width: 1000px;
    margin-left: auto;
    padding: 100px 0;
    text-align: center;

    @include breakpoint(min-phone) {
        grid-template-columns: 180px minmax(200px, 500px);
        text-align: left;
    }
}

.design-your-office-get-in-touch-img {
    grid-area: 1 / 1 / 3 / 2;

    @include breakpoint(phone) {
        margin: 0 auto;
    }
}

.design-your-office-img-bottom {
    margin-bottom: 100px;

    @include breakpoint(min-phone) {
        margin-bottom: 150px;
    }
}