/* -----------------------------------------
   Coworking office page
   ----------------------------------------- */

.coworking,
.serviced-space {

    .hero {
        margin: 50px 0 70px;
    }

    .hero-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 110px 10%;
        position: relative;
    }

    .office-search-field {
        margin-right: 0;
    }

    .hero-image-rectangle {
        position: absolute;
        top: -32px;
        left: 0;
    }

    .office-search-form {
        position: relative;
    }

    .locations {
        padding: 0 0 8.5% calc((100vw - 1089px)/2)
    }
}

//Coworking nav
.coworking-nav-list {
    margin-bottom: 50px;

    @include breakpoint(min-tablet-small) {
        max-width: 50%;
        margin-bottom: 80px;
    }
}

.coworking-nav-item {
    align-items: center;
    border-bottom: 1px solid #d4d2d2;
    color: $base-title-color;
    display: flex;
    font-size: 17px;
    font-weight: 600;
    justify-content: space-between;
    padding: 20px 0;

    &:after {
        content: '';
        border: solid $color-primary;
        border-width: 0 2px 2px 0;
        flex-shrink: 0;
        height: 12px;
        margin-left: 20px;
        width: 12px;
        transform: rotate(316deg);
    }
}

.coworking-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    padding-bottom: 50px;

    @include breakpoint(min-phone) {
        padding-bottom: 100px;
    }

    p {
        padding-bottom: 30px;
    }
}

.coworking-info-title {
    padding-bottom: 30px;
}

.coworking-info-subtitle {
    font-size: 22px;
    padding-bottom: 5px;
}

.coworking-info-image {
    padding-bottom: 50px;

    @include breakpoint(min-phone) {
        padding-bottom: 100px;
    }
}

.coworking-info-cta {
    margin-top: 10px;

    @include breakpoint(min-phone) {
        margin-top: 30px;
    }
}

//what is included
.what-is-included {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 20px;
    padding: 30px 0;

    @include breakpoint(min-phone) {
        grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    }

    @include breakpoint(min-tablet-small) {
        margin-bottom: 100px;
        padding: 100px 0;
    }

    @include breakpoint(min-teblet-small) {
        background-image: linear-gradient(to right, #fff 0%, #fff 40%, #F6F6F6 40%, #F6F6F6 100%);
    }

    p {
        padding-bottom: 30px;
    }
}

.what-is-included-text {

    @include breakpoint(min-teblet-small) {
        margin-right: 20%;
    }
}

.what-is-included-title {
    padding-bottom: 30px;
}

//Find coworking
.find-coworking-space {

    @include breakpoint(min-tablet-small) {
        padding-bottom: 100px;
    }
}

.find-coworking-space-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 120px;
    grid-row-gap: 20px;

    @include breakpoint(min-tablet-small) {
        grid-template-columns: 1fr 1.4fr;
    }

    p {
        padding-bottom: 30px;
    }

    .office-search-form {
        box-shadow: none;
        margin-top: 20px;
        padding: 0;
    }
}

.find-coworking-space-title {
    padding-bottom: 30px;
}

.blog-posts {
    padding: 11% 0;

    @include breakpoint(min-tablet) {
        padding: 5% 0 8% $calcPaddingLeft;
    }

    .tns-outer {
        position: relative;
        
        @include breakpoint(min-tablet) {
            padding-left: 90px !important;
        }
    }

    .tns-controls {
        position: absolute;
        left: 0;

        @include breakpoint(tablet) {
            display: none;
        }
    }

    [data-controls="prev"],
    [data-controls="next"] {
        background-color: #000;
        border: none;
        display: block;
        outline: none;
        height: 42px;
        width: 42px;
    }
    
    [data-controls="prev"] {
        margin-bottom: 3px;
    }

    .posts-slider-item-data-name {
        padding: 15px 0;
    }

    .posts-slider-item-data-description {
        color: $base-text-color;
        font-size: 14px;
        padding-bottom: 15px;
    }

    .post-slider-item-data-read-more {
        font-size: 14px;
    }
}