/* -----------------------------------------
   Arabic 
   ----------------------------------------- */

.ar {
    direction: rtl;

    .tns-outer {
        direction: ltr;
    }

    .header-menu-button {
        margin-left: 0;
        margin-right: 15px;
    }

    .header-quote-button {
        margin-left: 0;
        margin-right: 10px;
    }


    .header-phone {
        margin-left: 15px;
    }

    .header-nav-item-social-text {
        margin-left: 0;
        margin-right: 10px;
    }

    .header-search-icon {
        margin-right: 0;
        margin-left: 10px;
    }

    .office-search-field {
        @include breakpoint(min-phone) {
            margin-right: 0;
            margin-left: 12px;
        }
    }

    .office-search-input {
        padding-left: 0;
        padding-right: 10px;
    }

    .workspace-feature-info {
        @include breakpoint(min-tablet) {
            padding: 0 92px 0 0;
        }
    }

    .heading-info-text {
        margin-left: 0;
        margin-right: -23px;
        padding: 7px 30px 7px 20px;
    }

    .locations {
        @include breakpoint(min-tablet) {
            padding: 8.5% calc((100vw - 1089px)/2) 8.5% 0;

            .tns-outer {
                padding-left: 0 !important;
                padding-right: 90px !important;
            }
        }


        .tns-controls {
            left: auto;
            right: 0;
        }
    }

    .workspace-feature:before {
        left: 0;
        right: auto;
    }

    .map-info {
        left: auto;
        right: 40px;

        @include breakpoint(min-tablet) {
            left: auto;
            right: 0;
            margin-left: 0;
            margin-right: calc((100vw - 1089px)/2);
        }
    }

    .newsletter-form-input {
        margin-right: 0;
        margin-left: 16px;
    }

    .footer-newsletter-text {
        text-align: right;
    }

    .footer-nav-bottom-links {
        padding-right: 0;
        padding-left: 10px;
    }

    .customer-reviews-slider-item {
        direction: rtl;
    }
    
    .icon-star {
        padding-left: 0;    
        padding-right: 15px;
    }

    .customer-reviews .tns-outer {
        background-position: bottom 25px left 25px;
    }


    .customers-inner {
        @include breakpoint(phone) {
            padding-left: 0;
            padding-right: 36px;
        }
    }

    .legal .legal-content-with-bg {
        background-image: linear-gradient(to left, #fff 0%, #fff 50%, #F6F6F6 50%, #F6F6F6 100%);
    }

    .offices-slider-wrap .offices-slider-price-info {

        @include breakpoint(min-phone) {
            left: auto;
            right: 5%;
        }

        @include breakpoint(min-tablet) {
            right: 20%;
        }
    }

    .select:before {
        right: auto;
        left: 15px;
    }

    .select:after {
        right: auto;
        left: 40px;
    }

    .covid-office-info-item-left {
        @include breakpoint(min-tablet) {
            padding-right: calc((100vw - 1089px)/2);
            padding-left: 0;
        }
    }

    .covid-office-info-item-right {
        @include breakpoint(min-phone) {
            padding-right: 10%;
            padding-left: 0;
        }
    }

    .ul-type-1 li:before {
        margin-right: 0;
        margin-left: 10px;
    }


    .blog-posts {
    
        @include breakpoint(min-tablet) {
            padding: 5% $calcPaddingLeft 8% 0;
        }
    
        .tns-outer {
            
            @include breakpoint(min-tablet) {
                padding-left: 0 !important;
                padding-right: 90px !important;
            }
        }
    
        .tns-controls {
            left: auto;
            right: 0;
        }
    }

    &.faq  {

        .faq-links-list-item:after {
            margin-left: 0;
            margin-right: 20px;
            transform: rotate(134deg);
        }

        .faq-question:before {
            margin-right: 0;
            margin-left: 20px;
        }

        .faq-question:after {
            left: auto;
            right: 9px;
        }
    }

    .search-content {
    
        @include breakpoint(min-laptop) {
            padding-right: $calcPaddingLeft;
            padding-left: 40px;
        }
    }

    .search-content-aside {
    
        .map {
            right: auto;
            left: 0;
        }
    }
    
    .toggle-map-switch {
        margin-left: 0;
        margin-right: 5px;
    }

    .form-field .error {
        left: auto;
        right: 0;
    }

    .office-list-item-images-count {
        left: auto;
        right: 0;
    }

    .office-list-item-images-count-num {
        margin-left: 0;
        margin-right: 5px;
    }

    .offices-list-item-data-cta {
        right: auto;
        left: 25px;
    }

    .input-date {
        background-position: center left 12px;
    }

    .checkbox-label,
    .radio-label {

        &:before {
            margin-right: 0;
            margin-left: 8px;
        }

        &:after {
            left: auto;
            right: 9px;
        }
    }

    .radio-label {

        &:after {
            left: auto;
            right: 8px;
        }
    }

    .filter-distance .ui-slider-horizontal .ui-slider-handle:before {
        transform: rotate(316deg);
    }

    .filter-distance .ui-slider-horizontal .ui-slider-handle:after {
        transform: rotate(134deg);
    }

    .register-about-left {
        
        @media screen and (min-width: 1155px) {
            padding: 100px $calcPaddingLeft 100px 90px;
        }
    
        &:before {
    
            @include breakpoint(min-tablet-small) {
                right: 0;
                left: -5%;
            }
        }
    }
    
    .btn-primary {
    
        &:hover {
    
            img {
                transform: translateX(-5px) rotate(180deg);
            }
        }
    
        img {
            transform: translateX(0) rotate(180deg);
            margin-left: 0;
            margin-right: 5px;
        }
    }

    .register-info {
        @include breakpoint(min-tablet-small) {
            background-image: linear-gradient(to left, #F6F6F6 0%, #F6F6F6 60%, #fff 60%, #fff 100%);
        }
    }

    .satellite-office-info {
        
        @include breakpoint(min-phone) {
            padding: 70px 10% 0 0;
        }
    
        @include breakpoint(min-tablet-small) {
            grid-template-columns: 1fr 1.3fr;
            grid-row-gap: 40px;
        }
    
        .satellite-office-info-item {
            padding-bottom: 30px;
    
            @include breakpoint(min-phone) {
                padding-bottom: 50px;
            }
        }
    }

    .shared-office-info-bottom {
    
        @include breakpoint(min-tablet-small) {
            background-image: linear-gradient(to left, #fff 0%, #fff 40%, #F6F6F6 40%, #F6F6F6 100%);
        }
    }


    .startup-office-info-top {
    
        @include breakpoint(min-tablet-small) {
            background-image: linear-gradient(to left, #fff 0%, #fff 40%, #F6F6F6 40%, #F6F6F6 100%);
        }
    }

    .temp-office-info-top {

        @include breakpoint(min-tablet-small) {
            background-image: linear-gradient(to left, #fff 0%, #fff 50%, #F6F6F6 50%, #F6F6F6 100%);
        }
    }

    .page-intro {

        @include breakpoint(min-tablet-small) {
            padding: 50px 90px 100px 0;
        }
    }

    .thank-you-content {
        background-image: linear-gradient(to left, #fff 0%, #fff 30%, #F6F6F6 30%, #F6F6F6 100%);
        padding-left: 0;
        padding-right: $calcPaddingLeft;
    }

    .thank-you-text {
        padding: 50px 50px 50px 20%;
    
        @include breakpoint(min-tablet-small) {
            margin-left: 0;
            margin-right: -90px;
        }
    }
}