/* -----------------------------------------
   Locations page
   ----------------------------------------- */

.locations-page {
    padding-top: 56px;

    @include breakpoint(min-phone) {
        padding-top: 130px;
    }

    .related-offices {
        background-color: #F6F6F6;
        padding: 50px 0;
    }
    
    .related-offices-title {
        text-align: left;
    }
}

//Locations list
.locations-list {
    padding: 50px 0;
}

.locations-list-title {
    font-size: 24px;
    padding-bottom: 20px;
}

.location-filter-nav {
    padding-bottom: 30px;
    
    @include breakpoint(min-phone) {
        max-width: 79%;
    }
}

.location-filter-nav-item {
    color: #919191;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 5px;
    position: relative;

    &:after {
        content: '';
        height: 2px;
        background-color: $base-title-color;
        left: 50%;
        position: absolute;
        top: 100%;
        right: 50%;
        transition: all .3s ease-in-cubic();
    }

    &:hover {

        &:after {
            left: 0;
            right: 0;
        }
    }

    &.is-active {
        color: $base-title-color;

        &:after {
            left: 0;
            right: 0;
        }
    }
}

.location-filter {
    margin-left: -1%;
    margin-right: -1%;
}

.location-filter-item {
    padding: 15px 20px;
    max-width: 100%;
    width: 100%;
    padding: 0 1% 2% 1%;

    @include breakpoint(min-phone) {
        max-width: 50%;
        width: 50%;
    }

    @include breakpoint(min-tablet-small) {
        max-width: 25%;
        width: 25%;
    }
}

.location-filter-item-list {
    border: 1px solid #A3A3A3;
    list-style: none;
    font-size: 14px;
    padding: 15px 20px;
}

.location-filter-item-title,
.location-filter-item-desc-link {
    color: $base-title-color;
}

.location-filter-item-desc {
    &:not(:last-child) {
        padding-bottom: 5px;
    }
}

.location-filter-item-desc-link {
    font-weight: 500;
}

.location-filter-item-title {
    font-weight: 600;
    padding-bottom: 20px;
}
