/* -----------------------------------------
   Office page
   ----------------------------------------- */
/* changed */
.office {
    
    @include breakpoint(min-phone) {
        padding-top: 125px;
    }
}

//layout (form + content)
.office-info {
    padding-top: 70px;

    @include breakpoint(tablet) {
        padding-left: 36px;
        padding-right: 36px;
    }

    @include breakpoint(phone) {
        padding: 0;
    }
    
    @include breakpoint(min-tablet) {
        max-width: 1160px;
        margin: 0 auto;
        padding-left: 36px;
        padding-right: 36px;
        display: grid;
        grid-template-columns: 344px 1fr;
        grid-gap: 42px;
    }
}

.office-info-left {
    
    @include breakpoint(tablet) {
        display: grid;
        grid-gap: 42px;
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(phone) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.office-info-right {

    @include breakpoint(tablet) {
        padding: 50px 0 0;
    }

    @include breakpoint(phone) {
        padding: 36px 36px 50px;
    }

    @include breakpoint(min-tablet) {
        padding-bottom: 100px;
    }
}

//Mobile only content
.office-info-mobile {

    @include breakpoint(phone) {
        order: -1;
        padding: 36px 36px 0;
    }
}

.office-info-phone {

    @include breakpoint(min-phone) {
        display: none;
    }
}

.office-info-tablet {
    display: none;

    @include breakpoint(min-phone) {
        display: block;
    }

    @include breakpoint(min-tablet) {
        display: none;
    }
}

.office-info-phone-title {
    font-size: 22px;
    padding-bottom: 25px;
}

.office-info-tablet-title {
    font-size: 17px;
    padding-bottom: 5px;
}

.office-info-tablet-more-link,
.office-info-phone-more-link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 500;
}

.office-info-phone-more-link {
    font-size: 15px;
}

.office-info-tablet-more-link {
    font-size: 12px;
}

//Office info
.office-info-item {
    
    &:not(:last-child) {
        border-bottom: 1px solid #D3D2D2;
        margin-bottom: 45px;
        padding-bottom: 50px;
    }

    @include breakpoint(phone) {
        
        .btn {
            width: 100%;
        }
    }
}

.office-info-item-title,
.office-info-item-subtitle {
    font-size: 22px;
    padding-bottom: 25px;
}

.office-info-item-title {

    + .office-info-item-subtitle,
    + .office-info-item-title {
        margin-top: -23px;
    }
}

.office-info-item-subtitle {
    font-weight: normal;
}

.heading-info {

    + .office-info-item-title {
        padding-top: 30px;
    }
}

.office-info-item-cta {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;

    @include breakpoint(min-phone) {
        grid-template-columns: 220px 220px;
    }
}

.office-info-item-location {
    padding-bottom: 15px;
    font-weight: 500;
}

.office-info-item-get-directions {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.office-info-item-text {

    &:not(:last-child) {
        padding-bottom: 30px;
    }
}

.office-type {
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 23px;
    justify-items: center;
    margin-bottom: 17px;
    overflow: hidden;
    padding: 30px 20px;

    @include breakpoint(min-phone) {
        align-items: center;
        grid-template-columns: auto 1fr;
        justify-items: start;
        grid-gap: 55px;
        min-height: 145px;
        padding: 0 58px;
    }

    &:last-of-type {
        margin-bottom: 43px;
    }
}

.office-type-desc {

    @include breakpoint(phone) {
        justify-self: start;
    }
}

.office-type-image-specific {
    margin-top: -65px;
}

.office-type-desc-title {
    font-size: 17px;
    padding-bottom: 5px;
}

.office-type-desc-text {
    font-size: 13px;
}

.office-info-item-list {
    list-style: none;
}

.office-info-item-list-item {
    align-items: center;
    display: grid;
    grid-template-columns: 31px 1fr;
    grid-gap: 15px;
    padding-bottom: 15px;
}

.office-design {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 213px);
    margin: 20px -36px 32px -36px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;

    @include breakpoint(min-phone) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 250px;
        justify-items: center;
        margin: 20px 0 32px 0;

        &:before,
        &:after {
            content: '';
            background-color: #D3D2D2;
            position: absolute;
        }

        &:before {
            height: 1px;
            width: 100%;
            top: 50%;
        }

        &:after {
            height: 100%;
            width: 1px;
            left: 50%;
        }
    }
}

.office-design-cta {
    text-align: center;

    @include breakpoint(min-phone) {
        padding-bottom: 50px;
    }

    @include breakpoint(min-tablet) {
        text-align: left;
        padding-bottom: 0;
    }
}