/* -----------------------------------------
   Links
   ----------------------------------------- */

a {
    color: $base-link-color;
    text-decoration: none;
    transition: all .25s ease;

    &:hover {
        opacity: .7;
    }
}
