{% extends "./_templates/template.default.html" %}
{% set page = "about" %}
{% set title = "About" %}
{% set about = true %}

{% block content %}
    {% include "_partials/partial.header.html" %}
        <main class="site-main" role="main">
            {% include "_partials/partial.breadcrumbs.html" %}
            <section class="page-intro">
                <div class="container container-medium">
                    <h1 class="page-intro-title">About Easy Offices</h1>
                    <p class="page-intro-text">We created Easy Offices for one simple reason. To make it easier for people
                        to find great places to work.</p>
                </div>
            </section>
            <section class="hero-image">
                <div class="container container-large">
                    <img src="images/about/about-1.jpg" alt="about easy offices">
                </div>
            </section>
            <section class="legal">
                <div class="legal-intro">
                    <div class="container container-large">
                        <div class="legal-intro-text legal-intro-text-right">
                            <p>With increasing demand for flexible workspace, there is a wide choice of locations in every town and city in the world. And it's growing fast. Global brands, local networks, co-working clubs, agents, brokers and online listings – the choice is endless.</p>
                        </div>
                    </div>
                </div>
                <div class="container container-medium">
                    <div class="legal-content">
                        <div class="legal-content-item">
                            <h2 class="legal-content-title">Our mission</h2>
                            <div class="legal-content-desc">
                                <h3 class="legal-content-desc-subtitle">To gather every square foot of workspace in the world and put in all under one roof.</h3>
                                <p>In doing so we're creating the world's largest workspace market; a single place for landlords and property owners to connect with anyone looking for a place to work. From global organizations to homeworkers, from an hour to years, from a desk to an entire building. It's all here.</p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="container container-wide">
                    <div class="legal-img-grid">
                        <img src="images/about/about-2.jpg" alt="about easy office">
                        <div class="legal-img-grid-right">
                            <img src="images/about/about-3.jpg" alt="about easy office">
                            <img src="images/about/about-4.jpg" alt="about easy office">
                        </div>
                    </div>
                </div>
                <div class="container container-medium">
                    <div class="legal-content legal-content-with-bg">
                        <div class="legal-content-item">
                            <h2 class="legal-content-title">How does Easy Offices work?</h2>
                            <div class="legal-content-desc">
                                <p>We are paid by workspace operators whenever a booking is
                                    made with them. This doesn't cost any more than going direct
                                    or through an agent. We are simply a part of the sales process
                                    and provide most operators with the vast majority of their sales
                                    leads, up to 90% in some cases.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main><!-- /.site-main -->
    {% include "_partials/partial.footer.html" %} 
{% endblock %}
