{% extends "./_templates/template.default.html" %}
{% set page = "office" %}
{% set title = "Centre" %}
{% set centre = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        {% include "_partials/partial.breadcrumbs.html" %}
        {% include "_partials/partial.page-head.html" %}
        {% include "_partials/partial.offices-slider.html" %}
        {% include "_partials/partial.office-info.html" %}
        {% include "_partials/partial.map-office.html" %}
        {% include "_partials/partial.facilities.html" %}
        {% include "_partials/partial.customer-reviews.html" %}
        {% include "_partials/partial.customers-office-page.html" %}
        {% include "_partials/partial.cta.html" %}
        {% include "_partials/partial.our-promise.html" %}
        {% include "_partials/partial.related-offices.html" with { title: 'Related offices' } %}
        <section class="forms">
            <div class="container container-medium">
                <h3 class="title">Forms</h3>
                <ul>
                    <li><a href="javascript:;" class="js-modal-link" data-id="modal-1">Form link 1</a></li>
                    <li><a href="javascript:;" class="js-modal-link" data-id="modal-2">Form link 2</a></li>
                    <li><a href="javascript:;" class="js-modal-link" data-id="modal-3">Form link 3</a></li>
                    <li><a href="javascript:;" class="js-modal-link" data-id="modal-4">Form link 4</a></li>
                    <li><a href="javascript:;" class="js-modal-link" data-id="modal-5">Form link 5</a></li>
                    <li><a href="javascript:;" class="js-modal-link" data-id="modal-6">Form link 6</a></li>
                    <li><a href="javascript:;" class="js-modal-link" data-id="modal-7">Form link 7</a></li>
                </ul>
                
                {# Modal content 1 #}
                <div class="modal js-modal" id="modal-1">
                    <div class="modal-container">
                        <a href="javascript:;" class="js-modal-close modal-close">×</a>
                        <div class="modal-content">
                            <div class="form-type form-type-1">
                                <form class="form">
                                    <h3 class="form-title">Get a quote for office space in United Kingdom</h3>
                                    <p class="form-desc">We’ll send you everything you need, from pricing and service costs, to availability and terms.</p>
                                    <div class="form-fields">
                                        <input type="text" name="address" id="" value="2, Sheraton Street" class="input input-primary">
                                        <div class="select">
                                            <select name="size" id="" class="input input-primary input-select" required>
                                                <option value="" disabled selected hidden>No. of people</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                        <input type="text" name="start-date" id="datepicker" value="" placeholder="Start date" class="input input-primary input-date datepicker">
                                        <input type="text" name="name" id="" value="" class="input input-primary" placeholder="Name">
                                        <input type="text" name="company" id="" value="" class="input input-primary" placeholder="Company">
                                        <input type="text" name="phone" id="" value="" class="input input-primary" placeholder="Telephone">
                                        <textarea name="notes" id="notes" placeholder="Anything else you would like us to know?" class="input input-textarea" onkeyup="autoGrow(this)"></textarea>
                                        <input type="email" name="email" id="" value="" class="input input-primary" placeholder="Email" required>
                                        <div class="input-checkbox-custom">
                                            <input type="checkbox" name="terms-agree" id="terms-agree-1" class="input-checkbox" value="1">
                                            <label for="terms-agree-1" class="input-checkbox-label"><p>I have read and accepted your <strong>terms and conditions</strong></p></label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </form>
                                <div class="want-talk">
                                    <div class="want-talk-head">
                                        <img src="images/get-quote-image.png" alt="want talk">
                                        <h3 class="want-talk-head-title">Want to talk to someone?</h3>
                                    </div>
                                    <p class="want-talk-text">We can answer any questions you have about this and other offices.</p>
                                    <a href="tel:02039447436" class="want-talk-phone">020 3944 7436</a>
                                    <div class="form-customer-reviews">
                                        <h4 class="form-customer-reviews-name">
                                            Caroline C. <span class="icon-star">
                                                <img src="images/icon-star.png" alt="green star">
                                                <img src="images/icon-star.png" alt="green star">
                                                <img src="images/icon-star.png" alt="green star">
                                                <img src="images/icon-star.png" alt="green star">
                                            </span>
                                        </h4>
                                        <p class="form-customer-reviews-text">
                                            The Easy Offices process was extremely quick and easy… Sophie quickly presented me with 3 very suitable offices.
                                        </p>
                                        <img src="images/reviews-io.png" class="form-customer-reviews-source" alt="reviews.io">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# Modal content 2 #}
                <div class="modal js-modal" id="modal-2">
                    <div class="modal-container">
                        <a href="javascript:;" class="js-modal-close modal-close">×</a>
                        <div class="modal-content">
                            <div class="form-type form-type-1">
                                <form class="form">
                                    <h3 class="form-title-dark">Come and take a look around </h3>
                                    <h3 class="form-title">Sheraton Street, Soho</h3>
                                    <p class="form-desc">Let us know what date and time suits you, and the on-site team will be delighted to show you around.</p>
                                    <div class="form-fields">
                                        <input type="text" name="name" id="" value="" class="input input-primary" placeholder="Name">
                                        <input type="text" name="company" id="" value="" class="input input-primary" placeholder="Company">
                                        <input type="text" name="phone" id="" value="" class="input input-primary" placeholder="Telephone">
                                        <input type="email" name="email" id="" value="" class="input input-primary" placeholder="Email" required>
                                        <div class="select">
                                            <select name="size" id="" class="input input-primary input-select" required>
                                                <option value="" disabled selected hidden>Size</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                        <input type="text" name="start-date" id="datepicker" value="" placeholder="Start date" class="input input-primary input-date datepicker">
                                        <div class="select">
                                            <select name="time" id="" class="input input-primary input-select" required>
                                                <option value="">9.00 AM</option>
                                                <option value="">10.00 AM</option>
                                                <option value="">11.00 AM</option>
                                                <option value="">12.00 AM</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                        <div class="input-checkbox-custom">
                                            <input type="checkbox" name="terms-agree" id="terms-agree-2" class="input-checkbox" value="1">
                                            <label for="terms-agree-2" class="input-checkbox-label"><p>I have read and accepted your <strong>terms and conditions</strong></p></label>
                                        </div>
                                    </div>
                                </form>
                                <img src="images/form-image-1.jpg" alt="form image" class="form-image">
                            </div>
                        </div>
                    </div>
                </div>
                {# Modal content 3 #}
                <div class="modal js-modal" id="modal-3">
                    <div class="modal-container">
                        <a href="javascript:;" class="js-modal-close modal-close">×</a>
                        <div class="modal-content">
                            <div class="form-type form-type-2">
                                <img src="images/form-image-2.jpg" alt="form image" class="form-image">
                                <form class="form" action="">
                                    <h3 class="form-title">How can we help you?</h3>
                                    <p class="form-desc">Fill in your details and we’ll get back to you as soon as possible</p>
                                    <div class="form-fields">
                                        <input type="text" name="name" id="" value="" class="input input-primary" placeholder="Name">
                                        <input type="text" name="company" id="" value="" class="input input-primary" placeholder="Company">
                                        <input type="text" name="phone" id="" value="" class="input input-primary" placeholder="Telephone">
                                        <input type="email" name="email" id="" value="" class="input input-primary" placeholder="Email" required>
                                        <textarea name="notes1" id="notes1" placeholder="How can we help you?" class="input input-textarea input-textarea-large" onkeyup="autoGrow(this)"></textarea>
                                        <div class="input-checkbox-custom">
                                            <input type="checkbox" name="terms-agree" id="terms-agree-2" class="input-checkbox" value="1">
                                            <label for="terms-agree-2" class="input-checkbox-label"><p>I have read and accepted your <strong>terms and conditions</strong></p></label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {# Modal content 4 #}
                <div class="modal js-modal" id="modal-4">
                    <div class="modal-container">
                        <a href="javascript:;" class="js-modal-close modal-close">×</a>
                        <div class="modal-content">
                            <div class="form-type form-type-3">
                                <img src="images/form-image-3.jpg" alt="form image" class="form-image">
                                <form class="form" action="">
                                    <h4 class="heading-info">
                                        <span class="heading-info-icon">{{icon('icon-pen', 'icon-20-20')}}</span>
                                        <span class="heading-info-text">Design your office</span>
                                    </h4>
                                    <h3 class="form-title">Interested in designing your own office?</h3>
                                    <p class="form-desc">Fill in your details and we’ll get back to you as soon as possible.</p>
                                    <div class="form-fields">
                                        <input type="text" name="name" id="" value="" class="input input-primary" placeholder="Name">
                                        <input type="email" name="email" id="" value="" class="input input-primary" placeholder="Email" required>
                                        <input type="text" name="phone" id="" value="" class="input input-primary" placeholder="Telephone">
                                        <input type="text" name="interest" id="" value="" class="input input-primary" placeholder="Location of interest">
                                        <textarea name="notes3" id="notes3" placeholder="Anything else you’d like us to know" class="input input-textarea input-textarea-large" onkeyup="autoGrow(this)"></textarea>
                                        <div class="input-checkbox-custom">
                                            <input type="checkbox" name="terms-agree" id="terms-agree-2" class="input-checkbox" value="1">
                                            <label for="terms-agree-2" class="input-checkbox-label"><p>I have read and accepted your <strong>terms and conditions</strong></p></label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {# Modal content 5 #}
                <div class="modal js-modal" id="modal-5">
                    <div class="modal-container">
                        <a href="javascript:;" class="js-modal-close modal-close">×</a>
                        <div class="modal-content">
                            <div class="form-type form-type-4">
                                <div class="js-tab-group tab-group">
                                    <div class="tab-header">
                                        <h4 class="heading-info">
                                            <span class="heading-info-icon">{{icon('icon-pen', 'icon-20-20')}}</span>
                                            <span class="heading-info-text">Design your office</span>
                                        </h4>
                                        <ul class="tabs-nav">
                                            <li class="js-tab-link tab-link current">Overview</li>
                                            <li class="js-tab-link tab-link">Workspace</li>
                                            <li class="js-tab-link tab-link">Desks</li>
                                            <li class="js-tab-link tab-link">Seating</li>
                                            <li class="js-tab-link tab-link">Enhancements</li>
                                            <li class="js-tab-link tab-link">Branding</li>
                                        </ul>
                                    </div>
                                    <div class="tabs-content-group">
                                        <div class="js-tab-content tab-content current">
                                            <h2 class="tab-content-title">Create a home for your business</h2>
                                            <div class="tab-grid">
                                                <div class="tab-grid-left">
                                                    <img src="images/forms/image-1.jpg" alt="image">
                                                </div>
                                                <div class="tab-grid-right">
                                                    <div class="tab-grid-content">
                                                        <div class="tab-grid-text">
                                                            <p>Make your office a great place to work by configuring the layout based on how your business operates. Then customise everything from furniture to storage, accessories, plants, decoration and branding. All the details that make your space your own.</p>
                                                        </div>
                                                        <a href="javascript:;" class="btn btn-primary">Learn more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="js-tab-content tab-content">
                                            <h2 class="tab-content-title">Workspace</h2>
                                            <div class="tab-grid">
                                                <div class="tab-grid-left">
                                                    <img src="images/forms/image-2.jpg" alt="image">
                                                </div>
                                                <div class="tab-grid-right">
                                                    <div class="tab-grid-content">
                                                        <div class="tab-grid-text">
                                                            <p><strong>Team rooms</strong> designed to maximise desk space while controlling costs</p>
                                                            <p><strong>Executive space</strong> with bigger desks in a more spacious setting</p>
                                                            <p><strong>Spacious executive layouts</strong> with more space to move and collaborate</p>
                                                            <p><strong>Combination space</strong> that blends desk sizes and layouts to suit your team</p>
                                                        </div>
                                                        <a href="javascript:;" class="btn btn-primary">Learn more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="js-tab-content tab-content">
                                            <h2 class="tab-content-title">Desks</h2>
                                            <div class="tab-grid">
                                                <div class="tab-grid-left">
                                                    <div class="slider">
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-3.jpg" alt="image">
                                                        </div>
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-3.jpg" alt="image">
                                                        </div>
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-3.jpg" alt="image">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-grid-right">
                                                    <div class="tab-grid-content">
                                                        <div class="tab-grid-text">
                                                            <p>Our collection of desks includes a choice of sizes as well as standing and sitting options. All with endless customisation including under-desk storage, privacy screens, plants and the additions that make a desk your own.</p>
                                                        </div>
                                                        <a href="javascript:;" class="btn btn-primary">Learn more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="tab-content-info">Fixed Desk</p>
                                        </div>
                                        <div class="js-tab-content tab-content">
                                            <h2 class="tab-content-title">Seating</h2>
                                            <div class="tab-grid">
                                                <div class="tab-grid-left">
                                                    <div class="slider">
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-4.jpg" alt="image">
                                                        </div>
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-4.jpg" alt="image">
                                                        </div>
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-4.jpg" alt="image">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-grid-right">
                                                    <div class="tab-grid-content">
                                                        <div class="tab-grid-text">
                                                            <p>Our seating collection includes premium ergonomic office chairs, lightweight side chairs and stylish lounge chairs and sofas. So you’ll have the perfect place to sit whether you’re working through your email or getting together to share ideas.</p>
                                                        </div>
                                                        <a href="javascript:;" class="btn btn-primary">Learn more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="tab-content-info">Series 1</p>
                                        </div>
                                        <div class="js-tab-content tab-content">
                                            <h2 class="tab-content-title">Office enhancements</h2>
                                            <div class="tab-grid">
                                                <div class="tab-grid-left">
                                                    <div class="slider">
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-5.jpg" alt="image">
                                                        </div>
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-5.jpg" alt="image">
                                                        </div>
                                                        <div class="slider-item">
                                                            <img src="images/forms/image-5.jpg" alt="image">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-grid-right">
                                                    <div class="tab-grid-content">
                                                        <div class="tab-grid-text">
                                                            <p>Make your office more flexible and functional with a choice of add-ons. From storage walls to ready-made meeting spaces and lounge areas, it’s a way to get even more from your workspace and help your team work in more ways.</p>
                                                        </div>
                                                        <a href="javascript:;" class="btn btn-primary">Learn more</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="tab-content-info">Media Meeting</p>
                                        </div>
                                        <div class="js-tab-content tab-content">
                                            <h2 class="tab-content-title">Branding</h2>
                                            <div class="tab-grid">
                                                <div class="tab-grid-left">
                                                    <img src="images/forms/image-6.jpg" alt="image">
                                                </div>
                                                <div class="tab-grid-right">
                                                    <div class="tab-grid-content">
                                                        <div class="tab-grid-text">
                                                            <p>With decoration and workspace branding, you can make your office feel like a welcoming, inspiring extension of your culture and values.</p>
                                                        </div>
                                                        <a href="javascript:;" class="btn btn-primary">Learn more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal js-modal" id="modal-6">
                    <div class="modal-container">
                        <a href="javascript:;" class="js-modal-close modal-close">×</a>
                        <div class="modal-content">
                            <form action="javascript:;" method="" class="office-search-form">
                                <h3 class="office-search-title">Find office space to rent, anywhere</h3>
                                <div class="office-search-fields">
                                    <div class="office-search-field">
                                        {{icon('icon-search', 'office-search-icon icon-15-16')}}
                                        <input type="text" name="search" class="input office-search-input" id="search" value="" placeholder="City, street name or postcode">
                                    </div>
                                    <a href="javascript:;" class="js-use-location office-search-locate">{{icon('icon-locate', 'icon-27-23')}}</a>
                                </div>
                                <button type="submit" class="btn btn-primary office-search-submit">Search</button>
                                <div class="office-search-suggestions">
                                    <a href="javascript:;" class="office-search-suggestion">London</a>
                                    <a href="javascript:;" class="office-search-suggestion">Bristol</a>
                                    <a href="javascript:;" class="office-search-suggestion">Manchester</a>
                                    <a href="javascript:;" class="office-search-suggestion">Birmingham</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% include "_partials/partial.form-7.html" %} 
                
            </div>
        </section>
    </main><!-- /.site-main -->
	
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
