{% extends "./_templates/template.default.html" %}
{% set page = "covid" %}
{% set title = "Covid" %}
{% set covid = true %}

{% block content %}
    {% include "_partials/partial.header.html" %}
        <main class="site-main" role="main">
            {% include "_partials/partial.breadcrumbs.html" %}
            <section class="page-intro">
                <div class="container container-medium">
                    <h1 class="page-intro-title">Work safely</h1>
                    <p class="page-intro-text">There's nothing more important to us than the wellbeing of our customers. That's why we've taken steps to make our workspaces safe places to work.</p>
                </div>
            </section>
            <section class="hero-image">
                <div class="container container-large">
                    <img src="images/covid/covid-office.png" alt="covid office">
                </div>
            </section>
            <section class="covid-office">
                <div class="covid-office-info">
                    <div class="covid-office-info-item-left">
                        <p>Our locations in the UK are managed and run by a wide range of different operators, each with their own cleaning and social distancing policies.</p>
                        <p>They are all following strict government guidelines on hygiene and safety, and implementing all mandatory procedures.</p>
                        <p>During these times we are in regular contact with every operator and have a good understanding of the protocols they have in place – these cover the following areas:</p>
                        <ul class="ul-type-1">
                            <li>Increased cleaning programmes</li>
                            <li>Provision of hand sanitiser</li>
                            <li>Spaced seating in common areas</li>
                            <li>Floor stickers, indicators and signage</li>
                            <li>One-way systems and building routing</li>
                            <li>Mandatory face masks for staff</li>
                            <li>Staff training</li>
                        </ul>
                        <p>If you have any concerns, or have a question about a specific location, just call our team and they'll be able to help you.</p>
                        <div class="customer-info-text">Call us now and we'll help put your mind at rest</div>
                        <a href="tel:02038836295" class="customer-info-phone">020 3883 6295</a>
                    </div>
                    <div class="covid-office-info-item-right">
                        <img src="images/covid/covid-1.jpg" alt="covid office" class="covid-image">
                        <img src="images/covid/covid-2.jpg" alt="covid office" class="covid-image">
                        <img src="images/covid/covid-3.jpg" alt="covid office" class="covid-image">
                        <img src="images/covid/covid-4.jpg" alt="covid office" class="covid-image">
                    </div>
                </div>
            </section>
        {% include "_partials/partial.map.html" with { mapInfoTitle: 'Explore coworking near you'} %}
        {% include "_partials/partial.our-promise.html" %}
        </main><!-- /.site-main -->
    {% include "_partials/partial.footer.html" %} 
{% endblock %}
