{% extends "./_templates/template.default.html" %}
{% set page = "coworking" %}
{% set title = "Coworking office" %}
{% set coworking = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Coworking and shared office space to rent</h1>
                <p class="page-intro-text">Find coworking space that gives you the freedom to focus, collaborate and grow. Offering total flexibility at an affordable price, hot desking in a shared office is ideal for your dynamic business needs.</p>
            </div>
        </section>
        <section class="hero">
            <div class="container container-large">
                <div class="hero-image" style="background-image: url('images/coworking/coworking-image-1.jpg');">
                    <img src="images/coworking/black-rectangle.jpg" class="hero-image-rectangle">
                    <form action="javascript:;" method="" class="office-search-form">
                        <h3 class="office-search-title">Find a coworking space</h3>
                        <div class="office-search-fields">
                            <div class="office-search-field">
                                {{icon('icon-search', 'office-search-icon icon-15-16')}}
                                <input type="text" name="search" class="input office-search-input" id="search" value="" placeholder="City, street name or postcode">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary office-search-submit">Search</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="coworking-nav">
            <div class="container container-medium">
                <div class="coworking-nav-list">
                    <a href="#what-is-coworking" class="coworking-nav-item">What is a coworking space?</a>
                    <a href="#coworking-benefits" class="coworking-nav-item">What are the benefits of a coworking space?</a>
                    <a href="#who-can-trive" class="coworking-nav-item">Who can thrive in a coworking space?</a>
                    <a href="#what-is-included-text" class="coworking-nav-item">What is included in a coworking space?</a>
                    <a href="#how-find-space" class="coworking-nav-item">How can I find a coworking space?</a>
                </div>
            </div>
        </section>
        <section class="what-is-coworking">
            <div class="container container-medium">
                <div class="coworking-info">
                    <div class="coworking-info-item" id="what-is-coworking">
                        <h2 class="coworking-info-title">What is a coworking space?</h2>
                        <p>A coworking space is a great way to maintain flexibility and affordability, regardless of the size or nature of your business. This agile workspace solution allows you to rent a desk in a shared office, with the utilities and furniture all included in one simple cost.</p>
                        <p>Within a shared office space you often have two options; reserve a dedicated desk, which allows you to create a presence within one business centre, or hot desk. Some hot desking advantages include renting a desk by the hour and having the freedom to drop-in to a variety of different locations. With minimum fuss or commitment, these flexible options can keep your workspace costs to a minimum and complement agile working schedules.</p>
                    </div>
                    <div class="coworking-info-item" id="coworking-benefits">
                        <h2 class="coworking-info-title">Benefits of a coworking space</h2>
                        <h3 class="coworking-info-subtitle">Quality, commitment-free space</h3>
                        <p>Use professional facilities, without committing to a long-term contract, in a fully-equipped shared office space. Choose from thousands of hot desking locations with the utilities, internet and furniture all set-up ready for your arrival.</p>
                        <h3 class="coworking-info-subtitle">Budget-friendly and scalable</h3>
                        <p>With a shared workspace, you can rent a desk on an affordable hourly basis. For a more long-term solution or upcoming project, you can also reserve dedicated desks for you and your team.</p>
                        <h3 class="coworking-info-subtitle">Collaborative environments for expanding your network</h3>
                        <p>Grow your network, find new clients and collaborate with other like-minded professionals in a coworking office. You can also gain access to a range of exciting networking events in your local area.</p>
                        <a href="" class="btn btn-primary coworking-info-cta">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="container container-large">
                <img src="images/coworking/coworking-image-2.jpg" alt="coworking office" class="coworking-info-image">
            </div>
            <div class="container container-medium">
                <h2 class="coworking-info-title" id="who-can-trive">Who can thrive in a<br> coworking space?</h2>
                <div class="coworking-info">
                    <div class="coworking-info-item" >
                        <h3 class="coworking-info-subtitle">Individuals</h3>
                        <p>Transition into a coworking space to increase productivity, creativity and your list of local business contacts. With thousands of shared workspaces available across the world, you can rent a desk in a prime location anytime, anywhere.</p>
                        <h3 class="coworking-info-subtitle">Expanding businesses</h3>
                        <p>Easily scale up hot desk space as your workforce expands. Whether recruiting new staff or scoping out an area for future expansion, a shared office lets you react quickly to changes in your business.</p>
                    </div>
                    <div class="coworking-info-item" id="what-is-included">
                        <h3 class="coworking-info-subtitle">Start-ups</h3>
                        <p>Get your venture off the ground quickly, make new business connections and enjoy a social, creative atmosphere conducive to busy start-ups. The opportunities are endless in a coworking space.</p>
                        <h3 class="coworking-info-subtitle">Corporates</h3>
                        <p>Accommodate project teams, visiting staff and consultants in a professional environment. Easy Offices can help you find affordable coworking spaces for temporary or permanent employees in over 3000 locations.</p>
                        <a href="" class="btn btn-primary coworking-info-cta">Browse spaces</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container container-large">
                <div class="what-is-included" id="what-is-included-text">
                    <img src="images/coworking/what-is-included.jpg" alt="coworking office" class="what-is-included-img">
                    <div class="what-is-included-text">
                        <h2 class="what-is-included-title">What is included in a coworking space?</h2>
                        <p>A coworking space in a shared office will often come with a variety of amenities. As well as offering you a desk and phone, many enable you to stay connected with super-fast WiFi, telephones and headsets.</p>
                        <p>Depending on your business centre’s facilities, you can also gain access to relaxed business lounges and communal kitchen areas, with staffed receptions on-hand to help with any admin assistance, like photocopying and scanning. If you’re looking to network, you’ll be pleased to hear that shared offices also host networking events, allowing you to meet like-minded professionals and build your business’ local reputation.</p>
                    </div>
                </div>
            </div>
        </section>
        {% include "_partials/partial.slider-locations.html" %}
        {% include "_partials/partial.our-promise.html" %}
        <section class="find-coworking-space" id="how-find-space">
            <div class="container container-large">
                <h2 class="find-coworking-space-title">How can I find a<br/> coworking space?</h2>
                <div class="find-coworking-space-wrap">
                    <div class="find-coworking-space-text">
                        <p>At Easy Offices, we can connect you to a wide variety of coworking space. Giving you the flexibility to reserve a dedicated desk or hot desk in over 3000 locations worldwide, you can find the professional space you need whilst responding to the demands of your business.</p>
                        <p>Use the search box below to enter your postcode and find nearby work space for rent or call our team today and let them compare the best coworking space deals on your behalf.</p>
                        <form action="javascript:;" method="" class="office-search-form">
                            <h3 class="office-search-title">Find a coworking space</h3>
                            <div class="office-search-fields">
                                <div class="office-search-field">
                                    {{icon('icon-search', 'office-search-icon icon-15-16')}}
                                    <input type="text" name="search" class="input office-search-input" id="search" value="" placeholder="City, street name or postcode">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary office-search-submit">Search</button>
                        </form>
                    </div>
                    <img src="images/coworking/coworking-image-3.jpg" alt="coworking office">
                </div>
            </div>
        </section>
        <section class="blog-posts">
            <div class="posts-slider">
                <div class="posts-slider-item">
                    <a href="javascript:;" class="posts-slider-item-link">
                        <img src="images/coworking/coworking-latest-1.jpg" alt="locations" class="posts-slider-item-img">
                        <div class="posts-slider-item-data">
                            <h3 class="posts-slider-item-data-name">Top 10 coworking offices in London</h3>
                            <p class="posts-slider-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                            <p class="post-slider-item-data-read-more">Read more</p>
                        </div>
                    </a>
                </div>
                <div class="posts-slider-item">
                    <a href="javascript:;" class="posts-slider-item-link">
                        <img src="images/coworking/coworking-latest-2.jpg" alt="locations" class="posts-slider-item-img">
                        <div class="posts-slider-item-data">
                            <h3 class="posts-slider-item-data-name">Lorem, ipsum dolor.</h3>
                            <p class="posts-slider-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                            <p class="post-slider-item-data-read-more">Read more</p>
                        </div>
                    </a>
                </div>
                <div class="posts-slider-item">
                    <a href="javascript:;" class="posts-slider-item-link">
                        <img src="images/coworking/coworking-latest-3.jpg" alt="locations" class="posts-slider-item-img">
                        <div class="posts-slider-item-data">
                            <h3 class="posts-slider-item-data-name">Lorem ipsum dolor sit amet.</h3>
                            <p class="posts-slider-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                            <p class="post-slider-item-data-read-more">Read more</p>
                        </div>
                    </a>
                </div>
                <div class="posts-slider-item">
                    <a href="javascript:;" class="posts-slider-item-link">
                        <img src="images/coworking/coworking-latest-4.jpg" alt="locations" class="posts-slider-item-img">
                        <div class="posts-slider-item-data">
                            <h3 class="posts-slider-item-data-name">Lorem ipsum dolor sit amet.</h3>
                            <p class="posts-slider-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                            <p class="post-slider-item-data-read-more">Read more</p>
                        </div>
                    </a>
                </div>
                <div class="posts-slider-item">
                    <a href="javascript:;" class="posts-slider-item-link">
                        <img src="images/coworking/coworking-latest-1.jpg" alt="locations" class="posts-slider-item-img">
                        <div class="posts-slider-item-data">
                            <h3 class="posts-slider-item-data-name">Lorem ipsum dolor sit amet.</h3>
                            <p class="posts-slider-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                            <p class="post-slider-item-data-read-more">Read more</p>
                        </div>
                    </a>
                </div>
                <div class="posts-slider-item">
                    <a href="javascript:;" class="posts-slider-item-link">
                        <img src="images/coworking/coworking-latest-2.jpg" alt="locations" class="posts-slider-item-img">
                        <div class="posts-slider-item-data">
                            <h3 class="posts-slider-item-data-name">Lorem ipsum dolor sit amet.</h3>
                            <p class="posts-slider-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                            <p class="post-slider-item-data-read-more">Read more</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        {% include "_partials/partial.map.html" with { mapInfoTitle: 'Explore coworking near you'} %}
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
