{% extends "./_templates/template.default.html" %}
{% set page = "dayoffice" %}
{% set title = "Day office" %}
{% set dayoffice = true %}

{% block content %}
    {% include "_partials/partial.header.html" %}
        <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Day office</h1>
                <p class="page-intro-text">Rent an office for a day and get professional, private office space for one person to an entire team.</p>
            </div>
        </section>
        <section class="hero-image">
            <div class="container container-large">
                <img src="images/day/day-office-image.jpg" alt="day office">
            </div>
        </section>
        <section class="day-office">
            <div class="container container-large">
                <div class="day-office-info">
                    <div class="day-office-info-top">
                        <div class="day-office-info-item">
                            <h3 class="day-office-info-item-title">Tap into an entire world of workspace</h3>
                            <p>With a satellite office, it’s easy to launch a local office wherever and whenever you need one. So you can support regional teams, build your presence in growing regions or instantly enter new markets – without the risk of committing to long-term workspace.</p>
                            <a href="javascript:;" class="js-modal-link btn btn-primary day-office-info-item-btn" data-id="modal-1">Search offices</a>
                        </div>
                        <div class="day-office-info-item">
                            <h3 class="day-office-info-item-title">Get team space that truly empowers teams</h3>
                            <p>When you’re trying to support teams that are away from your main office, give them satellite workspace that meets your standards. Our locations are professional, fully equipped and come with useful amenities like breakout areas, meeting rooms and more.</p>
                        </div>
                    </div>
                    <img src="images/day/day-office-image-1.jpg" alt="day office" class="day-office-image">
                </div>
            </div>
        </section>
        {# Modal content 5 #}
        <div class="modal js-modal" id="modal-1">
            <div class="modal-container">
                <a href="javascript:;" class="js-modal-close modal-close">×</a>
                <div class="modal-content">
                    <form action="javascript:;" method="" class="office-search-form">
                        <h3 class="office-search-title">Find office space to rent, anywhere</h3>
                        <div class="office-search-fields">
                            <div class="office-search-field">
                                {{icon('icon-search', 'office-search-icon icon-15-16')}}
                                <input type="text" name="search" class="input office-search-input" id="search" value="" placeholder="City, street name or postcode">
                            </div>
                            <a href="javascript:;" class="js-use-location office-search-locate">{{icon('icon-locate', 'icon-27-23')}}</a>
                        </div>
                        <button type="submit" class="btn btn-primary office-search-submit">Search</button>
                        <div class="office-search-suggestions">
                            <a href="javascript:;" class="office-search-suggestion">London</a>
                            <a href="javascript:;" class="office-search-suggestion">Bristol</a>
                            <a href="javascript:;" class="office-search-suggestion">Manchester</a>
                            <a href="javascript:;" class="office-search-suggestion">Birmingham</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include "_partials/partial.map.html" with { mapInfoTitle: 'Explore coworking near you'} %}
        </main><!-- /.site-main -->
    {% include "_partials/partial.footer.html" %} 
{% endblock %}
