{% extends "./_templates/template.default.html" %}
{% set page = "design-your-office" %}
{% set title = "Design Your Office" %}
{% set designYourOffice = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
		<div class="container container-medium">
			<div class="container-medium">
				<div class="design-your-office-logo">
					<span class="heading-info-icon">{{icon('icon-pen', 'icon-20-20')}}</span>
					<span class="heading-info-text">Design your office</span>
				</div>
				<h2 class="design-your-office-title">Design your office</h2>
				<h2 class="design-your-office-title red">Create a home for your business</h2>
				<p class="design-your-office-subtitle">Make your office a great place to work by configuring the layout based on how your business operates. Then customise everything from furniture to storage, accessories, plants, decoration and branding. All the details that make your space your own.</p><!-- /.design-your-office-subtitle -->
			</div><!-- /.container-design -->
		</div><!-- /.container -->
		<div class="container">
			<div class="design-your-office-img-wrapper">
				<img src="images/design-your-office/design-your-office-image.jpg" alt="" class="design-your-office-main-img">
				<h2 class="design-your-office-title">Simple from <br> start to finish</h2>
			</div><!-- /.design-your-office-img-wrapper -->
		</div><!-- /.container -->
		<div class="design-section-1">
			<div class="container container-medium">
				<div class="design-section-1-wrapper">
					<p class="design-your-office-inner-text-large">Whether you need an impressive office suite for a team of 20 or an inspirational workspace for two people, we’ll help you design the perfect environment.</p><!-- /.design-your-office-inner-text -->
					<p class="design-your-office-inner-text-small">With a range of different design ideas and a catalogue of furniture styles and accessories to choose from, we make the process easy.</p><!-- /.design-your-office-inner-text-small -->
					<p class="design-your-office-inner-text-small">And the costs can be included in your rental agreement, so there’s just one regular payment and no upfront capital investment.</p><!-- /.design-your-office-inner-text-small -->
					<p class="design-your-office-inner-text-small">Contact us now to find out how to design your own office at your chosen location.</p><!-- /.design-your-office-inner-text-small -->
					<a href="javascript:;" class="btn btn-primary">Contact us</a>
				</div><!-- /.section-1-wrapper -->
			</div><!-- /.container container-medium -->
		</div><!-- /.section-1 -->
		<div class="design-section-2">
			<div class="container container-medium">
				<h2 class="design-your-office-title">Your design options</h2>
				<div class="design-section-2-wrapper">
					<div class="design-section-2-wrapper-box">
						<p class="design-section-2-wrapper-title">Workspace</p><!-- /.text -->
						<p class="design-your-office-inner-text-large">Choose from large, open offices to ultra-efficient use of space. Whatever is the right fit for how your team needs to work and collaborate.</p><!-- /.design-your-office-inner-text-large -->
					</div><!-- /.design-section-2-wrapper-box -->
					<ul class="design-section-2-wrapper-list">
						<li class="design-section-2-wrapper-list-item "><span class="black">Team rooms</span> designed to maximise desk space while controlling costs</li><!-- /.design-section-2-wrapper-list-item -->
						<li class="design-section-2-wrapper-list-item"><span class="black">Executive space</span> with bigger desks in a more spacious setting</li><!-- /.design-section-2-wrapper-list-item -->
						<li class="design-section-2-wrapper-list-item"><span class="black">Spacious executive</span>layouts with more space to move and collaborate</li><!-- /.design-section-2-wrapper-list-item -->
						<li class="design-section-2-wrapper-list-item"><span class="black">Combination space</span> that blends desk sizes and layouts to suit your team</li><!-- /.design-section-2-wrapper-list-item -->
					</ul><!-- /.design-section-2item -->
					<p class="design-your-office-inner-text-small">You can also add meeting rooms, waiting areas and studio spaces for creative work.</p><!-- /.text -->
				</div><!-- /.design-section-2-wrapper -->
				<div class="design-section-2-wrapper">
					<div class="design-section-2-wrapper-box">
						<p class="design-section-2-wrapper-title">Desks and accessories</p><!-- /.text -->
						<p class="design-your-office-inner-text-large">Our collection of desks includes a choice of sizes as well as standing and sitting options. All with endless customisation including under-desk storage, privacy screens, plants and the additions that make a desk your own.</p><!-- /.design-your-office-inner-text-large -->
					</div><!-- /.design-section-2-wrapper-box -->
					<img src="images/design-your-office/table.png" class="design-section-2-wrapper-img" alt="">
					<p class="design-section-2-wrapper-img-text">Fixed Desk</p><!-- /.design-section-2-wrapper-img-text -->
				</div><!-- /.design-section-2-wrapper -->
				<div class="design-section-2-wrapper">
					<div class="design-section-2-wrapper-box">
						<p class="design-section-2-wrapper-title">Seating</p><!-- /.text -->
						<p class="design-your-office-inner-text-large">Our seating collection includes premium ergonomic office chairs, lightweight side chairs and stylish lounge chairs and sofas. So you’ll have the perfect place to sit whether you’re working through your email or getting together to share ideas.</p><!-- /.design-your-office-inner-text-large -->
					</div><!-- /.design-section-2-wrapper-box -->
					<img src="images/design-your-office/chair.png" class="design-section-2-wrapper-img" alt="">
					<p class="design-section-2-wrapper-img-text">Series 1 with Headrest</p><!-- /.design-section-2-wrapper-img-text -->
				</div><!-- /.design-section-2-wrapper -->
				<div class="design-section-2-wrapper">
					<div class="design-section-2-wrapper-box">
						<p class="design-section-2-wrapper-title">Office enhancements</p><!-- /.text -->
						<p class="design-your-office-inner-text-large">Make your office more flexible and functional with a choice of add-ons. From storage walls to ready-made meeting spaces and lounge areas, it’s a way to get even more from your workspace and help your team work in more ways.</p><!-- /.design-your-office-inner-text-large -->
					</div><!-- /.design-section-2-wrapper-box -->
					<img src="images/design-your-office/tv.png" class="design-section-2-wrapper-img" alt="">
					<p class="design-section-2-wrapper-img-text">Mobile Media Board</p><!-- /.design-section-2-wrapper-img-text -->
				</div><!-- /.design-section-2-wrapper -->
				<div class="design-section-2-wrapper">
					<div class="design-section-2-wrapper-box">
						<p class="design-section-2-wrapper-title">Decoration and branding</p><!-- /.text -->
						<p class="design-your-office-inner-text-large">With decoration and workspace branding, you can make your office feel like a welcoming, inspiring extension of your culture and values.</p><!-- /.design-your-office-inner-text-large -->
						<ul class="design-section-2-wrapper-list">
							<li class="design-section-2-wrapper-list-item ">Decorating walls in your brand colours</li><!-- /.design-section-2-wrapper-list-item -->
							<li class="design-section-2-wrapper-list-item">Your logo in a prominent place inside your office</li><!-- /.design-section-2-wrapper-list-item -->
						</ul><!-- /.design-section-2item -->
					</div><!-- /.design-section-2-wrapper-box -->
					<img src="images/design-your-office/branding.png" class="design-section-2-wrapper-img" alt="">
				</div><!-- /.design-section-2-wrapper -->
				<div class="design-your-office-get-in-touch">
					<img src="images/design-your-office/get-in-touch.png" alt="get-in-touch-image" class="design-your-office-get-in-touch-img">
					<p class="design-your-office-get-in-touch-title">Contact us now to find out how to design your own office at your chosen location.</p>
					<a href="javascript:;" class="btn btn-primary">Get in touch</a>
				</div><!-- /.design-your-office-get-in-touch -->
			</div><!-- /.container container-medium -->
		</div><!-- /.design-section-2 -->
		<div class="container">
			<img src="images/design-your-office/design-your-office-bottom-image.jpg" alt="" class="design-your-office-img-bottom">
		</div><!-- /.container -->
    </main><!-- /.site-main -->

  {% include "_partials/partial.footer.html" %}
{% endblock %}
