{% extends "./_templates/template.default.html" %}
{% set page = "faq" %}
{% set title = "Faq page" %}
{% set faq = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Frequently asked questions</h1>
                <p class="page-intro-text">Get all the answers you need.</p>
            </div>
        </section>
        <section class="hero-image">
            <div class="container container-large">
                <img src="images/faq/faq-image.jpg" alt="faq image">
            </div>
        </section>
        <section class="faq-links">
            <div class="container container-medium">
                <div class="faq-links-list">
                    <a href="#how-are-serviced" class="faq-links-list-item">How are serviced office prices generally calculated?</a>
                    <a href="#wstn" class="faq-links-list-item">What is a workstation (WSTN)?</a>
                    <a href="#orkstation-basis" class="faq-links-list-item">Why do serviced office operators quote on a per person or per workstation basis?</a>
                    <a href="#what-is-included" class="faq-links-list-item">What’s included in the serviced office price?</a>
                    <a href="#what-other" class="faq-links-list-item">What other extra costs might there be?</a>
                    <a href="#why-do-prices" class="faq-links-list-item">Why do serviced office prices go up and down?</a>
                    <a href="#are-serviced" class="faq-links-list-item">Are serviced office prices negotiable?</a>
                    <a href="#how-much" class="faq-links-list-item">How much office space do I need?</a>
                    <a href="#convert-feet" class="faq-links-list-item">How do I convert square feet (SqFt) to square metres (SqMt)?</a>
                    <a href="#convert-metres" class="faq-links-list-item">How do I convert square metres to square feet?</a>
                </div>
            </div>
            <div class="container">
                <div class="faq-content">
                    <div class="faq-item" id="how-are-serviced">
                        <h3 class="faq-question">How are serviced office prices generally calculated?</h3>
                        <div class="faq-answer">
                            <p>You may have already been quoted a price for your serviced office by monthly workstation (WSTN) or by a square footage (SqFt) price. Workstation prices are quoted so you can approximately work out how much the office may be if you don’t know how much actual office space you need:</p>
                            <p>
                                <strong>Example:</strong> 4 people @ £350.00 per WSTN = £1400.00 per month.
                                If you do know the amount of office space you need in Square Feet (SqFt) then use the following as a guide:
                            </p>
                            <p>
                                <strong>Example:</strong> 280 SqFt @ £5.00 per SqFt = £1400.00 per month
                            </p>
                            <p>
                                <strong>Note 1:</strong> As a general guide we use 70 SqFt per person. However, you may need more or less than this depending on how your company works and the budget you have. Please talk to us about your requirements to get a more accurate price 020 3944 8378
                            </p>
                            <p>
                                <strong>Note 2:</strong> A private 1 person office will normally be more expensive than a quoted 1 person workstation price. As a guide, add on 50%-75% of the price i.e. if a company is quoting £500.00 per workstation, a private 1 person office will be approx £750.00-£875.00 per month
                            </p>
                            <small>
                                * There are sometimes exceptionally small 1 person offices that will not follow the above guide 
                            </small>
                        </div>
                    </div>
                    <div class="faq-item" id="wstn">
                        <h3 class="faq-question">What is a workstation (WSTN)?</h3>
                        <div class="faq-answer">
                            <p>A typical Workstation setup will be a table, chair, pedestal and cabinet space in about 70 SqFt of office space. They’ll be enough power points for PCs, printers, Internet and telephone access. The workstation setup can also include telephone, internet access (Broadband), light and stationery but these items will vary from operator to operator.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item" id="workstation-basis">
                        <h3 class="faq-question">Why do serviced office operators quote on a per person or per workstation basis?</h3>
                        <div class="faq-answer">
                            <p>Generally speaking within the commercial property market, agents/landlords will normally quote on a SqFt (Square Foot) or SqMt (Square Metre) price, this is a simple quote as it only takes into consideration the rent of the office space (on top of this will be rates and service charges). The costs to fit out and run the office space will not be taken into consideration.
                            </p>
                            <p>To give an accurate Square Foot (SqFt) or Square Metre (SqMt) price for serviced offices is more complicated as there are variables included in the monthly/yearly cost e.g. rent, rates, service charges, utilities, furniture, IT, cleaning etc and also, costs which are difficult to appropriate on a Square Foot (SqFt) or Square Metre (SqMt) basis, for example:
                            </p>
                            <p>
                                • Pooled receptionist<br>
                                • Shared reception area<br>
                                • Onsite facilities management team<br>
                                • Shared meeting rooms<br>
                                • Shared kitchen/toilets/showers etc
                            </p>
                            <p>
                                Therefore due to these variable costs, serviced office operators like to quote on a per person or per workstation basis as this can sometimes give a more accurate indication of the total cost for the office and also gives a simple calculation for the office space. Note: We recommend talking to one of our expert serviced office advisers who all have many years advising on serviced offices. We would be happy to discuss your requirements in greater detail on <strong>01932 834 720</strong>
                            </p>
                        </div>
                    </div>
                    <div class="faq-item" id="what-is-included">
                        <h3 class="faq-question">What’s included in the serviced office price?</h3>
                        <div class="faq-answer">
                            <p>Most Serviced Office Operators will include the rent, rates, service charges, furniture, and utilities in their monthly Licence fee. Also included are reception services, telephone answering and transferring. Cleaning and maintenance of your office and the building in general will also be included.</p>
                        </div>
                    </div>
            
                    <div class="faq-item" id="what-other">
                        <h3 class="faq-question">What other extra costs might there be?</h3>
                        <div class="faq-answer">
                            <p>Most serviced office Operators offer meeting rooms to hire on an hourly/daily basis, these are charged on a pay as you go basis. There will also be other services such as photocopying, secretarial services etc which will be charged on a per usage basis.</p>
                            <p>
                                <strong>Note 1:</strong> Some companies have an all inclusive price. Please talk to an adviser about these on <strong>01932 834 720.</strong>
                            </p>
                            <p>
                                <strong>Note 2:</strong> There is semi-serviced and managed office space which might offer a degree of the services and costs included here. Please speak to an adviser to understand the differences. 
                            </p>
                        </div>
                    </div>
            
                    <div class="faq-item" id="why-do-prices">
                        <h3 class="faq-question">Why do serviced office prices go up and down?</h3>
                        <div class="faq-answer">
                            <p>The serviced office market is fast moving in all respects. The sector is the fastest growing part of the property market with new serviced offices and operators opening every month. The space within the building is continually changing as tenants often utilise the space for short to medium terms (3 months - 3 years). These factors lead to prices continually changing; for example a new building with no tenants will often offer much more competitive rates than a building with only 1 serviced office to market.
                            </p>
                            <p>Areas with a lot of competition (city centres, big commercial districts etc) will also drive prices down. We recommend talking to one of our serviced office advisers (<strong>01932 834 720</strong>) to discuss the current market, new buildings, operators and which companies are offering the most competitive deals. 
                            </p>
                        </div>
                    </div>
            
                    <div class="faq-item" id="are-serviced">
                        <h3 class="faq-question">Are serviced office prices negotiable?</h3>
                        <div class="faq-answer">
                            <p>Serviced Office prices are always negotiable to a certain degree. Like any economies of scale, the more space you take and the longer you commit for the cheaper it will be. We recommend talking to us about which companies are offering the best deals at the moment <strong>01932 834 720.</strong>
                            </p>
                        </div>
                    </div>
            
                    <div class="faq-item" id="how-much">
                        <h3 class="faq-question">How much office space do I need?</h3>
                        <div class="faq-answer">
                            <p>When taking a serviced office solution you’ll need a lot less space than if you were taking out a conventional lease. The reason is you only need to calculate the actual space you’re going to work in (Net Space) rather than the Gross Space for a conventional lease where you need to calculate the space you’ll work in, along with space for reception areas, walkways, dead areas, meeting rooms, toilets, kitchens etc. As a general rule you’ll tend to need double the amount of space for a conventional lease over a serviced office.</p>
                            <p>Please talk to us about your requirements so we can advise you on the amount of space that will be right for your business <strong>01932 834 720.</strong></p>
                        </div>
                    </div>
            
                    <div class="faq-item" id="convert-feet">
                        <h3 class="faq-question">How do I convert square feet to square metres?</h3>
                        <div class="faq-answer">
                            <p>
                                1 square feet = 0.09 square metres
                            </p>
                            <p>
                                1000 square feet x 0.09 = 90 square metres 
                            </p>
                        </div>
                    </div>
            
                    <div class="faq-item" id="convert-metres">
                        <h3 class="faq-question">How do I convert square metres to square feet?</h3>
                        <div class="faq-answer">
                            <p>
                                1 square metre = 10.8 square feet
                            </p>
                            <p>
                                100 square metres x 10.08 = 1080 square feet 
                            </p>
                        </div>
                    </div>		            
                </div>
            </div>
        </section>
        {% include "_partials/partial.customer-reviews.html" with { title: true } %}
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
