<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>List of markup files</title>
  </head>
  <body>
    <h1>List of markup files:</h1>
    {% if files.length !== 0 %}
      <ul>
      {% for file in files %}
        <li><a href="{{ file }}">{{ file }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>There are no markup files created yet.</p>
    {% endif %}
  </body>
</html>
