{% extends "./_templates/template.default.html" %}
{% set page = "listing" %}
{% set title = "Listing page" %}
{% set listing = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        {% include "_partials/partial.breadcrumbs.html" %}
        <div class="search-content">
            <div class="search-content-main">
                <h1 class="page-head-title">Serviced offices in London</h1>
                <section class="offices-by-city">
                    <div class="offices-by-city-intro" style="background-image: url('images/search/offices-city.png');">
                        <p class="offices-by-city-intro-text">Our London advisors are here to help you with availability, pricing and latest offers</p>
                    </div>
                    <ul class="offices-by-city-list">
                        <li class="offices-by-city-list-item">London serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">Kings Cross serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">Mayfair serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">Shoreditch serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">West End serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">SE1 serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">West London serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">East London serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">North London serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">South East London serviced offices from £XX</li>
                        <li class="offices-by-city-list-item">South West London serviced offices from £XX</li>
                        <li class="offices-by-city-list-item"><a href="javascript:;">All London serviced office space</a></li>
                    </ul>
                </section>
                <section class="filter-nav">
                    <span class="filter-nav-count">105 results</span>
                    <div class="filters">
                        <div class="js-filter filter">
                            <a href="javascript:;" class="js-filter-trigger filter-link filter-link-sort">Sort by</a>
                            <div class="filter-fields">
                                <div class="filter-fields-group">
                                    <div class="checkbox-form-group">
                                        <input class="input-checkbox" type="radio" name="price-sorting" id="price-default" value="price-default" checked>
                                        <label class="checkbox-label" for="price-default">Price: Default</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="input-checkbox" type="radio" name="price-sorting" id="price-low-to-high" value="price-low-to-high">
                                        <label class="checkbox-label" for="price-low-to-high">Price: Low to high</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="input-checkbox" type="radio" name="price-sorting" id="price-high-to-low" value="price-high-to-low">
                                        <label class="checkbox-label" for="price-high-to-low">Price: High to low</label>
                                    </div>
                                </div>
                                <div class="filter-submit">
                                    <a href="javascript:;" class="filter-clear">Clear</a>
                                    <button type="button" class="btn btn-primary btn-small">Save</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="js-filter filter">
                            <a href="javascript:;" class="js-filter-trigger filter-link">Distance</a>
                            <div class="filter-fields">
                                <div class="filter-distance">
                                    <input type="text" readonly class="filter-distance-data">
                                    <div class="filter-distance-slider"></div>
                                </div>
                                <div class="filter-submit">
                                    <a href="javascript:;" class="filter-clear">Clear</a>
                                    <button type="button" class="btn btn-primary btn-small">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="js-filter filter filter-facilities">
                            <a href="javascript:;" class="js-filter-trigger filter-link">More filters</a>
                            <div class="filter-fields">
                                <a href="javascript:;" class="js-close-filter modal-close">×</a>
                                <div>
                                    <div class="filter-distance-mobile">
                                        <h2 class="filter-fields-title">Distance</h2>
                                        <div class="filter-distance">
                                            <input type="text" readonly class="filter-distance-data">
                                            <div class="filter-distance-slider"></div>
                                        </div>
                                    </div>
                                    <h2 class="filter-fields-title">Facilities</h2>
                                    <div class="filter-fields-group">
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="showers" value="showers">
                                            <label class="checkbox-label" for="showers">Showers <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="meetingrooms" value="meetingrooms">
                                            <label class="checkbox-label" for="meetingrooms">Meeting Rooms <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="parking" value="parking">
                                            <label class="checkbox-label" for="parking">Parking <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="24hraccess" value="24hraccess">
                                            <label class="checkbox-label" for="24hraccess">24 Hr Access <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="disabledfacilities" value="disabledfacilities">
                                            <label class="checkbox-label" for="disabledfacilities">Disabled Facilities <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="lifts" value="lifts">
                                            <label class="checkbox-label" for="lifts">Lifts <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="breakoutareas" value="breakoutareas">
                                            <label class="checkbox-label" for="breakoutareas">Breakout Areas <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="bikeracks" value="bikeracks">
                                            <label class="checkbox-label" for="bikeracks">Bike Racks <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="businesslounges" value="businesslounges">
                                            <label class="checkbox-label" for="businesslounges">Business Lounges <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="cctv" value="cctv">
                                            <label class="checkbox-label" for="cctv">CCTV <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="coworkingsharedspace" value="coworkingsharedspace">
                                            <label class="checkbox-label" for="coworkingsharedspace">Co Working/Shared Space <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="secretarialsupport" value="secretarialsupport">
                                            <label class="checkbox-label" for="secretarialsupport">Secretarial Support <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="aircon" value="aircon">
                                            <label class="checkbox-label" for="aircon">Aircon <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="fullyfurnished" value="fullyfurnished">
                                            <label class="checkbox-label" for="fullyfurnished">Fully Furnished <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="gym" value="gym">
                                            <label class="checkbox-label" for="gym">Gym <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="mannedreception" value="mannedreception">
                                            <label class="checkbox-label" for="mannedreception">Manned Reception <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="rollingmonthlycontracts" value="rollingmonthlycontracts">
                                            <label class="checkbox-label" for="rollingmonthlycontracts">Rolling Monthly Contracts <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="virtualoffices" value="virtualoffices">
                                            <label class="checkbox-label" for="virtualoffices">Virtual Offices <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="highspeedbroadband" value="highspeedbroadband">
                                            <label class="checkbox-label" for="highspeedbroadband">High Speed Broadband <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="wifi" value="wifi">
                                            <label class="checkbox-label" for="wifi">Wifi <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="onsitecatering" value="onsitecatering">
                                            <label class="checkbox-label" for="onsitecatering">On Site Catering <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="videoconferencing" value="videoconferencing">
                                            <label class="checkbox-label" for="videoconferencing">Videoconferencing <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="itsupport" value="itsupport">
                                            <label class="checkbox-label" for="itsupport">IT Support <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                        <div class="checkbox-form-group">
                                            <input onclick="getId(this.id)" class="input-checkbox" type="checkbox" name="facilities" id="hotdesks" value="hotdesks">
                                            <label class="checkbox-label" for="hotdesks">Hot Desks <span class="filter-facilities-count">(10)</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-submit">
                                    <a href="javascript:;" class="filter-clear">Clear</a>
                                    <button type="button" class="btn btn-primary">Show 25 offices</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="offices-list">
                    <div class="offices-list-item">
                        <div class="offices-list-item-images">
                            <img class="offices-list-item-image" src="images/search/img-1.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-2.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-3.jpg" />
                            <div class="office-list-item-images-count">
                                {{icon('icon-photo', 'icon-16-13')}}
                                <span class="office-list-item-images-count-num">12</span>
                            </div>
                            <h5 class="office-list-item-price">£1900 pm</h5>
                        </div>
                        <div class="offices-list-item-data">
                            <div class="add-or-remove-from-shortlist">
                                <a href="javascript:;" class="js-add-to-shortlist" data-id="property-1" data-name="St Mary Axe" data-image="https://via.placeholder.com/120x80/09f/fff.png" data-price="£1900 pm">
                                    {{icon('icon-shortlist', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Save your favourities to get a quote for multiple spaces</span>
                                </a>
                                <a href="javascript:;" class="js-shortlist-overlay-item-remove hide" data-id="property-1">
                                    {{icon('icon-shortlisted', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Remove space from your favourities</span>
                                </a>
                            </div>
                            <a href="javascript:;" class="offices-list-item-data-link">
                                <div class="office-list-item-data-top">
                                    <h2 class="offices-list-item-data-title">St Mary Axe</h2>
                                    <p class="offices-list-item-data-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est…</p>
                                </div>
                                <div class="offices-list-item-data-bottom">
                                    <ul class="offices-list-item-data-location">
                                        <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                                        <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                                        <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="offices-list-item-data-cta">
                                <a href="javascript:;">Book a tour</a>
                                <a href="javascript:;">Explore space</a>
                            </div>
                        </div>
                    </div>
                    <div class="offices-list-item">
                        <div class="offices-list-item-images">
                            <img class="offices-list-item-image" src="images/search/img-1.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-2.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-3.jpg" />
                            <div class="office-list-item-images-count">
                                {{icon('icon-photo', 'icon-16-13')}}
                                <span class="office-list-item-images-count-num">12</span>
                            </div>
                            <h5 class="office-list-item-price">£1900 pm</h5>
                        </div>
                        <div class="offices-list-item-data">
                            <div class="add-or-remove-from-shortlist">
                                <a href="javascript:;" class="js-add-to-shortlist" data-id="property-2" data-name="St Mary Axe" data-image="https://via.placeholder.com/120x80/09f/fff.png" data-price="£1900 pm">
                                    {{icon('icon-shortlist', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Save your favourities to get a quote for multiple spaces</span>
                                </a>
                                <a href="javascript:;" class="js-shortlist-overlay-item-remove hide" data-id="property-2">
                                    {{icon('icon-shortlisted', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Remove space from your favourities</span>
                                </a>
                            </div>
                            <a href="javascript:;" class="offices-list-item-data-link">
                                <div class="office-list-item-data-top">
                                    <h2 class="offices-list-item-data-title">St Mary Axe</h2>
                                    <p class="offices-list-item-data-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est…</p>
                                </div>
                                <div class="offices-list-item-data-bottom">
                                    <ul class="offices-list-item-data-location">
                                        <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                                        <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                                        <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="offices-list-item-data-cta">
                                <a href="javascript:;">Book a tour</a>
                                <a href="javascript:;">Explore space</a>
                            </div>
                        </div>
                    </div>
                    <div class="get-quote-cta">
                        <img src="images/get-quote-image.png" alt="get quote" class="get-quote-cta-img">
                        <div class="get-quote-cta-info">
                            <h3 class="get-quote-cta-info-title">Can’t find the office you’re looking for?<br> 
                                We have plenty more.</h3>
                            <p class="get-quote-cta-info-subtitle">Call us now and we’ll make your search easier</p>
                            <a href="tel:02039449567" class="get-quote-cta-info-phone">020 3944 9567</a>
                        </div>
                        <a href="javascript:;" class="btn btn-primary get-quote-cta-button">Get a quote</a>
                    </div>
                    <div class="offices-list-item">
                        <div class="offices-list-item-images">
                            <img class="offices-list-item-image" src="images/search/img-1.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-2.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-3.jpg" />
                            <div class="office-list-item-images-count">
                                {{icon('icon-photo', 'icon-16-13')}}
                                <span class="office-list-item-images-count-num">12</span>
                            </div>
                            <h5 class="office-list-item-price">£1900 pm</h5>
                        </div>
                        <div class="offices-list-item-data">
                            <div class="add-or-remove-from-shortlist">
                                <a href="javascript:;" class="js-add-to-shortlist" data-id="property-3" data-name="St Mary Axe" data-image="https://via.placeholder.com/120x80/09f/fff.png" data-price="£1900 pm">
                                    {{icon('icon-shortlist', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Save your favourities to get a quote for multiple spaces</span>
                                </a>
                                <a href="javascript:;" class="js-shortlist-overlay-item-remove hide" data-id="property-3">
                                    {{icon('icon-shortlisted', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Remove space from your favourities</span>
                                </a>
                            </div>
                            <a href="javascript:;" class="offices-list-item-data-link">
                                <div class="office-list-item-data-top">
                                    <h2 class="offices-list-item-data-title">St Mary Axe</h2>
                                    <p class="offices-list-item-data-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est…</p>
                                </div>
                                <div class="offices-list-item-data-bottom">
                                    <ul class="offices-list-item-data-location">
                                        <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                                        <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                                        <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="offices-list-item-data-cta">
                                <a href="javascript:;">Book a tour</a>
                                <a href="javascript:;">Explore space</a>
                            </div>
                        </div>
                    </div>
                    <div class="offices-list-item">
                        <div class="offices-list-item-images">
                            <img class="offices-list-item-image" src="images/search/img-1.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-2.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-3.jpg" />
                            <div class="office-list-item-images-count">
                                {{icon('icon-photo', 'icon-16-13')}}
                                <span class="office-list-item-images-count-num">12</span>
                            </div>
                            <h5 class="office-list-item-price">£1900 pm</h5>
                        </div>
                        <div class="offices-list-item-data">
                            <div class="add-or-remove-from-shortlist">
                                <a href="javascript:;" class="js-add-to-shortlist" data-id="property-4" data-name="St Mary Axe" data-image="https://via.placeholder.com/120x80/09f/fff.png" data-price="£1900 pm">
                                    {{icon('icon-shortlist', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Save your favourities to get a quote for multiple spaces</span>
                                </a>
                                <a href="javascript:;" class="js-shortlist-overlay-item-remove hide" data-id="property-4">
                                    {{icon('icon-shortlisted', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Remove space from your favourities</span>
                                </a>
                            </div>
                            <a href="javascript:;" class="offices-list-item-data-link">
                                <div class="office-list-item-data-top">
                                    <h2 class="offices-list-item-data-title">St Mary Axe</h2>
                                    <p class="offices-list-item-data-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est…</p>
                                </div>
                                <div class="offices-list-item-data-bottom">
                                    <ul class="offices-list-item-data-location">
                                        <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                                        <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                                        <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="offices-list-item-data-cta">
                                <a href="javascript:;">Book a tour</a>
                                <a href="javascript:;">Explore space</a>
                            </div>
                        </div>
                    </div>
                    <div class="offices-list-item">
                        <div class="offices-list-item-images">
                            <img class="offices-list-item-image" src="images/search/img-1.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-2.jpg" />
                            <img class="offices-list-item-image" src="images/search/img-3.jpg" />
                            <div class="office-list-item-images-count">
                                {{icon('icon-photo', 'icon-16-13')}}
                                <span class="office-list-item-images-count-num">12</span>
                            </div>
                            <h5 class="office-list-item-price">£1900 pm</h5>
                        </div>
                        <div class="offices-list-item-data">
                            <div class="add-or-remove-from-shortlist">
                                <a href="javascript:;" class="js-add-to-shortlist" data-id="property-5" data-name="St Mary Axe" data-image="https://via.placeholder.com/120x80/09f/fff.png" data-price="£1900 pm">
                                    {{icon('icon-shortlist', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Save your favourities to get a quote for multiple spaces</span>
                                </a>
                                <a href="javascript:;" class="js-shortlist-overlay-item-remove hide" data-id="property-5">
                                    {{icon('icon-shortlisted', 'icon--21-17')}}
                                    <span class="add-or-remove-from-shortlist-tooltip">Remove space from your favourities</span>
                                </a>
                            </div>
                            <a href="javascript:;" class="offices-list-item-data-link">
                                <div class="office-list-item-data-top">
                                    <h2 class="offices-list-item-data-title">St Mary Axe</h2>
                                    <p class="offices-list-item-data-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est…</p>
                                </div>
                                <div class="offices-list-item-data-bottom">
                                    <ul class="offices-list-item-data-location">
                                        <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                                        <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                                        <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                                    </ul>
                                </div>
                            </a>
                            <div class="offices-list-item-data-cta">
                                <a href="javascript:;">Book a tour</a>
                                <a href="javascript:;">Explore space</a>
                            </div>
                        </div>
                    </div>
                    <div class="offices-list-see-more">
                        <a href="javascript:;" class="btn btn-secondary">See XX more</a>
                    </div>
                </section>
                <section class="customer-reviews">
                    <div class="customer-reviews-slider">
                        <div class="customer-reviews-slider-item">
                            <h4 class="customer-reviews-slider-item-name">Mark T
                                <span class="icon-star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                </span>
                            </h4>
                            <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                            <p class="customer-reviews-slider-item-location">London</p>
                        </div>
                        <div class="customer-reviews-slider-item">
                            <h4 class="customer-reviews-slider-item-name">Emily H
                                <span class="icon-star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                </span>
                            </h4>
                            <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                            <p class="customer-reviews-slider-item-location">Glasgow</p>
                        </div>
                        <div class="customer-reviews-slider-item">
                            <h4 class="customer-reviews-slider-item-name">John Y
                                <span class="icon-star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                </span>
                            </h4>
                            <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                            <p class="customer-reviews-slider-item-location">Bristol</p>
                        </div>
                        <div class="customer-reviews-slider-item">
                            <h4 class="customer-reviews-slider-item-name">Mark T
                                <span class="icon-star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                </span>
                            </h4>
                            <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                            <p class="customer-reviews-slider-item-location">London</p>
                        </div>
                        <div class="customer-reviews-slider-item">
                            <h4 class="customer-reviews-slider-item-name">Emily H
                                <span class="icon-star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                </span>
                            </h4>
                            <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                            <p class="customer-reviews-slider-item-location">Glasgow</p>
                        </div>
                        <div class="customer-reviews-slider-item">
                            <h4 class="customer-reviews-slider-item-name">Mark
                                <span class="icon-star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                    <img src="images/icon-star.png" alt="green star">
                                </span>
                            </h4>
                            <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                            <p class="customer-reviews-slider-item-location">Bristol</p>
                        </div>
                    </div>
                </section>
                <section class="why-choose-office">
                    <h3 class="why-choose-office-title">Why choose office space in London?</h3>
                    <div class="why-choose-office-text">
                        <div class="why-choose-office-text-item">
                            <p>London is the business capital of Europe and, indeed, the world. London office space comes at a premium, with average office space costs of £8,000 a year per employee. However, what you get in return makes this more than worth paying. </p>
                        
                            <p>The City of London is one of the world's leading financial districts, boasting European and international bases for such global financial powerhouses as JP Morgan, Barclays, Morgan Stanley, Goldman Sachs and HSBC. The legal district is no less impressive, with Magic Circle firms Fresh fields, Clifford Chance, Allen & Overy and Linklaters all calling London home, as well as a host of barristers' chambers.</p> 
                        
                            <p>So why choose a serviced office space space in London? Well, if proximity and access to the world's leading firms isn't enough, the city's amenities will surely swing it. London's transport network is internationally renowned, and has served as the model for other modern cities the world over. The London Underground tube network, the bus network and the supporting railway network provide rapid and reliable access to almost any location in the metropolitan area. What's more, trains to Paris, Brussels and Amsterdam depart several times a day, and even coach services to the continent are available.</p>
                        </div>
                        <div class="why-choose-office-text-item">
                            <p>As for further travel, London City Airport is a short taxi ride from the financial district, while Heathrow, Gatwick and Stansted serve more locations than you could ever need to get to, within easy reach of anywhere in Central London. Whether your travel needs are local, intercity, or international, a London serviced office space space will ensure you need never again worry about reaching even the most far-flung locations.</p> 
                        
                            <p>At Easy Offices, we can guide you through the different types of flexible serviced office space in London, in any shape and size. </p>
                            
                            <p>We cover a whole host of the London office space, and give you impartial, unbiased, free advice to help you find the best solution for your office needs. Our trained advisors have personal knowledge of most London serviced office space space space so we can give you the inside track on which areas and office types best suit your business. </p>
                            
                            <p><strong>Our fees are paid by the office provider, not by you, so you can benefit from all this advice at no extra cost. Call us today on 020 3504 8859 and let us help you find your perfect office space in London</strong></p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="search-content-aside">
                <div class="get-quote-wrap">
                    <a href="javascript:;" class="js-toggle-map toggle-map">
                        Show map
                        <div class="toggle-map-switch">
                            <span class="toogle-map-switch-circle"></span>
                        </div>
                    </a>
                    {# {% include "_partials/partial.get-quote.html" %} #}
                    {% include "_partials/partial.shortlist-info.html" %}
                </div>
                {# temp code #}
                <div class="property-map-items">
                    <div class="js-property-item" data-property-id="property-444" data-lat="51.505603011998474" data-lng="-0.13710338238408518" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
                    <div class="js-property-item" data-property-id="property-445" data-lat="51.50974588368023" data-lng="-0.13498082345103457" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
                    <div class="js-property-item" data-property-id="property-446" data-lat="51.50580824053163" data-lng="-0.12612995869042196" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
                    <div class="js-property-item" data-property-id="property-447" data-lat="51.51146708950755" data-lng="-0.12169999454274391" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
                </div>
                <div id="map" class="map"></div>
            </div>
            {# {% include "_partials/partial.shortlist-overlay.html" %}  #}
        </div>
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
