{% extends "./_templates/template.default.html" %}
{% set page = "locations-page" %}
{% set title = "Locations page" %}
{% set locations = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        {% include "_partials/partial.breadcrumbs.html" %}
        <div class="container container-medium">
            <h1 class="page-head-title">UK locations</h1>
            <p class="page-head-desc">An office for your business and your budget, in over XXXX locations in UK.</p>
        </div>
        {% include "_partials/partial.related-offices.html" with {title: 'Nearby locations'} %}
        <section class="locations-list">
            <div class="container container-medium">
                <h2 class="locations-list-title">Easy offices locations</h2>
                <div class="location-filter-nav">
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".london">London (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".south-east">South East (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".south-west">Sout West (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".east-of-england">East of England (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".east-midlands">East Midlands (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".west-midlands">West Midlands (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".nord-east">Nort East (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".nort-west">Nort West (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".scotland">Scotland (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".wales">Wales (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".tube-stations">Tube Stations (<span class="filter-count"></span>)</a>
                    <a href="javascript:;" class="js-location-filter-nav-item location-filter-nav-item" data-filter=".train-stations">Train Stations (<span class="filter-count"></span>)</a>
                </div>
                <div class="js-location-filter location-filter">
                    <div class="location-filter-item london">
                        <dl class="location-filter-item-list">
                            <dt class="location-filter-item-title">London</dt>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 1</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 2</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 3</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 4</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 5</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="location-filter-item london">
                        <dl class="location-filter-item-list">
                            <dt class="location-filter-item-title">London</dt>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 1</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 2</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 3</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 4</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 5</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="location-filter-item south-east">
                        <dl class="location-filter-item-list">
                            <dt class="location-filter-item-title">City of Bristol</dt>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 1</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 2</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 3</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 4</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 5</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="location-filter-item south-east">
                        <dl class="location-filter-item-list">
                            <dt class="location-filter-item-title">City of Bristol</dt>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 1</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 2</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 3</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 4</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 5</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="location-filter-item south-east">
                        <dl class="location-filter-item-list">
                            <dt class="location-filter-item-title">City of Bristol</dt>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 1</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 2</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 3</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="location-filter-item south-east">
                        <dl class="location-filter-item-list">
                            <dt class="location-filter-item-title">City of Bristol</dt>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 1</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 2</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 3</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 4</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 5</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                            <dd class="location-filter-item-desc">
                                <a href="" class="location-filter-item-desc-link">Location 6</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

        </section>
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
