{% extends "./_templates/template.default.html" %}
{% set page = "Privacy" %}
{% set title = "Privacy Policy" %}
{% set privacy = true %}

{% block content %}
    {% include "_partials/partial.header.html" %}
        <main class="site-main" role="main">
            {% include "_partials/partial.breadcrumbs.html" %}
            <section class="page-intro" id="top">
                <div class="container container-medium">
                    <h1 class="page-intro-title">Privacy Policy</h1>
                    <p class="page-intro-text">Nuclei Ltd takes the privacy of its website users seriously. We are committed to safeguarding the privacy of our users while providing a personalised and valuable service. This Privacy Policy Statement explains the data processing practices of Nuclei Ltd.</p>
                </div>
            </section>
            <section class="hero-image">
                <div class="container container-large">
                    <img src="images/privacy/privacy-1.jpg" alt="privacy policy">
                </div>
            </section>
            <section class="legal">
                <div class="legal-intro">
                    <div class="container container-large">
                        <div class="legal-intro-text">
                            <p>You signify your consent to our collecting and using this information by your use of this web site. Should for any reason we elect to change our Policy, we will notify you of those changes here, so that you are always kept informed of how we collect and use the information, and when we would disclose it.</p>
                            <p>Note: This policy only applies to the Easy Offices web site and not to other web sites. Our site may link to other web sites. We are not responsible for their policies or procedures.</p>
                        </div>
                    </div>
                </div>
                <div class="container container-large">
                    <h2 class="legal-main-title">Cookie Policy</h2>
                </div>
                <div class="container container-medium">
                    <div class="legal-content">
                        <div class="legal-content-item">
                            <h2 class="legal-content-title">What are cookies ?</h2>
                            <div class="legal-content-desc">
                                <p>Cookies are tiny text files that are stored on your computer, tablet or mobile phone. They are NOT harmful to your computer or your security and despite misconceptions, are nothing to do with viruses like 'Trojans'. When you visit a website, Cookies allow the website to 'remember' you and how you've used the website each time you come back, which means you get a much better online experience.</p>
                                <p>If you want to know more about cookies head to <a href="http://www.aboutcookies.org">http://www.aboutcookies.org</a> or visit these sites;</p>
                                <ul class="ul-type-1">
                                    <li><p>Information Commissioner's Office at <a href="http://www.ico.org.uk">http://www.ico.org.uk</a></p></li>
                                    <li><p>Wikipedia - <a href="http://en.wikipedia.org/wiki/HTTP_cookie">http://en.wikipedia.org/wiki/HTTP_cookie</a></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title">What if I want to control my cookie permissions?</h2>
                            <div class="legal-content-desc">
                                <p>If you don't want to receive cookies you can modify your browser so that it notifies you when cookies are sent to it, or you can refuse cookies altogether. You can also delete cookies that have already been set. Visit the 'options' or 'preferences' menu on your browser to change settings, or check the following links for more browser-specific information.
                                </p>
                                <ul class="ul-type-default">
                                    <li class="legal-privacy-browsers">
                                        <img src="images/privacy/chrome.png" alt="chrome">
                                        <a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647">Cookie settings for Google Chrome</a>
                                    </li>
                                    <li class="legal-privacy-browsers">
                                        <img src="images/privacy/explorer.png" alt="explorer">
                                        <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">Cookie settings for Internet Explorer</a>
                                    </li>
                                    <li class="legal-privacy-browsers">
                                        <img src="images/privacy/firefox.png" alt="firefox">
                                        <a href="http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies">Cookie settings for Mozilla Firefox</a>
                                    </li>
                                    <li class="legal-privacy-browsers">
                                        <img src="images/privacy/safari.png" alt="safari">
                                        <a href="http://support.apple.com/kb/PH5042">Cookie settings for Safari</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title">Anonymous Visitor
                                Statistics Cookies</h2>
                            <div class="legal-content-desc">
                                <p>We use cookies to compile visitor statistics such as how many people have visited our website, what type of technology they are using (e.g. Mac or Windows which helps to identify when our site isn't working as it should for particular technologies), how long they spend on the site, what page they look at etc. This helps us to continuously improve our website. These so called "analytics" programs also tell us if , on an anonymous basis, how people reached this site (e.g. from a search engine) and whether they have been here before helping us to put more money into developing our services for you instead of marketing spend. We use:</p>
                                <ul class="ul-type-1">
                                    <li><p>Google Analytics - <a href="http://www.google.com/policies/privacy/">Privacy Policy</a></p></li>
                                    <li><p>Available options to opt out <a href="https://tools.google.com/dlpage/gaoptout/">Google Analytics</a></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="privacypolicy">User Agreement</h2>
                            <div class="legal-content-desc">
                                <p>By continuing to use our site, you agree to the placement of cookies on your device. If you choose not to receive our cookies, we cannot guarantee that your experience will be as fulfilling as it would otherwise be.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main><!-- /.site-main -->
    {% include "_partials/partial.footer.html" %} 
{% endblock %}
