{% extends "./_templates/template.default.html" %}
{% set page = "register" %}
{% set title = "Register" %}
{% set register = true %}

{% block content %}
    {% include "_partials/partial.header.html" %}
        <main class="site-main" role="main">
            {% include "_partials/partial.breadcrumbs.html" %}
            <form class="register-workspace js-register-workspace" action="" method="">
                <div class="container container-medium">
                    <div class="register-workspace-header">
                        <img src="images/logo.png" alt="Easy Offices Logo">
                        <a href="javascript:;" class="js-close-register-form">
                            <img src="images/register/close.png" alt="close button">
                        </a>
                    </div>
                    <div class="registration-workspace-intro">
                        <h2 class="register-workspace-title">Register your Workspace</h2>
                        <p class="register-workspace-text">All we need are a few details, then a member of our team will be in touch to finalise your registration.</p>
                    </div>
                </div>
                <div class="register-workspace-fields">
                    <input type="text" name="name" id="" value="" class="input input-primary" placeholder="Name">
                    <input type="text" name="company" id="" value="" class="input input-primary" placeholder="Company">
                    <input type="email" name="email" id="" value="" class="input input-primary" placeholder="Email" required>
                    <input type="text" name="phone" id="" value="" class="input input-primary" placeholder="Phone">
                    <button type="submit" class="btn btn-primary">Register <img src="images/submit-arrow.png" alt="arrow-right"></button>
                </div>
            </form>
            <section class="page-intro">
                <div class="container container-medium">
                    <h1 class="page-intro-title">The fastest way to
                        fill your workspace</h1>
                </div>
            </section>
            <section class="register-about">
                <div class="register-about-left">
                    <p class="register-about-text">For the last 20 years, we've been providing an easy, cost-effective way for workspace owners to get more quality leads, and fill their space faster.</p>
                    <a href="javascript:;" class="btn btn-primary btn-black js-open-register-form">Register <img src="images/submit-arrow.png" alt="arrow-right"></a>
                </div>
                <div class="register-about-right">
                    <div class="register-about-images">
                        <img src="images/register/img-1.jpg" alt="easy office register" class="register-about-image">
                        <img src="images/register/img-2.jpg" alt="easy office register" class="register-about-image">
                    </div>
                </div>
            </section>
            <section class="register-cta">
                <div class="container container-medium">
                    <h2 class="register-cta-heading">Sign up today and<br>
                        leave everything to us</h2>
                        <div class="register-cta-grid">
                            <div class="register-cta-grid-item">
                                <img src="images/register/properties.png" alt="properties">
                                <h3 class="register-cta-grid-item-title">We'll list your workspace</h3>
                                <p>We put your workspace online,
                                    add all the details, and showcase
                                    them in style.</p>
                            </div>
                            <div class="register-cta-grid-item">
                                <img src="images/register/leads.png" alt="leads">
                                <h3 class="register-cta-grid-item-title">We'll build quality leads</h3>
                                <p>We've made a science out of
                                    marketing workspace, and invest
                                    heavily to generate qualified leads.
                                    We'll send you leads instantly so
                                    you can follow-up while they're hot.</p>
                            </div>
                            <div class="register-cta-grid-item">
                                <img src="images/register/space.png" alt="space">
                                <h3 class="register-cta-grid-item-title">We'll charge one simple feeFee information <a href="javascript:;" class="js-modal-link" data-id="modal-7"><img src="images/register/info.png" alt="info"></a></h3>
                                <p>We charge an industry standard 10%
                                    fee of the initial contract value up
                                    to 12 months for successful client
                                    introductions.</p>
                            </div>
                            <div class="modal js-modal" id="modal-7">
                                <div class="modal-container modal-container-half">
                                    <a href="javascript:;" class="js-modal-close modal-close">×</a>
                                    <div class="modal-content">
                                        <div class="registration-fees">
                                            <h2 class="registration-fees-title">Fees</h2>
                                            <p>Fees are based on the actual office rental agreement signed and exclude any service charges (i.e. telephone charges, meeting room hire, photocopier usage etc) that may be incurred throughout the tenancy. Our 10% Fee of the monthly contract value is based on the tenancy of our client; this is for a minimum of 1 day and a maximum of 12 months. Commission shall be due as soon as the Operator receives a signed agreement from the customer. Such commission payments will be payable within 30 days of the due date of the invoice. Should the tenancy of a license change at all during the term and the subsequent fees from a particular customer increase or decrease, it is the responsibility of the Operator to inform us so invoices can be adjusted accordingly. It is understood that any client, applicant or customer that are referred to you by Easy Offices or associated companies are solely for use of the Operator Company only. It may not be passed to third parties such as another agent, broker or business centre without the prior approval of Easy Offices and the applicant.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn-primary btn-black js-open-register-form">Register <img src="images/submit-arrow.png" alt="arrow-right"></a>
                </div>
            </section>
            <section class="register-info">
                <div class="container container-large">
                    <div class="register-info-content">
                        <div class="register-info-content-text">
                            <h2 class="register-info-content-text-title">The Easy Offices <br>difference</h2>
                            <p>It isn't just the scale of our listings or the modern, design-led interface that potential tenants love.</p>
                            <p>It's how we generate quality leads with a proven advertising approach that targets people who are actively in the market for office space.</p>
                        </div>
                        <img src="images/register/img-3.jpg" alt="easy office register" class="register-info-content-img">
                    </div>
                </div>
            </section>
        </main><!-- /.site-main -->
    {% include "_partials/partial.footer.html" %} 
{% endblock %}
