{% extends "./_templates/template.default.html" %}
{% set page = "satelliteoffice" %}
{% set title = "Satellite office" %}
{% set satelliteoffice = true %}

{% block content %}
    {% include "_partials/partial.header.html" %}
        <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Satellite office</h1>
                <p class="page-intro-text">With our global collection of satellite office spaces, it’s easy to step into new markets or support a distributed workforce at a moment’s notice.</p>
            </div>
        </section>
        <section class="hero-image">
            <div class="container container-large">
                <img src="images/satellite/satellite-office-image.jpg" alt="satellite office">
            </div>
        </section>
        <section class="satellite-office">
            <div class="container container-large">
                <div class="satellite-office-info">
                    <div class="sattelite-office-info-left">
                        <div class="satellite-office-info-item">
                            <h3 class="satellite-office-info-item-title">Tap into an entire world of workspace</h3>
                            <p>With a satellite office, it’s easy to launch a local office wherever and whenever you need one. So you can support regional teams, build your presence in growing regions or instantly enter new markets – without the risk of committing to long-term workspace.</p>
                        </div>
                        <div class="satellite-office-info-item">
                    </div>
                        <h3 class="satellite-office-info-item-title">Get team space that truly empowers teams</h3>
                        <p>When you’re trying to support teams that are away from your main office, give them satellite workspace that meets your standards. Our locations are professional, fully equipped and come with useful amenities like breakout areas, meeting rooms and more.</p>
                        <a href="javascript:;" class="btn btn-primary satellite-office-info-item-btn">Search offices</a>
                    </div>
                    <img src="images/satellite/satellite-office-image-1.jpg" alt="satellite office">
                </div>
            </div>
        </section>
        {% include "_partials/partial.map.html" with { mapInfoTitle: 'Explore coworking near you'} %}
        </main><!-- /.site-main -->
    {% include "_partials/partial.footer.html" %} 
{% endblock %}
