{% extends "./_templates/template.default.html" %}
{% set page = "serviced-space" %}
{% set title = "Serviced office space" %}
{% set servicedSpace = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Office space and serviced office space for rent in United Kingdom</h1>
                <p class="page-intro-text">Find office space that supports your business in a conducive setting. Attentively designed workspaces providing flexible and effective working environments.</p>
            </div>
        </section>
        <section class="hero">
            <div class="container container-large">
                <div class="hero-image" style="background-image: url('images/serviced-office/space.jpg');">
                    <img src="images/coworking/black-rectangle.jpg" class="hero-image-rectangle">
                    <form action="javascript:;" method="" class="office-search-form">
                        <h3 class="office-search-title">Find the right place to do your thing</h3>
                        <div class="office-search-fields">
                            <div class="office-search-field">
                                {{icon('icon-search', 'office-search-icon icon-15-16')}}
                                <input type="text" name="search" class="input office-search-input" id="search" value="" placeholder="City, street name or postcode">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary office-search-submit">Search</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="serviced-office">
            <div class="container container-medium">
                <div class="serviced-office-info">
                    <div class="serviced-office-info-left">
                        <h2 class="serviced-office-info-heading">Why choose a serviced office?</h2>
                    </div>
                    <div class="serviced-office-info-right">
                        <div class="serviced-office-info-right-text">
                            <h3 class="serviced-office-info-right-title">Hassle-free set-up in the space of your choosing</h3>
                            <p>Easy Offices can connect you with office spaces that provide a wide range of facilities. With the Internet and utilities already setup and countless configurations available, there is a workspace out there ready for you to move in and make it your own.</p>
                        </div>
                        <div class="serviced-office-info-right-text">
                            <h3 class="serviced-office-info-right-title">As flexible as you need it to be</h3>
                            <p>We know that traditional leases don't work for everyone. Easy Offices allows you to browse from all available office suites, whether you need long-term stability, rolling contracts or short-term convenience.</p>
                        </div>
                        <div class="serviced-office-info-right-text">
                            <h3 class="serviced-office-info-right-title">It's quick, easy and budget savvy</h3>
                            <p>Simple pricing for rental fees, with utilities, typically included and provisions for a staffed reception. This way, you only have one monthly bill to worry about, so you can focus on what's important.</p>
                        </div>
                        <a href="javascript:;" class="btn btn-primary btn-black">Contact us <img src="images/submit-arrow.png" alt="arrow-right"></a>
                    </div>
                </div>
            </div>
            <div class="container container-large">
                <div class="serviced-office-img-grid">
                    <img src="images/serviced-office/space-1.jpg" alt="serviced office">
                    <div class="serviced-office-img-grid-right">
                        <img src="images/serviced-office/space-2.jpg" alt="serviced office">
                        <img src="images/serviced-office/space-3.jpg" alt="serviced office" class="serviced-office-img-grid-last">
                    </div>
                </div>
                <div class="serviced-office-bottom">
                    <h2 class="serviced-office-bottom-heading">Office space on your terms</h2>
                    <div class="serviced-office-bottom-grid">
                        <div class="serviced-office-bottom-grid-item">
                            <h3 class="serviced-office-bottom-title">Small businesses</h3>
                            <p>Work wherever and however suits you best. Find a business centre or office suite with space to grow, situated in a prime location with immediate access to your target market.</p>
                        </div>
                        <div class="serviced-office-bottom-grid-item">
                            <h3 class="serviced-office-bottom-title">Corporates</h3>
                            <p>With a wide selection of business centres, you will be able to source a location that speaks to your large scale needs. Ideal as an interim solution, for scoping out a new area or simply taking advantage of fantastic cost savings.</p>
                        </div>
                        <div class="serviced-office-bottom-grid-item">
                            <h3 class="serviced-office-bottom-title">Start-ups</h3>
                            <p>Focus your energy exactly where it belongs. Easy Offices will find the ideal business centre, taking care of the foundations you need to get off the ground quickly - great locations with flexible contracts.</p>
                        </div>
                        <div class="serviced-office-bottom-grid-item">
                            <h3 class="serviced-office-bottom-title">Large Companies</h3>
                            <p>A headache free office search with a selection of long-term or temporary solutions. With so many options at your fingertips, Easy Offices can help your company find its new forever or temporary home.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "_partials/partial.customer-reviews.html" with { title: true } %}

        {% include "_partials/partial.map.html" with { mapInfoTitle: 'Explore Serviced Office Space Near You'} %}
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
