{% extends "./_templates/template.default.html" %}
{% set page = "sharedoffice" %}
{% set title = "Shared office" %}
{% set sharedoffice = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Shared office space</h1>
                <p class="page-intro-text">Get flexible workspace to match your budget, from a single desk for a single day to ongoing space for your entire team.</p>
            </div>
        </section>
        <section class="hero-image">
            <div class="container container-large">
                <img src="images/shared/shared-office-image.jpg" alt="shared office">
            </div>
        </section>
        <section class="shared-office">
            <div class="container container-large">
                <div class="shared-office-info-top">
                    <div>
                        <div class="shared-office-info-item">
                            <h3 class="shared-office-info-item-title">A start-up office as flexible as you are</h3>
                            <p>Start-ups thrive on their ability to move faster than the big players. That’s why our start-up office space is available on flexible terms with minimal commitment, giving you professional workspace that doesn’t tie you down or hold you back.</p>
                        </div>
                        <div class="shared-office-info-item">
                            <h3 class="shared-office-info-item-title">Get a project office closer to your customers</h3>
                            <p>Put your team wherever the opportunities are. Our collection of project offices makes it easy to step into new locations, build closer customer relationships and deliver local projects. All without committing to office space for the long-term.</p>
                        </div>
                    </div>
                    <img src="images/shared/shared-office-image-2.jpg" alt="shared office">
                </div>
                <div class="shared-office-info-bottom">
                    <img src="images/shared/shared-office-image-3.jpg" alt="shared office">
                    <div class="startup-office-info-bottom-text">
                        <h3 class="startup-office-info-item-title">Get together without getting tied down</h3>
                        <p>Shared workspace is also a valuable way to connect and collaborate without committing to office space. With our global collection, it’s easy to find a place that makes sense for everyone in your team, from city centres to business parks and transport hubs.</p>
                        <a href="javascript:;" class="btn btn-primary shared-office-info-item-btn">Search offices</a>
                    </div>
                </div>
            </div>
        </section>
        {% include "_partials/partial.map.html" with { mapInfoTitle: 'Explore coworking near you'} %}
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
