{% extends "./_templates/template.default.html" %}
{% set page = "startup" %}
{% set title = "Startup office" %}
{% set startup = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Start-up office space</h1>
                <p class="page-intro-text">Use a flexible start-up office to stay productive and act big without losing the competitive advantages of being small.</p>
            </div>
        </section>
        <section class="hero-image">
            <div class="container container-large">
                <img src="images/startup-office/startup-image.jpg" alt="startup office">
            </div>
        </section>
        <section class="startup-office">
            <div class="container container-large">
                <div class="startup-office-info-top">
                    <div class="startup-office-info-item">
                        <h3 class="startup-office-info-item-title">A start-up office as flexible as you are</h3>
                        <p>Start-ups thrive on their ability to move faster than the big players. That’s why our start-up office space is available on flexible terms with minimal commitment, giving you professional workspace that doesn’t tie you down or hold you back.</p>
                    </div>
                    <div class="startup-office-info-item">
                        <h3 class="startup-office-info-item-title">Get a project office closer to your customers</h3>
                        <p>Put your team wherever the opportunities are. Our collection of project offices makes it easy to step into new locations, build closer customer relationships and deliver local projects. All without committing to office space for the long-term.</p>
                    </div>
                </div>
                <div class="startup-office-info-bottom">
                    <img src="images/startup-office/startup-image-2.jpg" alt="startup office image">
                    <div class="startup-office-info-bottom-text">
                        <h3 class="startup-office-info-item-title">Everything you need in one place</h3>
                        <p>Your start-up office space is just the start. Our locations are designed to bring everything you need together, from meeting rooms to informal breakout areas. Whether you’re working, networking, or meeting clients, you’re in the right place.</p>
                        <a href="javascript:;" class="btn btn-primary startup-office-info-item-btn">Search offices</a>
                    </div>
                </div>
            </div>
        </section>
        {% include "_partials/partial.map.html" with { mapInfoTitle: 'Explore coworking near you'} %}
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
