{% extends "./_templates/template.default.html" %}
{% set page = "tempoffice" %}
{% set title = "Temporary office" %}
{% set tempoffice = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Temporary office</h1>
                <p class="page-intro-text">Get an office anywhere in the world instantly, without committing to one long-term.</p>
            </div>
        </section>
        <section class="hero-image">
            <div class="container container-large">
                <img src="images/temp-office/temporary-office-image-1.jpg" alt="temporary office image">
            </div>
        </section>
        <section class="temp-office">
            <div class="container container-large">
                <div class="temp-office-info temp-office-info-top">
                    <div class="temp-office-info-item">
                        <h3 class="temp-office-info-item-title">Temporary office space that feels like home</h3>
                        <p>From project offices to workspace during office moves, our temporary office space is available for as long as you need with no commitment. And, most importantly, it’s ready to use, fully equipped space that keeps your people feeling professional and productive.</p>
                    </div>
                    <div class="temp-office-info-item">
                        <h3 class="temp-office-info-item-title">Get a project office closer to your customers</h3>
                        <p>Put your team wherever the opportunities are. Our collection of project offices makes it easy to step into new locations, build closer customer relationships and deliver local projects. All without committing to office space for the long-term.</p>
                    </div>
                </div>
                <div class="temp-office-info temp-office-info-bottom">
                    <div class="temp-office-info-item">
                        <h3 class="temp-office-info-item-title">Tailor your space to your needs</h3>
                        <p>Our temporary offices come with the backing of a team that’s always available to help you stay productive. Whether you need quick overflow space for a few people or a place for your entire team during an office refurb, we’ll configure your workspace to suit and help you hit the ground running.</p>
                        <a href="javascript:;" class="btn btn-primary temp-office-info-item-btn">Search offices</a>
                    </div>
                    <div class="temp-office-info-item">
                        <img src="images/temp-office/temporary-office-image-2.jpg" alt="temporary office image">
                    </div>
                </div>
            </div>
        </section>
        {% include "_partials/partial.map.html" with { mapInfoTitle: 'Explore coworking near you'} %}
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
