{% extends "./_templates/template.default.html" %}
{% set page = "terms" %}
{% set title = "Terms of use" %}
{% set terms = true %}

{% block content %}
    {% include "_partials/partial.header.html" %}
        <main class="site-main" role="main">
            {% include "_partials/partial.breadcrumbs.html" %}
            <section class="page-intro" id="top">
                <div class="container container-medium">
                    <h1 class="page-intro-title">Terms and Conditions</h1>
                    <p class="page-intro-text">Please read this carefully. By accessing the Easy Offices web site at www.easyoffices.com it shall be deemed to constitute full acceptance of the terms that appear below, whether or not you register as a user.</p>
                </div>
            </section>
            <section class="hero-image">
                <div class="container container-large">
                    <img src="images/terms/terms-1.jpg" alt="terms">
                </div>
            </section>
            <section class="legal">
                <div class="legal-intro">
                    <div class="container container-large">
                        <div class="legal-nav">
                            <a href="#introduction" class="legal-nav-link">Introduction</a>
                            <a href="#copyright" class="legal-nav-link">Copyright and Users Rights</a>
                            <a href="#limitation" class="legal-nav-link">Limitation and Liability</a>
                            <a href="#privacypolicy" class="legal-nav-link">Privacy Policy</a>
                            <a href="#links" class="legal-nav-link">Links</a>
                            <a href="#advertising" class="legal-nav-link">Advertising and Sponsorship</a>
                            <a href="#competitions" class="legal-nav-link">Competitions</a>
                            <a href="#changestoterms" class="legal-nav-link">Changes To Terms and Conditions</a>
                            <a href="#governinglaw" class="legal-nav-link">Governing Law and Jurisdiction</a>
                            <a href="#general" class="legal-nav-link">General</a>
                        </div>
                    </div>
                </div>
                <div class="container container-medium">
                    <div class="legal-content">
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="introduction">Introduction</h2>
                            <div class="legal-content-desc">
                                <p>This Site is owned and operated by Nuclei Ltd. As a user you will be able to access material on most areas of the Site without going through a registration process. Certain areas of the Site are only open to you if you register. There is no specific time limit applying to your access and use of the Site on these Terms. However, Nuclei Ltd reserves the right to suspend or terminate your access and use of the Site at any time. It may exercise this right with or without notice. If applicable, notice will be given to your e-mail address as notified to Nuclei Ltd.</p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="copyright">Copyright & Users Rights</h2>
                            <div class="legal-content-desc">
                                <p>All information provided through the Easy Offices website is the copyright of Nuclei Ltd. All copyright and other intellectual property rights relating to the infrastructure of the Easy Offices website, its design and internal organisation is the sole property of Nuclei Ltd. Unless expressly stated to the contrary by individual Website Owners the User may retrieve and display Content from the Site on a computer screen, print and distribute copies of information retrieved from the Easy Offices website provided the source and ownership of copyright in the information is expressly acknowledged on the copy. The User may not sell information retrieved from the Easy Offices website to any third party without the prior written agreement of the relevant Website Owner.</p>
                                <p>Except as expressly set out above, you may not reproduce, modify or in any way commercially exploit any of the Content. In particular, but without limiting the general application of the restrictions contained in the preceding sentence, you may not do any of the following without prior written permission from Nuclei Ltd.</p>
                                <p>Create a database in electronic or structured manual form by systematically downloading and storing all or any of the content.</p>
                                <p>Redistribute any of the Content, including by using it as part of any library, archive or similar service.</p>
                                <p>Remove the copyright or trademark notice from any copies of Content made under these Terms.</p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="limitation">Limitation
                                and Liability</h2>
                            <div class="legal-content-desc">
                                <p>The Company shall have no liability for any act or omission beyond its reasonable control. You may not assign, sub-license or otherwise transfer any of your rights under these Terms.</p>
                                <p>The Company shall not be liable for any loss or damage (including consequential or indirect loss or damage, loss of profit, loss of revenue or anticipated savings and loss of or damage to data) arising directly or indirectly out of the use of, access to or suspension of access to some or all of the facilities of the easy offices website or out of any information or materials comprised therein. The Content is only for your general information and use and is not intended to address your particular requirements. In particular, the Content does not constitute any form of advice, recommendation or arrangement by easy offices and is not intended to be relied upon by users in making (or refraining from making) any specific investment or other decisions. Appropriate independent advice should be obtained before making any such decision. Any arrangements made between you and any third party named on this Site is at your sole risk and responsibility. The Company makes no representation and gives no warranty or condition express or implied with regard to the information included within the Easy Offices website including but not limited to the fitness of the information for any purpose whatsoever.</p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="privacypolicy">Privacy Policy
                            </h2>
                            <div class="legal-content-desc">
                                <p>We are committed to protecting personal data under our custody and we are aware of our legal data protection obligations (including, where applicable, the EU General Data Protection Regulation ("GDPR")) which seek to protect and enhance the rights of data subjects.</p>
                                
                                <p>The GDPR, enforceable as of 25 May 2018, builds on various data protection laws in already in place and seeks to promote transparency around what personal data an organisation collects, what it is used for and where it goes.</p>
                                
                                <p>The privacy notices below set out our privacy practices as to how we may collect, use, and/or share personal data in relation to the provision of our services.</p>
                                
                                <ol>
                                    <li><strong>The personal data we collect</strong>
                                        <ul>
                                            <li>We collect, control and use limited amounts of personal data and we only collect and use personal data to the extent necessary for us to provide the services that we have agreed to provide to you.</li>
                                            <li>Such personal data may include email addresses and contact details.</li>
                                            <li>We use this information pursuant to our legitimate business interests to provide our services and/or to contact you about the services on our site in which you have expressed interest.</li>
                                        </ul>
                                    <li><strong>What personal data is used for</strong>
                                        <p>We only collect and use personal data in order to provide our services and will only use it for the following purposes:</p>
                                        <ul>
                                            <li>Service Administration: To administer your contractual relationship with us, to communicate with you, to ensure compliance with applicable laws and regulations, and to enable us to provide our services to you and to manage our business.</li>
                                            <li>Marketing and Communications: We may use your personal information to provide or offer you newsletters and promotions, in addition to other marketing communications but such communication will be done in accordance with relevant legislation.</li>
                                            <li>Analytics and Personalisation: Please refer to our Cookies Policy. Please note that we may revise our Cookies Policy from time to time. We recommend that you review the website from time to time and take note of any changes.</li>
                                            <li>Legislation: To ensure compliance with applicable local legislation.</li>
                                            <li>Surveys: We may also ask you from time to time to complete surveys that we use for research purposes. Please note that you do not have to respond to them.</li>
                                            <li>Feedback: We may from time to time ask you for feedback as to your experience of our service. Where we do so, this information will be used to improve our services for all customers.</li>
                                        </ul>
                                    </li>
                                    <li><strong>How we provide our services</strong>
                                        <p>In order to provide our services:</p>
                                        <ul>
                                            <li>In addition to your office requirements, we will require you to provide us with some personal data either over the telephone or by filling in electronic forms. Such personal data may include (but is not limited to) your name, email address and contact telephone number.</li>
                                            <li>We may contact you (by telephone and/or email) to discuss your office requirements in more detail. Where we contact you by telephone we will clearly identify ourselves and calls may be recorded for training, monitoring and quality purposes.</li>
                                            <li>We will send you details of the properties that match your criteria and, if applicable, we will arrange for a viewing schedule to be sent to you should you decide to view any of the properties that we have found for you.</li>
                                            <li>We may share your details with selected office providers in the areas that you have indicated an interest in. This may include providers with similar properties to the ones that you have chosen to receive details of. These providers may contact you by either email or phone to further discuss your office requirements. If you do not want us to use your personal data in this way, please contact us by email.</li>
                                        </ul>
                                        <p>
                                            At any point should you wish to stop being contacted by us with regard to an enquiry that you have submitted, please follow the instructions that will appear on our email communications.
                                        </p>
                                        <p>We do not currently undertake a marketing programme. However, we may do in future and if we were to do so then we would do so in accordance with applicable legislation.</p>
                                        <p>Personal data may be transferred or made accessible to other entities of our group (which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 2006) which may include entities outside of the country in which the personal data has been collected. This may include the transfer of personal data outside of the EEA to countries that may have different levels of data protection laws to the country from where the personal data was submitted. Your personal data may be transferred or made accessible to all entities of our group, wherever located, for the purposes of providing the services, in each case in accordance with all applicable data protection legislation.</p>
                                        <p>To the extent that the Provider processes personal data of the Client then the General Data Protection Regulations shall apply (as applicable)</p>
                                    </li>
                                    <li><strong>Security & Minimising Risk</strong>
                                        <p>Whilst we take necessary precautions and follow industry practice to protect its data and that of its clients, due to the nature of cyber threats, through for example phishing and other forms of compromise attacks, risks can never be completely eliminated.</p>
                                    </li>
                                    <li><strong>Retention Policy</strong>
                                        <p>Our general rule is that we only collect and use personal data to the extent necessary for us to provide the services that we have agreed to provide to you.</p>
                                        <p>In some circumstances, we may retain personal data for other periods of time, for instance where we are required to do so in accordance with legal, tax and accounting requirements, or if required to do so by a legal process, legal authority, or other governmental entity having authority to make the request, for so long as required.</p>
                                        <p>In specific circumstances, we may also retain your personal data for longer periods of time corresponding to a statute of limitation, so that we have an accurate record of your dealings with us in the event of any complaints or challenges.</p>
                                    </li>
                                    <li><strong>Your Rights</strong>
                                        <p>You may, subject to applicable law, have some or all of the following rights available to you in respect of your personal data</p>
                                        <ul>
                                            <li>the right to rectification</li>
                                            <li>the right to erasure</li>
                                            <li>the right to data portability</li>
                                            <li>the right to object</li>
                                            <li>rights in relation to automated decision making and profiling</li>
                                        </ul>
                                        <p>For more information on these rights please read the relevant guidance issued by the ICO at <a href="https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/individuals-rights/">https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/individuals-rights/</a></p>
                                        <p>If you would like more information about how we process your personal data, please contact your usual point of contact.</p>
                                    </li>
                                    <li><strong>Changes to this Policy</strong>
                                        Please note that we may revise this policy from time to time. We recommend that you review the website from time to time and take note of any changes.</li>
                                </ol>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="links">Links
                            </h2>
                            <div class="legal-content-desc">
                                <p>The Site contains links to other World Wide Web sites provided by third parties, either directly or through frames. Where possible, Nuclei Ltd will make clear where such links are being made. Nuclei Ltd is not responsible for the availability or content of Third Party Sites and will not be a party to, or in any way responsible for, any transaction concerning goods or services available from such Third Party Sites.
                                </p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="advertising">Advertising and Sponsorship</h2>
                            <div class="legal-content-desc">
                                <p>The Easy Offices website contains advertising, sponsorship and promotions from Third Parties. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on the Site complies with international and national law. easy offices will not be responsible for any error or inaccuracies in advertising material and content.
                                </p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="competitions">Competitions</h2>
                            <div class="legal-content-desc">
                                <p>From time to time the Easy Offices website will run competitions, free prize draws and promotions. These are subject to specific terms and conditions relating to that particular promotion.</p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="changestoterms">Changes To Terms and Conditions</h2>
                            <div class="legal-content-desc">
                                <p>The Company reserves the right to change the content, presentation, user facilities or availability of any part of the site and make changes in the software used to access the site at its sole discretion. Due to the constant updating and improvement of the site, Nuclei Ltd may wish to change these Terms (including those relating to your use of the Content). When terms are changed, Nuclei Ltd will notify you by e-mail or by publishing details of those changes. If you use the Site after Nuclei Ltd has published or notified you of the changes, you are agreeing now to be bound by those changes. If you do not agree to be bound by those changes, you should not use the Site.
                                </p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="governinglaw">Governing Law and Jurisdiction</h2>
                            <div class="legal-content-desc">
                                <p>These Terms and Conditions shall be governed by, English law. All parties agree that the courts of England shall have exclusive jurisdiction to settle any dispute which may arise out of, under, or in connection with these Terms, and for those purposes irrevocably submit all disputes to the jurisdiction of the English courts.</p>
                                <p>Nuclei Ltd shall retain the right to bring proceedings as to the substance of the matter in the courts of any other jurisdiction throughout the world.</p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                        <div class="legal-content-item">
                            <h2 class="legal-content-title" id="general">General</h2>
                            <div class="legal-content-desc">
                                <p>If any term of this Agreement is found to be illegal or unenforceable, the illegality of that provision will not affect the validity of the remaining provisions of these Terms, which shall remain in full force and effect.Failure by either party to exercise any right or remedy under this Agreement does not constitute a waiver of that right or remedy. Headings in these Terms are for convenience only and will have no legal meaning or effect.Easy Offices (UK) is a trading name of Nuclei Ltd., a company registered in England and Wales under number 3885236 whose registered office is at 2 A C Court, High Street, Thames Ditton, Surrey, KT7 0SR, United Kingdom.
                                </p>
                                <a href="#top" class="top-link">Top</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main><!-- /.site-main -->
    {% include "_partials/partial.footer.html" %} 
{% endblock %}
