{% extends "./_templates/template.default.html" %}
{% set page = "thank-you" %}
{% set title = "Thank you page" %}
{% set thankYou = true %}

{% block content %}
  {% include "_partials/partial.header.html" %}
    <main class="site-main" role="main">
        <section class="page-intro">
            <div class="container container-medium">
                <h1 class="page-intro-title">Thank you</h1>
                <p class="page-intro-text">Your request has been submitted to the Easy Offices team.</p>
            </div>
        </section>
        <section class="thank-you-content">
            <img src="images/thank-you/thank-you-1.jpg" alt="thank you page" class="thank-you-text-img">
            <div class="thank-you-text">
                <h3 class="thank-you-text-title">Next steps</h3>
                <p>You will receive details shortly from our partner about your chosen property, covering availability and pricing and any current offers. They may also wish to contact you to find out more about your office needs.</p>
                <!-- <ol class="thank-you-text-list">
                    <li>One of our property experts will be in touch shortly to find out more about your office needs</li>
                    <li>Once we know exactly what you’re after we’ll create a portfolio of office spaces and send this to you</li>
                    <li>When you find something you like you can arrange some viewings</li>
                </ol> -->
            </div>
        </section>

        <section class="latest-posts-grid">
            <div class="container container-medium">
                <h3 class="latest-posts-title">Office space latest</h3>
                <div class="latest-posts">
                    <div class="latest-posts-item">
                        <a href="javascript:;" class="latest-posts-item-link">
                            <img src="images/thank-you/thank-you-2.jpg" alt="latest posts" class="latest-posts-item-img">
                            <div class="latest-posts-item-data">
                                <h3 class="latest-posts-item-data-name">Top 10 serviced offices in London</h3>
                                <p class="latest-posts-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                                <p class="latest-posts-item-data-read-more">Read more</p>
                            </div>
                        </a>
                    </div>
                    <div class="latest-posts-item">
                        <a href="javascript:;" class="latest-posts-item-link">
                            <img src="images/thank-you/thank-you-3.jpg" alt="latest posts" class="latest-posts-item-img">
                            <div class="latest-posts-item-data">
                                <h3 class="latest-posts-item-data-name">The most popular offices in New York</h3>
                                <p class="latest-posts-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                                <p class="latest-posts-item-data-read-more">Read more</p>
                            </div>
                        </a>
                    </div>
                    <div class="latest-posts-item">
                        <a href="javascript:;" class="latest-posts-item-link">
                            <img src="images/thank-you/thank-you-4.jpg" alt="latest posts" class="latest-posts-item-img">
                            <div class="latest-posts-item-data">
                                <h3 class="latest-posts-item-data-name">Hybrid working solutions</h3>
                                <p class="latest-posts-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                                <p class="latest-posts-item-data-read-more">Read more</p>
                            </div>
                        </a>
                    </div>
                    <div class="latest-posts-item">
                        <a href="javascript:;" class="latest-posts-item-link">
                            <img src="images/thank-you/thank-you-5.jpg" alt="latest posts" class="latest-posts-item-img">
                            <div class="latest-posts-item-data">
                                <h3 class="latest-posts-item-data-name">Health and wellbeing at work</h3>
                                <p class="latest-posts-item-data-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vero.</p>
                                <p class="latest-posts-item-data-read-more">Read more</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
     
        {% include "_partials/partial.customer-reviews.html" with { title: true } %}
    </main><!-- /.site-main -->
  {% include "_partials/partial.footer.html" %} 
{% endblock %}
