	<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	    <script src="assets/jquery/dist/jquery.min.js"></script>
	<!--<![endif]-->
    <!-- // <script src="assets/svg4everybody/dist/svg4everybody.min.js"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAIwTPctnSM2PWcbK6cMdlZaSgEYIKp5U&libraries=places,geometry&language=rs"></script>
    <script src="js/all.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>-->
    <script src="js/init.min.js"></script>
  </body>
</html>

