<section class="locations">
    <div class="location-slider">
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/location-1.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">London</h3>
                    <p class="location-slider-item-data-description">From £XX per month</p>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/location-2.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Bristol</h3>
                    <p class="location-slider-item-data-description">From £XX per month</p>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/location-3.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Birmingham</h3>
                    <p class="location-slider-item-data-description">From £XX per month</p>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/location-4.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Manchester</h3>
                    <p class="location-slider-item-data-description">From £XX per month</p>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/location-5.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Edinburgh</h3>
                    <p class="location-slider-item-data-description">From £XX per month</p>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/location-6.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Cardiff</h3>
                    <p class="location-slider-item-data-description">From £XX per month</p>
                </div>
            </a>
        </div>
    </div>
</section>