<section class="workspace">
    <div class="workspace-intro-wrap">
        <div class="workspace-intro">
            <h2 class="workspace-intro-title">Workspace made easy</h2>
            <p>We’ll help you find the right workspace for your business. In the centre of the city, or close to home. Corporate, quirky, luxury or budget. Whatever you need, wherever you need it.</p>
        </div>
    </div>
    <div class="container">
        <div class="workspace-feature">
            <img src="images/workspace-1.jpg" alt="workspace" class="workspace-feature-image">
            <div class="workspace-feature-info">
                <h2>An office for your business and your budget</h2>
                <p>From instant-access, work-ready <a href="javascript:;">office space</a> for 1 person, to the entire floor of a building, Easy Offices will find the perfect serviced office or <a href="javascript:;">coworking space</a> for your business.</p>
            </div>
        </div>
        <div class="workspace-feature workspace-feature-reversed">
            <div class="workspace-feature-info">
                <h4 class="workspace-feature-info-subtitle heading-info">
                    <span class="heading-info-icon">{{icon('icon-pen', 'icon-20-20')}}</span>
                    <span class="heading-info-text">Design your office</span>
                </h4>
                <h2>Create a home for your business</h2>
                <p>From instant-access, work-ready office space for 1 person, to the entire floor of a building, Easy Offices will find the perfect serviced office or coworking space for your business.</p>
                <a href="javascript:;" class="btn btn-primary">Learn more</a>
            </div>
            <img src="images/workspace-2.jpg" alt="workspace" class="workspace-feature-image">
        </div>
        <div class="workspace-flexibility">
            <h2>Need more flexibility?</h2>
            <p class="workspace-flexibility-desc">You can also use our offices for a wide range of shorter-term solutions…</p>
            <div class="workspace-flexibility-list">
                <div class="workspace-flexibility-list-item">
                    <img src="images/workspace-flexibility-1.png" alt="workspace-flexibility">
                    <h3 class="workspace-flexibility-list-item-title">Day office</h3>
                    <p class="workspace-flexibility-lit-item-text">Get a private office you can use by the day, from one person to a team of 10.</p>
                    <a href="javascript:;" class="workspace-flexibility-lit-item-link">Learn more</a>
                </div>
                <div class="workspace-flexibility-list-item">
                    <img src="images/workspace-flexibility-2.png" alt="workspace-flexibility">
                    <h3 class="workspace-flexibility-list-item-title">Shared office</h3>
                    <p class="workspace-flexibility-lit-item-text">A cost-effective way to work without the commitment of a formal office.</p>
                    <a href="javascript:;" class="workspace-flexibility-lit-item-link">Learn more</a>
                </div>
                <div class="workspace-flexibility-list-item">
                    <img src="images/workspace-flexibility-3.png" alt="workspace-flexibility">
                    <h3 class="workspace-flexibility-list-item-title">Satellite office</h3>
                    <p class="workspace-flexibility-lit-item-text">Create local sales teams and get closer to your customers with no commitment.</p>
                    <a href="javascript:;" class="workspace-flexibility-lit-item-link">Learn more</a>
                </div>
                <div class="workspace-flexibility-list-item">
                    <img src="images/workspace-flexibility-4.png" alt="workspace-flexibility">
                    <h3 class="workspace-flexibility-list-item-title">Start-up office</h3>
                    <p class="workspace-flexibility-lit-item-text">Flexible space that lets you start small, stay as long as you need and grow freely.</p>
                    <a href="javascript:;" class="workspace-flexibility-lit-item-link">Learn more</a>
                </div>
                <div class="workspace-flexibility-list-item">
                    <img src="images/workspace-flexibility-5.png" alt="workspace-flexibility">
                    <h3 class="workspace-flexibility-list-item-title">Temporary office</h3>
                    <p class="workspace-flexibility-lit-item-text">Ready-to-use short-term space wherever and whenever you need it.</p>
                    <a href="javascript:;" class="workspace-flexibility-lit-item-link">Learn more</a>
                </div>
            </div>
        </div>
        <div class="workspace-feature workspace-feature-reversed workspace-feature-reversed-full">
            <div class="workspace-feature-info">
                <h2>Who uses Easy Offices?</h2>
                <p>Everyone. Digital nomads, corporates, fast-growing businesses, start-ups, mobile workers, consultants. People who want a great choice of workspaces, and a quick and easy way of finding them.</p>
                <a href="javascript:;" class="btn btn-primary">Browse offices</a>
            </div>
            <img src="images/workspace-3.jpg" alt="workspace" class="workspace-feature-image">
        </div>
    </div>
</section>