<section class="cta desktop">
    <div class="container">
        <div class="cta-content" style="background-image: url('images/cta-bg.jpg');">
            <h2 class="cta-content-title">Starting from £649 p/m</h2>
            <p class="cta-content-subtitle">Get a quote for Sheraton Street</p >
            <p><strong>Our advisers are here to help you with:</strong></p>
            <ul class="cta-list">
                <li>Current availability</li>
                <li>Pricing options</li>
                <li>Latest offers</li>
            </ul>
            <div class="cta-block">
                <img src="images/cta-image.png" alt="cta-image">
                <div class="cta-block-text">
                    <p>Call us now and we’ll make your search easier</p>
                    <a href="tel:02039449186" class="color-primary">020 3944 9186</a>
                </div>
            </div>
            
            <div class="office-info-item-cta">
                <a href="javascript:;" class="btn btn-primary">Get a quote</a>
                <a href="javascript:;" class="btn btn-secondary">Book a viewing</a>
            </div>
            <p class="cta-disclaimer">
                Prices shown are per desk per month and should be used as a guide only as they are affected by current availability, term required, and different grade of offices within the building. Current, accurate pricing for all offices will be provided when enquiring.
            </p>
        </div>
    </div>
</section>