<section class="breadcrumbs">
    <nav class="breadcrumbs-nav">
        <div class="breadcrumbs-nav-inner">
            <a href="" class="breadcrumbs-nav-link">Home</a> >
            <a href="" class="breadcrumbs-nav-link">United Kingdom</a> >
            <a href="" class="breadcrumbs-nav-link">Serviced office space</a> >
            <a href="javascript:;" class="breadcrumbs-nav-link is-active">Soho</a>
        </div>
        <div class="shortlist-number-of-items-link-wrap">
            <a href="javascript:;" class="shortlist-number-of-items-link js-shortlist-number-of-items-link">
                {{icon('icon-shortlist', 'icon--15-15 icon-shortlist')}}
                {{icon('icon-shortlisted', 'icon--11-11 icon-shortlisted')}}
                <span class="shortlist-number-of-items-text">Saved spaces</span> 
                <span class="js-shortlist-number-of-items shortlist-number-of-items">0</span>
            </a>
            {% include "partial.shortlist-overlay.html" %} 
        </div>
    </nav>
</section>