<section class="offices-slider-wrap">
    <div class="offices-slider-price-info">
        <span>From <span class="offices-slider-price">£649</span> p/m</span>
    </div>
    <div class="offices-slider">
        <div class="offices-slider-item">
            <img src="images/offices-1.jpg" alt="office name" class="offices-slider-img">
        </div>
        <div class="offices-slider-item">
            <img src="images/offices-2.jpg" alt="office name" class="offices-slider-img">
        </div>
        <div class="offices-slider-item">
            <img src="images/offices-3.jpg" alt="office name" class="offices-slider-img">
        </div>
        <div class="offices-slider-item">
            <img src="images/offices-1.jpg" alt="office name" class="offices-slider-img">
        </div>
        <div class="offices-slider-item">
            <img src="images/offices-2.jpg" alt="office name" class="offices-slider-img">
        </div>
        <div class="offices-slider-item">
            <img src="images/offices-3.jpg" alt="office name" class="offices-slider-img">
        </div>
    </div>
</section>