<form action="" class="js-shortlist-overlay shortlist-overlay is-empty">
    <a href="javascript:;" class="js-shortlist-overlay-close shortlist-overlay-close">
        {{icon('icon-close', 'icon-15-16')}}
    </a>
    <div class="shortlist-overlay-list">
        <h3 class="shortlist-overlay-empty-text">Your shortlist is empty</h3>
        <div class="js-shorlist-items shorlist-items"></div>
    </div>
    <div class="shortlist-overlay-cta">
        <h5 class="shortlist-overlay-cta-title">Enquire for all spaces</h5>
        <a href="javascript:;" class="js-modal-link btn btn-primary btn-full" data-id="modal-7">Get my quote</a>
    </div>
</form>
{% include "partial.form-7.html" %}