<section class="customer-reviews">
    <div class="container container-medium">
        {% if title == true %}
            <h2 class="customer-reviews-title desktop">Our happy customers</h2>
        {% endif %}
        <div class="customer-reviews-slider">
            <div class="customer-reviews-slider-item">
                <h4 class="customer-reviews-slider-item-name">Mark T
                    <span class="icon-star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                    </span>
                </h4>
                <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                <p class="customer-reviews-slider-item-location">London</p>
            </div>
            <div class="customer-reviews-slider-item">
                <h4 class="customer-reviews-slider-item-name">Emily H
                    <span class="icon-star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                    </span>
                </h4>
                <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                <p class="customer-reviews-slider-item-location">Glasgow</p>
            </div>
            <div class="customer-reviews-slider-item">
                <h4 class="customer-reviews-slider-item-name">John Y
                    <span class="icon-star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                    </span>
                </h4>
                <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                <p class="customer-reviews-slider-item-location">Bristol</p>
            </div>
            <div class="customer-reviews-slider-item">
                <h4 class="customer-reviews-slider-item-name">Mark T
                    <span class="icon-star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                    </span>
                </h4>
                <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                <p class="customer-reviews-slider-item-location">London</p>
            </div>
            <div class="customer-reviews-slider-item">
                <h4 class="customer-reviews-slider-item-name">Emily H
                    <span class="icon-star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                    </span>
                </h4>
                <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                <p class="customer-reviews-slider-item-location">Glasgow</p>
            </div>
            <div class="customer-reviews-slider-item">
                <h4 class="customer-reviews-slider-item-name">Mark
                    <span class="icon-star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                        <img src="images/icon-star.png" alt="green star">
                    </span>
                </h4>
                <p class="customer-reviews-slider-item-text">Conese ommoditios cupta et latus dic tor rem voluptation recturiandel illiquatis illori remoles nimincte ipsanda plitias volorum autendipsant od es nus doluptam.</p>
                <p class="customer-reviews-slider-item-location">Bristol</p>
            </div>
        </div>
    </div>
</section>