<section class="workspace-control">
    <div class="container container-medium">
        <h2 class="workspace-control-title">Take control of your workspace</h2>
        <div class="workspace-control-info">
            <div class="workspace-control-info-item">
                {{icon('icon-space', 'icon-31-34')}}
                <h3 class="workspace-control-info-item-title">The right space</h3>
                <p>Create a professional base for your team, or enjoy the buzz of a co-working space. Whatever you need, you’ll find it here.</p>
            </div>
            <div class="workspace-control-info-item">
                {{icon('icon-terms', 'icon-32-34')}}
                <h3 class="workspace-control-info-item-title">On your terms</h3>
                <p>Compare prices in every building across town, then choose the terms that suit you. From a few hours to few years – the choice is yours.</p>
            </div>
            <div class="workspace-control-info-item">
                {{icon('icon-search-large', 'icon-33-34')}}
                <h3 class="workspace-control-info-item-title">Quick and easy</h3>
                <p>Take the pain out of using multiple sites, with our powerful search tool. Find the space you need in a few clicks – wherever you are.</p>
            </div>
        </div>
    </div>
</section>