<section class="customers">
    <div class="customers-inner">
        <img src="images/help.png" alt="customers help">
        <div class="customers-info">
            <h2>Our team of experts are here to help</h2>
            <ul class="customer-info-list">
                <li class="customer-info-list-item">Current availability</li>
                <li class="customer-info-list-item">Pricing options</li>
                <li class="customer-info-list-item">Latest offers</li>
            </ul>
            <p class="customer-info-text">Call us now and we’ll make your search easier</p>
            <a href="tel:02039449567" class="customer-info-phone">020 3944 9567</a>
        </div>
    </div>
</section>