<section class="office-search" style="background-image: url('images/office-search.jpg');">
    <div class="office-search-form-wrap">
        <form action="javascript:;" method="" class="office-search-form">
            <h3 class="office-search-title">Find office space to rent, anywhere</h3>
            <div class="office-search-fields">
                <div class="office-search-field">
                    {{icon('icon-search', 'office-search-icon icon-15-16')}}
                    <input type="text" name="search" class="input office-search-input" id="search" value="" placeholder="City, street name or postcode">
                </div>
                <a href="javascript:;" class="js-use-location office-search-locate">{{icon('icon-locate', 'icon-27-23')}}</a>
            </div>
            <button type="submit" class="btn btn-primary office-search-submit">Search</button>
            <div class="office-search-suggestions">
                <a href="javascript:;" class="office-search-suggestion">London</a>
                <a href="javascript:;" class="office-search-suggestion">Bristol</a>
                <a href="javascript:;" class="office-search-suggestion">Manchester</a>
                <a href="javascript:;" class="office-search-suggestion">Birmingham</a>
            </div>
        </form>
    </div>
</section>