<section class="property-map desktop">
    <div class="map" id="map-single" data-lat="51.505603011998474" data-lng="-0.13710338238408518" data-address="2, Sheraton Street, W1F 8BH"></div>
    <h2 class="map-office-info">
        <div class="map-office-address js-map-office-address"></div>
        <a href="javascript:;" class="js-get-directions map-office-directions">Get directions</a>
    </h2>
</section>