<section class="facilities">
    <div class="facilities-content">
        <h2 class="facilities-intro-title">Facilities <span class="desktop-inline">at this workspace</span></h2>
        <p class="facilities-intro-text desktop">
            Whether you’re networking, meeting or focusing on work, this workspace gives you everything you need in one place. It’s all built for business, fully-furnished and ready when you are.
        </p>
        <div class="js-tab-group tab-group">
            <ul class="tabs-nav">
                <li class="js-tab-link tab-link current">Business</li>
                <li class="js-tab-link tab-link">Building</li>
                <li class="js-tab-link tab-link">Location</li>
                <li class="js-tab-link tab-link"><span class="desktop-inline">Food & </span>Extras</li>
            </ul>
            <div class="tabs-content-group">
                <div class="js-tab-content tab-content current">
                   <ul class="facilities-list">
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-1', 'icon-48-36')}}
                           <h5 class="facilities-list-item-name">Rolling monthly contracts</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-2', 'icon-48-36')}}
                           <h5 class="facilities-list-item-name">Secretarial support</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-3', 'icon-48-36')}}
                           <h5 class="facilities-list-item-name">Business lounge</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-4', 'icon-48-36')}}
                           <h5 class="facilities-list-item-name">Coworking / shared space</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-5', 'icon-48-36')}}
                           <h5 class="facilities-list-item-name">Elevator</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-6', 'icon-48-36')}}
                           <h5 class="facilities-list-item-name">Fully furnished</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-7', 'icon-48-36')}}
                           <h5 class="facilities-list-item-name">Virtual offices</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-8', 'icon-48-36')}}
                           <h5 class="facilities-list-item-name">Voicemail</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-9', 'icon-48-36')}}
                            <h5 class="facilities-list-item-name">Wifi</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-10', 'icon-48-36')}}
                            <h5 class="facilities-list-item-name">High speed internet</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-11', 'icon-48-36')}}
                            <h5 class="facilities-list-item-name">Hot desks</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-12', 'icon-48-36')}}
                            <h5 class="facilities-list-item-name">IT support</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-13', 'icon-48-36')}}
                            <h5 class="facilities-list-item-name">Manned reception</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-14', 'icon-48-36')}}
                            <h5 class="facilities-list-item-name">Video conferencing</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-15', 'icon-48-36')}}
                            <h5 class="facilities-list-item-name">Meeting rooms</h5>
                        </li>
                   </ul>
                </div>
                <div class="js-tab-content tab-content">
                    <ul class="facilities-list">
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-18', 'icon-46-40')}}
                           <h5 class="facilities-list-item-name">Rolling monthly contracts</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-19', 'icon-46-40')}}
                           <h5 class="facilities-list-item-name">Secretarial support</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-20', 'icon-46-40')}}
                           <h5 class="facilities-list-item-name">Business lounge</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-21', 'icon-46-40')}}
                           <h5 class="facilities-list-item-name">Coworking / shared space</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-22', 'icon-46-40')}}
                           <h5 class="facilities-list-item-name">Elevator</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-23', 'icon-46-40')}}
                           <h5 class="facilities-list-item-name">Fully furnished</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-24', 'icon-46-40')}}
                           <h5 class="facilities-list-item-name">Virtual offices</h5>
                        </li>
                        <li class="facilities-list-item">
                           {{icon('icon-facilities-25', 'icon-46-40')}}
                           <h5 class="facilities-list-item-name">Voicemail</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-26', 'icon-46-40')}}
                            <h5 class="facilities-list-item-name">Wifi</h5>
                        </li>
                        <li class="facilities-list-item">
                            {{icon('icon-facilities-27', 'icon-46-40')}}
                            <h5 class="facilities-list-item-name">High speed internet</h5>
                        </li>
                   </ul>
                </div>
                <div class="js-tab-content tab-content">
                    facilities 3
                </div>
                <div class="js-tab-content tab-content">
                    facilities 4
                </div>
            </div>
        </div>
    </div>
</section>