<section class="container container-medium">
    <div class="page-head">
        <h1 class="page-head-title">
            Serviced offices in Sheraton Street, Soho
            <p class="page-head-subtitle">2, Sheraton Street, W1F 8BH</p>
        </h1>
        <div class="add-or-remove-shortlist-single">
            <a href="javascript:;" class="js-add-to-shortlist add-or-remove-shortlist-single-link" data-id="property-111" data-name="Serviced offices in Sheraton Street, Soho" data-image="https://via.placeholder.com/120x80/09f/fff.png" data-price="£1900 pm">
                {{icon('icon-shortlist', 'icon--21-17')}} Add to shortlist
            </a>
            <a href="javascript:;" class="js-shortlist-overlay-item-remove hide add-or-remove-shortlist-single-link" data-id="property-111">
                {{icon('icon-shortlisted', 'icon--21-17')}} Remove from shortlist
            </a>
        </div>
    </div>
</section>