<section class="office-info">
    <div class="office-info-left">
        {% include "partial.get-quote.html" %}
        <div class="office-info-mobile">
            <div class="office-info-phone">
                <h3 class="office-info-phone-title">Serviced offices in Sheraton Street, Soho</h3>
                <div class="add-or-remove-shortlist-single">
                    <a href="javascript:;" class="js-add-to-shortlist add-or-remove-shortlist-single-link" data-id="property-111" data-name="Serviced offices in Sheraton Street, Soho" data-image="https://via.placeholder.com/120x80/09f/fff.png" data-price="£1900 pm">
                        {{icon('icon-shortlist', 'icon--21-17')}} Add to shortlist
                    </a>
                    <a href="javascript:;" class="js-shortlist-overlay-item-remove hide add-or-remove-shortlist-single-link" data-id="property-111">
                        {{icon('icon-shortlisted', 'icon--21-17')}} Remove from shortlist
                    </a>
                </div>
                <p class="office-info-phone-text">
                    We provide the space, community, and services you need to create your life’s work. Our modern, funky…
                </p>
                <a href="javascript:;" class="office-info-phone-more-link">Learn more</a>
            </div>
            <div class="office-info-tablet">
                <h3 class="office-info-tablet-title">A platform for creators</h3>
                <p class="office-info-tablet-text">We provide the space, community, and services you need to create your life’s work. Our modern, funky office space is designed to bring out the creative side of you. We have a range of co working desks and private offices available on long term and short term lets.</p>
                <a href="javascript:;" class="office-info-tablet-more-link">Learn more</a>
            </div>
        </div>
    </div>
    <div class="office-info-right">
        <div class="office-info-item desktop">
            <h3 class="office-info-item-title">Offering a platform for creators</h3>
            <p class="office-info-item-text">We provide the space, community, and services you need to create your life’s work. Our modern, funky office space is designed to bring out the creative side of you. We have a range of co working desks and private offices available on long term and short term lets.</p>
        </div>
        <div class="office-info-item tablet">
            <h3 class="office-info-item-title">Location</h3>
            <h4 class="office-info-item-location">2, Sheraton Street, W1F 8BH</h4>
            <a href="javascript:;" class="office-info-item-get-directions">Get directions</a>
            <div class="office-info-item-cta">
                <a href="javascript:;" class="btn btn-secondary">View location map</a>
            </div>
        </div>
        <div class="office-info-item">
            <h3 class="office-info-item-title">What will it cost?</h3>
            <h4 class="office-info-item-subtitle">Office space from £POA p/m</h4>
            <div class="office-info-item-cta">
                <a href="javascript:;" class="btn btn-primary">Get a quote</a>
                <a href="javascript:;" class="btn btn-secondary">Book a viewing</a>
            </div>
        </div>
        <div class="office-info-item">
            <h3 class="office-info-item-title">How do you want your office?</h3>
            <p class="office-info-item-text">Whatever you need, we can help create the right solution for your business and your budget. From a simple space for 2 people to a fully-customised home for your entire business.</p>
            <div class="office-type">
                <img src="images/standard-office.png" alt="standard office" class="office-type-image">
                <div class="office-type-desc">
                    <h5 class="office-type-desc-title">Standard office</h5>
                    <p class="office-type-desc-text">Practical space for teams of all sizes</p>
                </div>
            </div>
            <div class="office-type">
                <img src="images/window-office.png" alt="window office" class="office-type-image office-type-image-specific">
                <div class="office-type-desc">
                    <h5 class="office-type-desc-title">Window office</h5>
                    <p class="office-type-desc-text">Rooms with a view and natural light</p>
                </div>
            </div>
            <div class="office-type">
                <img src="images/office-suite.png" alt="office suite" class="office-type-image">
                <div class="office-type-desc">
                    <h5 class="office-type-desc-title">Office suite</h5>
                    <p class="office-type-desc-text">Team space with integrated meeting area</p>
                </div>
            </div>
            <div class="office-type">
                <img src="images/large-scale-office.png" alt="large scale office" class="office-type-image">
                <div class="office-type-desc">
                    <h5 class="office-type-desc-title">Large-scale office</h5>
                    <p class="office-type-desc-text">Need a whole floor or more to house a team of 50-200 people?</p>
                </div>
            </div>
            <p class="office-info-item-text">Talk to our team about the different options available and how we can customise a solution for you.</p>
            <a href="javascript:;" class="btn btn-primary">Tell us what you need</a>
        </div>
        <div class="office-info-item">
            <h3 class="office-info-item-title">All-Inclusive pricing</h3>
            <p class="office-info-item-text">Your monthly cost covers everything you need to operate your office, with no need for any capital expense or investment.</p>
            <ul class="office-info-item-list">
                <li class="office-info-item-list-item">{{icon('icon-all-inclusive-1', 'icon-27-24')}} Furniture, fixtures and fittings</li>
                <li class="office-info-item-list-item">{{icon('icon-all-inclusive-2', 'icon-25-25')}} Utilities and business rates</li>
                <li class="office-info-item-list-item">{{icon('icon-all-inclusive-3', 'icon-31-22')}} IT and communications</li>
                <li class="office-info-item-list-item">{{icon('icon-all-inclusive-4', 'icon-25-25')}} Receptionist and support team</li>
                <li class="office-info-item-list-item">{{icon('icon-all-inclusive-5', 'icon-22-21')}} Use of business lounge and communal areas</li>
            </ul>
        </div>
        <div class="office-info-item">
            <h4 class="heading-info">
                <span class="heading-info-icon">{{icon('icon-pen', 'icon-20-20')}}</span>
                <span class="heading-info-text">Design your office</span>
            </h4>
            <h3 class="office-info-item-title">Design your office</h3>
            <h3 class="office-info-item-title color-primary">Create a home for your business</h3>
            <p class="office-info-item-text">Make your office a great place to work by configuring the layout to suit how you work, then choosing everything from furniture to storage, accessories, plants, decoration and branding.</p>
            <div class="office-design">
                <img src="images/table.png" alt="design your office" class="office-design-item">
                <img src="images/chair-1.png" alt="design your office" class="office-design-item">
                <img src="images/chair-2.png" alt="design your office" class="office-design-item">
                <img src="images/plant.png" alt="design your office" class="office-design-item">
            </div>
            <div class="office-design-cta">
                <a href="javascript:;" class="btn btn-secondary">Learn more</a>
            </div>
        </div>
        
    </div>
</section>