<div class="modal js-modal" id="modal-7">
    <div class="modal-container">
        <a href="javascript:;" class="js-modal-close modal-close">×</a>
        <div class="modal-content">
            <div class="form-type form-type-1">
                <form class="form" autocomplete="off">
                    <h3 class="form-title">Get a Quote for X Saved Spaces</h3>
                    <p class="form-desc">We’ll send you everything you need, from pricing and service costs, to availability and terms.</p>
                    <div class="form-fields">
                        <div class="form-field">
                            <input type="text" name="address" id="name" value="2, Sheraton Street" class="input input-primary" placeholder="Name">
                        </div>
                        <div class="form-field">
                            <input type="text" name="phone" id="telephone" value="" class="input input-primary" placeholder="Telephone">
                        </div>
                        <div class="form-field">
                            <input type="email" name="email" id="email" value="" class="input input-primary" required placeholder="Email">
                        </div>
                        <div class="form-field">
                            <input type="text" name="company" id="company" value="" class="input input-primary" placeholder="Company">
                        </div>
                        <div class="form-filed">
                            <input type="text" name="start-date" id="datepicker" value="" placeholder="Start date" class="input input-primary input-date datepicker">
                        </div>
                        <div class="form-filed">
                            <p>
                                <input type="text" id="people" class="hide" readonly>
                                <label for="people" class="number-of-people-value" data-value="1">People</label>
                            </p>
                            <div id="number-of-people" class="number-of-people-slider"></div>
                            <div class="number-of-people-info">
                                <span>1</span>
                                <span>100+</span>
                            </div>
                        </div>
                        <div class="form-field form-field-full-width">
                            <textarea name="notes" id="notes" class="input input-textarea" onkeyup="autoGrow(this)" placeholder="Anything else you would like us to know?"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Get my quote</button>
                    </div>
                </form>
                <div class="form-shortlisted-items">
                    <h2 class="form-shortlisted-items-title">Your saved spaces</h2>
                    <div class="js-shorlist-items shorlist-items"></div>
                </div>
            </div>
        </div>
    </div>
</div>