<div class="js-shortlist shortlist-secondary is-empty">
    <div class="shortlist-info js-shortlist-info">
        <div class="shortlist-info-item">
            {{icon('icon-choose', 'icon-57-63')}}
            <div>
                <h4 class="shortlist-info-item-title">Choose</h4>
                <p class="shortlist-info-item-text">Choose your favourite</p>
            </div>
        </div>
        <div class="shortlist-info-item">
            {{icon('icon-check-circle', 'icon-59-61')}}
            <div>
                <h4 class="shortlist-info-item-title">Book</h4>
                <p class="shortlist-info-item-text">Book a viewing or get a quote</p>
            </div>
        </div>
        <div class="shortlist-info-item">
            {{icon('icon-relax', 'icon-56-61')}}
            <div>
                <h4 class="shortlist-info-item-title">Relax</h4>
                <p class="shortlist-info-item-text">Wee'll contact you with information and next steps</p>
            </div>
        </div>
    </div>
    <div class="shortlist-secondary-list">
        <h3 class="shortlist-secondary-list-title">Your saved spaces</h3>
        <div class="js-shorlist-items shorlist-items"></div>
        <div class="shortlist-overlay-cta">
            <h5 class="shortlist-overlay-cta-title">Enquire for all spaces</h5>
            <a href="javascript:;" class="js-modal-link btn btn-primary btn-full" data-id="modal-7">Get my quote</a>
        </div>
    </div>
</div>