<form action="javascript:;" class="get-quote" autocomplete="off">
    <h3 class="get-quote-title">Get a quote for 
        <span class="get-quote-address">Sheraton Street</span>
    </h3>
    <p class="get-quote-text">Call us now to make your search easier <a href="tel:02035049929" class="get-quote-tel">020 3504 9929</a></p>
    <div class="get-quote-fields">
        <div class="get-quote-fields-half">
            <div class="form-field">
                <input type="text" name="address" id="" value="2, Sheraton Street" class="input input-primary">
            </div>
            <div class="select form-field">
                <select name="size" id="" class="input input-primary input-select" required>
                    <option value="" disabled selected hidden>Size</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label id="size-error" class="error" for="size">This field is required.</label>
            </div>
            <div class="form-field">
                <input type="text" name="start-date" id="datepicker" value="" placeholder="Start date" class="input input-primary input-date datepicker">
                <label id="size-error" class="error" for="size">This field is required.</label>
            </div>
            <div class="form-field">
                <input type="text" name="name" id="" value="" class="input input-primary" placeholder="Name">
                <label id="size-error" class="error" for="size">This field is required.</label>
            </div>
            <div class="form-field">
                <input type="text" name="company" id="" value="" class="input input-primary" placeholder="Company">
                <label id="size-error" class="error" for="size">This field is required.</label>
            </div>
            <div class="form-field">
                <input type="text" name="phone" id="" value="" class="input input-primary" placeholder="Phone">
            </div>
        </div>
        <input type="email" name="email" id="" value="" class="input input-primary" placeholder="Email" required>
        <textarea name="notes" id="notes" placeholder="Notes" class="input input-textarea" onkeyup="autoGrow(this)"></textarea>
        <button type="submit" class="btn btn-primary get-quote-submit">Send me my quote</button>
    </div>
</form>