<section class="property-map">
    <div class="property-map-items">
        <div class="js-property-item" data-property-id="property-444" data-lat="51.505603011998474" data-lng="-0.13710338238408518" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
        <div class="js-property-item" data-property-id="property-445" data-lat="51.50974588368023" data-lng="-0.13498082345103457" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
        <div class="js-property-item" data-property-id="property-446" data-lat="51.50580824053163" data-lng="-0.12612995869042196" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
        <div class="js-property-item" data-property-id="property-447" data-lat="51.51146708950755" data-lng="-0.12169999454274391" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
    </div>
    <h2 class="map-info">{{ mapInfoTitle }}</h2>
    <!-- <div id="map" class="map"></div> -->
    <div id="near-map" class="map"></div>
</section>