<footer class="footer">
    <div class="container container-medium">
        <div class="footer-nav">
            <div class="footer-nav-item">
                <h4 class="footer-nav-item-title">Quick links</h4>
                <ul class="footer-nav-item-list footer-nav-item-list-quick">
                    <li><a href="" class="footer-nav-item-list-link">Home</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Contact us</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Blog</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Register your workspace</a></li>
                    <li><a href="" class="footer-nav-item-list-link">What are serviced offices?</a></li>
                    <li><a href="" class="footer-nav-item-list-link">What is coworking space?</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Meeting rooms</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Virtual offices</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Sitemap</a></li>
                </ul>
            </div>
            <div class="footer-nav-item">
                <h4 class="footer-nav-item-title">Popular serviced offices</h4>
                <ul class="footer-nav-item-list">
                    <li><a href="" class="footer-nav-item-list-link">London office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Mayfair office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Bank office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Liverpool Street office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Victoria office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Soho office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Manchester office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Edinburgh office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Birmingham office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Bristol office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Leeds office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Milton Keynes office space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">All office space in the UK</a></li>
                </ul>
            </div>
            <div class="footer-nav-item footer-nav-item-coworking">
                <h4 class="footer-nav-item-title">Popular coworking spaces</h4>
                <ul class="footer-nav-item-list">
                    <li><a href="" class="footer-nav-item-list-link">London coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Manchester coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Edinburgh coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Glasgow coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Leeds coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Shoreditch coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Birmingham coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Brighton coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Liverpool coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">Oxford coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">East London coworking space</a> </li>
                    <li><a href="" class="footer-nav-item-list-link">Cardiff coworking space</a></li>
                    <li><a href="" class="footer-nav-item-list-link">All coworking space in the UK</a></li>
                </ul>
            </div>
            <div class="footer-nav-item">
                <h4 class="footer-nav-item-title">About us</h4>
                <div class="footer-nav-item-text">
                    <p>We created Easy Offices for one simple reason. To make it easier for people to find great places to work. To gather every square foot of workspace in the world and put in all under one roof.</p>
                    <a href="javascript:;">Browse spaces</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-newsletter">
        <div class="footer-newsletter-inner">
            <div class="footer-newsletter-text">
                <h4>Stay informed</h4>
                <p>Sign up to receive our latest news and offers.</p>
            </div>
            <form method="post" class="newsletter-form">
                <input type="email" name="newsletter-email" id="newsletter-email" class="input input-primary newsletter-form-input" placeholder="Enter your email address">
                <button type="submit" class="btn btn-primary newsletter-form-btn">Sign up</button>
            </form>
        </div>
    </div>
    <div class="container container-medium">
        <div class="footer-nav-bottom">
            <div class="footer-nav-bottom-left">
                <nav class="footer-nav-bottom-links">
                    <a href="javascript:;" class="footer-nav-bottom-links-item">Terms</a>
                    <a href="javascript:;" class="footer-nav-bottom-links-item">Privacy</a>
                    <a href="javascript:;" class="footer-nav-bottom-links-item">Cookie</a>
                </nav>
                <p class="footer-nav-bottom-copy">Copyright © 2020 Easy Offices. All rights reserved.</p>
            </div>
            <div class="footer-nav-bottom-right">
                <a href="javascript:;" class="footer-nav-bottom-right-link">{{icon('icon-question', 'icon-29-27')}}</a>
                <a href="javascript:;" class="footer-nav-bottom-right-link">{{icon('icon-question', 'icon-29-27')}}</a>
                <a href="javascript:;" class="footer-nav-bottom-right-link">{{icon('icon-question', 'icon-29-27')}}</a>
            </div>
        </div>
    </div>
</footer><!-- /.footer -->