<section class="related-offices">
    <div class="container container-medium">
        <h3 class="related-offices-title">{{title}}</h3>
        <div class="related-office" id="related-office">
            <a class="related-office-item" href="javascript:;">
                <div class="related-office-item-inner">
                    <img src="images/related-office-1.jpg" class="related-office-item-img" alt="office name">
                    <h5 class="related-office-item-price">£637 pm</h5>
                </div>
                <h6 class="related-office-item-address">Oxford Street, W1</h6>
            </a>
            <a class="related-office-item" href="javascript:;">
                <div class="related-office-item-inner">
                    <img src="images/related-office-2.jpg" class="related-office-item-img" alt="office name">
                    <h5 class="related-office-item-price">£637 pm</h5>
                </div>
                <h6 class="related-office-item-address">Winsley Street, W1</h6>
            </a>
            <a class="related-office-item" href="javascript:;">
                <div class="related-office-item-inner">
                    <img src="images/related-office-3.jpg" class="related-office-item-img" alt="office name">
                    <h5 class="related-office-item-price">£637 pm</h5>
                </div>
                <h6 class="related-office-item-address">Oxford Street, W1</h6>
            </a>
            <a class="related-office-item" href="javascript:;">
                <div class="related-office-item-inner">
                    <img src="images/related-office-4.jpg" class="related-office-item-img" alt="office name">
                    <h5 class="related-office-item-price">£637 pm</h5>
                </div>
                <h6 class="related-office-item-address">Winsley Street, W1</h6>
            </a>
            <a class="related-office-item" href="javascript:;">
                <div class="related-office-item-inner">
                    <img src="images/related-office-1.jpg" class="related-office-item-img" alt="office name">
                    <h5 class="related-office-item-price">£637 pm</h5>
                </div>
                <h6 class="related-office-item-address">Oxford Street, W1</h6>
            </a>
            <a class="related-office-item" href="javascript:;">
                <div class="related-office-item-inner">
                    <img src="images/related-office-2.jpg" class="related-office-item-img" alt="office name">
                    <h5 class="related-office-item-price">£637 pm</h5>
                </div>
                <h6 class="related-office-item-address">Winsley Street, W1</h6>
            </a>
            <a class="related-office-item" href="javascript:;">
                <div class="related-office-item-inner">
                    <img src="images/related-office-3.jpg" class="related-office-item-img" alt="office name">
                    <h5 class="related-office-item-price">£637 pm</h5>
                </div>
                <h6 class="related-office-item-address">Oxford Street, W1</h6>
            </a>
            <a class="related-office-item" href="javascript:;">
                <div class="related-office-item-inner">
                    <img src="images/related-office-4.jpg" class="related-office-item-img" alt="office name">
                    <h5 class="related-office-item-price">£637 pm</h5>
                </div>
                <h6 class="related-office-item-address">Winsley Street, W1</h6>
            </a>
        </div>
    </div>
</section>