<section>
    <div class="container container-medium">
        <div class="promises-content">
            <h2 class="promises-title">The Easy Offices promise</h2>
            <div class="promises-list">
                <div class="promises-list-item">
                    {{icon('icon-promise-1', 'icon-57-63')}}
                    <h4 class="promises-list-item-title">Expert advice</h4> 
                    <p class="promises-list-item-text">Trust our impartial industry experts to guide your search and help you find your ideal workspace</p>
                </div>
                <div class="promises-list-item">
                    {{icon('icon-promise-2', 'icon-59-61')}}
                    <h4 class="promises-list-item-title">The widest choice</h4>
                    <p class="promises-list-item-text">From affordable offices to iconic, landmarks, we put the widest choice of workspace in one place</p>
                </div>
                <div class="promises-list-item">
                    {{icon('icon-promise-3', 'icon-56-61')}}
                    <h4 class="promises-list-item-title">Tailored to you</h4>
                    <p class="promises-list-item-text">Everything is tailored to your needs – from service terms to our all-inclusive packages</p>
                </div>
                <div class="promises-list-item">
                    {{icon('icon-promise-4', 'icon-64-63')}}
                    <h4 class="promises-list-item-title">Easy end-to-end</h4>
                    <p class="promises-list-item-text">We take the frustration out of finding workspace – and make every stage of the process simple</p>
                </div>
            </div>
        </div>
    </div>
</section>